[2018-02-04 13:50] ivanms1 commented on #28
Hello everyone, my deploy was successful but I got three endpoints instead of 5 like in the example code.
I got the first
POST ...
GET ....
GET ....
but no PUT and DELETE, is this an issue? how can I go about it?
I got all the functions by the way.

[2018-02-04 14:41] zipper1972 commented on #48
Upon attempting to log in, I was getting the following error:

`TypeError: __WEBPACK_IMPORTED_MODULE_0_aws_sdk_global__["util"].crypto.lib.randomBytes is not a function. (In '__WEBPACK_IMPORTED_MODULE_0_aws_sdk_global__["util"].crypto.lib.randomBytes(128)', '__WEBPACK_IMPORTED_MODULE_0_aws_sdk_global__["util"].crypto.lib.randomBytes' is undefined)`

I'm running AWS SDK version 2.188
Downgrading to

[2018-02-04 15:23] topguncharl commented on #112
I also got the "status: 403" whentesting my API, however thanks to the great people working with "serverless-stack" I found my way to a solution (although it took some trial and error). To help others I paste my documented log of what I did to resolve the issue below.
My initial response ->
Response ->
{ status: 403,
  statusText: 'Forbidden',
  data:
   { Message: 'User: arn:aws:sts::477655596505

[2018-02-04 21:20] walshe commented on #35
having issues adding a dropdown menu just before the logout button:  Syntax error: Adjacent JSX elements must be wrapped in an enclosing tag (69:18).

According to docs [here](https://react-bootstrap.github.io/components/navbar/#navbars-basic) this should be fine

any ideas ?

[code]

[2018-02-05 12:57] PraneshBalekai commented on #46
Is there a link/reference to how to register the user with an Identity pool after sign up?

[2018-02-05 17:56] jayair commented on #23
@jdbohrman It seems like a path issue or the `dynamodb-lib.js` was not added in properly. Can you confirm there is a `libs/` directory off root of your project?

[2018-02-05 17:58] jayair commented on #184
@topguncharl Can you edit the page where you see this and submit a pull request?

[2018-02-05 18:03] jayair commented on #55
@teejK Yeah it is redundant. In our case we only have `content` and `attachment` inside a note object. The reason I left it in there is because we want to update the current note with the newly edited values.

[2018-02-05 18:04] jayair commented on #28
@ivanms1 Can I see your `serverless.yml`?

[2018-02-05 18:06] jayair commented on #48
@zipper1972 Thanks for reporting. Some other folks had run into this issue as well. Something was off on the AWS SDK end.

[2018-02-05 18:20] jayair commented on #112
@topguncharl Thank you very much for adding in detail your debug process. It will help a lot of other folks that are going to go through it. I formatted it a bit with some Markdown for clarity.

[2018-02-05 18:28] jayair commented on #35
@harleyguru The `href` ensures will make the page reload and go the URL. The `onClick` on the other hand uses React Router to update the URL of our app and does not need a reload.

@farrantch Hmm that's a bit strange. It shouldn't happen but the **LinkContainer** is a good option here and makes sense as well.

[2018-02-05 18:30] jayair commented on #46
@PraneshBalekai What do you mean by registering a user with an Identity Pool?

[2018-02-05 19:34] shawnnolanjr opened #185 "Bootstrap _reboot.scss overriding styling all of a sudden."
Has anyone else ran into this issue? Not sure how to resolve this since I'm referencing the CDN version of Bootstrap. This was working fine, and then after a day it just changed.

Thx.

![screen shot 2018-02-05 at 11 32 04 am](https://user-images.githubusercontent.com/8684308/35824704-8b742510-0a68-11e8-840e-4b4416efd873.png)

[2018-02-06 09:26] PraneshBalekai commented on #46
I want to use Federated Identities in Cognito. I already created an identity pool and added my cognito user pool as an authentication provider. However, it does not automatically register as a new identity when I call confirmRegistration or authenticateUser. I tried to follow the method as given in use case 4 of   https://github.com/aws/amazon-cognito-identity-js and tried to refresh but it doesn'

[2018-02-06 22:25] walshe commented on #33
I have a serverless oauth method (below) that gets called by an external provider. In there I do the oauth dance and create a JWT token that I want to send securely to my react app.

Ideally I want to pass it in a redirect header, but  not user if i can receive that easy in my react route component . Any one know how ?

[code]

In react app:

route:

`<Route path="/bc-login-success" exact componen

[2018-02-07 00:48] ivanms1 commented on #28
sure, here it is.

2018-02-06 3:04 GMT+09:00 Jay V <notifications@github.com>:

[2018-02-07 00:53] ivanms1 commented on #28
@jayair  Sure, here it is.
`service: notes-app-api

plugins:
  - serverless-webpack

custom:
  webpackIncludeModules: true

provider:
  name: aws
  runtime: nodejs6.10
  stage: prod
  region: us-east-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:State-change
        - dynamodb:GetItem
        - dynamodb:PutItem

[2018-02-07 00:54] ivanms1 commented on #28
`
service: notes-app-api # NOTE: update this with your service name

plugins:
  - serverless-webpack

custom:
  webpackIncludeModules: true

provider:
  name: aws
  runtime: nodejs6.10
  stage: prod
  region: us-east-2
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:State-change
        - dynamodb:GetItem
        -

[2018-02-07 00:55] ivanms1 commented on #28
[code]

[2018-02-07 00:55] ivanms1 commented on #28
@jayair sure, here it is.
[code]

[2018-02-09 13:21] jatazoulja commented on #110
@sanjosedennis7593 can you share your code? I am also block by `AWS.config.credentials.getPromise()` not waiting to resolve or alway undefined (not async)
in any case could this help:
https://github.com/aws/aws-sdk-js/issues/1097

please share if your successful...

[2018-02-09 17:06] NYCSwan commented on #52
Hi! I'm working through your tutorial and have hit a snag. I've adapted the tutorial for the project I'm working on so there are a few extra functions and db tables. I don't think that's where the problem stems from after following your debugging instructions but wanted to mention that in case it is the problem. Essentially, I can invoke the api gateway fns from the terminal with 'sls deploy' and

[2018-02-09 18:07] jayair commented on #46
@PraneshBalekai We do use Federated Identities in this tutorial. We call `confirmRegistration` right here - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/containers/Signup.js#L106.

It sounds like you are getting an error because it wasn't configured properly.

[2018-02-09 18:12] jayair commented on #33
@walshe You can check the headers you are retuning in your API call here - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/awsLib.js#L42 as `results.headers`.

[2018-02-09 18:17] jayair commented on #28
@ivanms1 Your `PUT` and `DELETE` handlers use the keyword `event` instead of `events`.

[2018-02-09 18:29] jayair commented on #52
@NYCSwan Hmm so you are able to write to the db but when you read from it you get an empty result with a 200 status?

It might be that the table you are writing to (with the user id) and the one you are fetching from is not the same?

[2018-02-09 19:23] emb03 commented on #25
I am getting the same 'undefined' issue as bimbo1989.

[2018-02-09 21:49] dwavid commented on #35
I'm getting the same thing where the page is refreshing twice.

[2018-02-09 22:36] emb03 commented on #18
How do you retrieve the username and password of the first user?

[2018-02-10 00:57] NYCSwan commented on #52
@jayair You got it. I can write to the db but it returns an empty hash when I try to get or list items from a table.  I found another bug when I try to get one single item. I get a 403 preflight cors issue or TypeError: body stream already read error.

Get Method
[code]
I'm watching the actual lambdas & API-Gateway-Execution-Logs

logs from /gardens/{id}:
[code]

From the api_gateway logs, Is Meth

[2018-02-10 11:11] ivanms1 commented on #28
@jayair oh silly me, thank you so much!

[2018-02-10 11:29] walshe commented on #33
@jayair its not an api call I am making. Its a redirect from my api TO my app. (external provider -> oauth api gateway -> react app).  I am redirecting to react app with header and wondering how i can see those headers in the react route component

[2018-02-11 09:32] ivanms1 commented on #112
@jayair Hello it's me again, sorry to bother you again.
I am getting the following error now
[code]
I've tried to navigate through the comments having the same error, I went back to the 1.17.0 serverless version, and then I couldn't re-deploy because I got an error about updating Lambda. The CloudWatch logs don't say too much either.

[2018-02-12 03:45] jatazoulja opened #187 "Facebook/Google social integration using USER POOL custom UI."
hey!

hope this helps...
**## just a caveat:**

- I am using user pool custom UI not federated identity...
- I'm still debugging as of the moment.

for the function in the `awsLibs.js`

I added:
https://gist.github.com/jatazoulja/a0cfcf23cf8a55e5306e1ebda58f680e

On your route add:
`<UnauthenticatedRoute path="/oauth" exact component={OAuth} props={childProps} />`
* please note to add "/" on your

[2018-02-12 19:49] jayair commented on #35
@dwavid @farrantch Can you maybe share your repo so I can see what is going on? It might be an update to one of our dependencies.

[2018-02-12 19:54] jayair commented on #52
@NYCSwan This `The provided key element does not match the schema` is not good. It sounds like the table has not been set up properly. What does the table structure look like right now? And the query you are using to get an object?

[2018-02-12 19:57] jayair commented on #33
@walshe You cannot get the headers of the current webpage through client side JS. So you would probably need to pass it through the query string.

[2018-02-12 19:59] jayair commented on #112
@ivanms1 This is an error we generate in our Lambda. So you can add `console.log` in the Lambda to debug what is going on. The logs will show up in CloudWatch.

[2018-02-12 20:00] jayair commented on #187
@jatazoulja This is great. Once you work your way through it. Can you share the steps you took to get it to work?

[2018-02-12 20:31] walshe commented on #33
yeah thats the conclusion I came to also. Have passed a queryString over https. Assume thats good enough

[2018-02-12 21:30] hlgr360 commented on #14
On MacOS you can safely ignore the installations on the page and just follow https://docs.aws.amazon.com/cli/latest/userguide/cli-install-macos.html#awscli-install-osx-path

[2018-02-13 00:33] jatazoulja commented on #187
Will do! currently i am planning to 2 environment (localhost, devhost). I'll document my steps for everyone.

Once i integrated social its really hard to toggle between localhost and dev environment. Since i need to configure FB and cognito to point to local and back to devhost.

[2018-02-13 03:30] zamirkhan commented on #64
@jayair I've come quite far with the app that I built using this tutorial and it's been great so far. However, I've come to a point where server-side rendering is looking like a path I need to go down, since I need certain links from my app to be crawl-able by Facebook, for example. I've read about services like prerender.io or Netlify and also about things like Next.js or setting up a web-server

[2018-02-13 23:30] jatazoulja commented on #187
closing this one;

1. Wrong PROJECT;
2. I already made a PR ([the right project.](https://github.com/AnomalyInnovations/serverless-stack-demo-client/pull/26))

[2018-02-13 23:30] #187 closed

[2018-02-14 14:43] Vadorequest commented on #23
I don't understand why you need to enable CORS both in the config file and in the code headers. Why won't once be enough?

[2018-02-16 03:46] ivanms1 commented on #112
@jayair by Lambda you mean the create, delete, etc functions?

[2018-02-16 22:29] ReedME commented on #23
Cannot read property 'events' of null

I'm getting the above error when attempting to run serverless invoke local --function create --path mocks/create-event.json

`import uuid from "uuid";
import AWS from "aws-sdk";

AWS.config.update({ region: "ap-southeast-2" });
const dynamoDb = new AWS.DynamoDB.DocumentClient();

export function main(event, context, callback) {
 // request body is passed in a

[2018-02-17 00:09] jayair commented on #64
@zamirkhan I think Next.js is a good option for SSR with React. The structure of their apps are a bit different but they have been consistently getting better.

[2018-02-17 00:11] jayair commented on #112
@ivanms1 Yeah it is in those functions that we generate this error. For example, for the `get` case we generate it here - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/get.js#L25

So you could add some debug messages before that line to see what is going on.

[2018-02-17 00:16] jayair commented on #23
@Vadorequest The one in the config is to enable it CORS. But what you decide to send in the headers is in the code.

[2018-02-17 00:16] jayair commented on #23
@ReedME Hmm that looks okay. Which version of Serverless are you using?

[2018-02-17 01:03] ReedME commented on #23
@jayair Serverless version 1.26.0

[2018-02-17 01:09] jayair commented on #23
@ReedME Can I try out your repo to test this?

[2018-02-17 02:36] ReedME commented on #23
@jayair https://github.com/ReedME/scratchnotes

[2018-02-17 08:25] ivanms1 commented on #112
@jayair I already have a console.log in all those functions, maybe I set up the CloudWatch wrong, I still get logs tho. I don't see an error message anywhere
[code]

[2018-02-17 15:50] tommedema commented on #64
@jayair how do you compare Next.js with Gatsby?

[2018-02-18 22:47] jayair commented on #23
@ReedME Your `serverless.yml` is not properly formatted. Make sure it looks like this - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/add-a-create-note-api/serverless.yml

[2018-02-18 22:50] jayair commented on #112
@ivanms1 Are these the Lambda logs? You should be able to see your `console.log` if you followed the steps in this chapter - https://serverless-stack.com/chapters/api-gateway-and-lambda-logs.html

[2018-02-18 22:55] jayair commented on #64
@tommedema I think because of the original intentions of the projects, Gatsby is more for static content or structured dynamic content (like blogs). Whereas Next.js is a framework for building SSR React apps. But both the projects have evolved where there is quite a bit of overlap in the use cases.

For me personally; I'd use Gatsby for blogs and other CMS-style projects and Next.js for web apps w

[2018-02-19 07:02] ivanms1 commented on #112
@jayair ok I think I am finally getting somewhere here, after I realized I've been looking at the wrong logs.
This is the error I a getting on my create function.
[code]

I checked my create.js I corrected one typo, but I am still getting the same error.

[2018-02-19 11:11] qazuor commented on #112
Hi @jayair . I have the same problem that @ivanms1. API call test fail because userId is missing.

This is my API call test:

[code]

I put a console logs in my function first to log the error:

[code]

And the to see what info have in event.requestContext:

[code]

All cognito related info, into event.requestContext.identity is empty.

I google it for hours but, I cant found any solution.

This i

[2018-02-19 20:48] walshe opened #189 "date picker ?"
anyone successfully integrate any date pickers that are easy to use?

tried this one . https://www.npmjs.com/package/react-bootstrap-date-picker but get

`Can't resolve 'create-react-class' in '/Users/emmett/dev/rc2/frontend/serverless-stack-demo-client/node_modules/react-bootstrap-date-picker/lib`

[2018-02-20 12:27] walshe commented on #15
what are the thoughts on defining dynamodb tables (an even cognito pools etc) in serverless.yml ? can it even be done without having to have absolute arns referenced etc?

[2018-02-20 14:13] BIWhitfield commented on #67
Hi guys, great tutorial! One of my only issues was that when I set up the validation in this section by email, it sent validation emails to 5 common email addresses associated with the domain I bought from Route 53. However I can't for the life of me work out how to access those emails to approve the validation. As far as I can tell the Route 53 domain doesn't support email forwarding and I can't

[2018-02-20 20:26] clarkgrg commented on #113
@sanbeaman - I ran into that same problem today **TypeError: Failed to Fetch**.  I still don't know why I was receiving it but will describe what I saw in the hope it helps someone else.

I added another entity names tasks with the path /tasks.  This task entity is basically just a note with a different name.  Since Home.js (route "/") displays a list of notes when I'm logged in I wanted to displa

[2018-02-20 23:12] enzoferey commented on #35
Same here. @farrantch solution worked for me. I just did every step in the tutorial (nothing more), should be easy to reproduce :)

[2018-02-21 04:25] topguncharl commented on #146
Input for changing instructions due to AWS console "tab changes" ->
Click tab “Logs”
Checkmark “Enable CloudWatch logs”
Log level -> “INFO”
Checkmark “Log full requests/responses data”
Checkmark “Enable Detailed CloudWatch Metrics”
Click button “Save changes”

[2018-02-23 21:41] jayair commented on #112
@ivanms1 This error is basically saying that the `userId` is not being passed in. So the best thing would be to `console.log` what the `userId` is and see what you are passing in.

@qazuor The `serverless.yml` in your project is not formatted properly. This is a very annoying issue that most people run into.

Your `create` looks like this:

[code]

Versus what it should look like

[code]

The issu

[2018-02-23 21:42] jayair commented on #15
@walshe Yeah there are a few people that have done so. We are going to be writing a chapter on it some time soon.

[2018-02-23 21:43] jayair commented on #67
@BIWhitfield Honestly I'm not entirely sure. I think it goes to what Route53 thinks is associated with your domain?

We should change the tutorial to use the DNS way instead, it's far more reliable.

[2018-02-23 22:03] jayair commented on #146
@topguncharl Thanks for letting us know. Just updated it - 2716a7ef80b7706d181393cfcbc65739fffb5955

[2018-02-24 01:14] navinc commented on #46
Forgot Password use-case in Login/SignUp (or for 'extra credit') would be awesome!

[2018-02-24 04:30] drakeloud commented on #70
I'm not sure if anyone else has pointed this out in a different chapter, but I think that you should add the --delete flag when syncing your s3 bucket. So the full command would be this:

aws s3 sync build/ s3://YOUR_S3_DEPLOY_BUCKET_NAME --delete

This deletes the files that aren't in your local directory. When you run npm build, it creates unique ids for the static files, so simply syncing s3 gi

[2018-02-24 14:27] jayair commented on #70
@drakeloud Good point. I'll add a note.

[2018-02-24 15:51] asimdis0286 opened #190 "domain name from another registrar like NameCheap"
hi, thanks for the great tutorial...what do I have to do different in the domain purchasing chapter and beyond if I already purchased my domain name from Namecheap. I havent deployed anything on it yet.

[2018-02-25 14:39] rudyhadoux commented on #22
I do prefer a Typescript AWS Lambda function like here :
https://blog.shovonhasan.com/deploying-a-typescript-node-aws-lambda-function-with-serverless/

[2018-02-25 14:52] seanofahey opened #191 "Containers vs. Components in instructions"
Thanks for the excellent tutorial.  This is a minor suggestion on your documentation on this page https://serverless-stack.com/chapters/handle-404s.html

The prior page of the instructions have you set up the "components" directory in addition to the existing "containers" directory and thus introduces **components** and **containers** as different concepts.  On this page, though your instructions

[2018-02-25 22:11] jayair commented on #190
@asimdis0286 You would need to migrate it over to Route 53, so that you can manage it from there. Here is some more info on it - https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html

[2018-02-25 22:16] jayair commented on #191
@seanofahey Yeah that's a good point. We didn't really cover the difference as much. Basically, we use containers as components that handle routes and API requests as well. Components on the other hand are "dumb" React components.

[2018-02-25 22:51] asimdis0286 commented on #190
@jayair thanks for the reply but I cannot do that because my domain registration is not old enough. It has to be at least 2 moths old. Is there another solution?

[2018-02-26 01:53] SumayaG opened #192 "Is the deployment safe when all credentials are Public"
In the npm run build stage Create react app builds all the files including the config.js which has all the credentials like the POOL_ID, client ID etc. We then deploy this to a S3 bucket which is publicly readable. So anyone can get access to these ID's. Is this safe? I am just used to heroku where heroku sets all the config keys and are not a part of the public code. Am I  missing something here?

[2018-02-26 03:21] jayair commented on #190
@asimdis0286 I think you can point your domain to your CloudFront distribution manually. https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html

[2018-02-26 03:22] jayair commented on #192
@SumayaG The ids are public but the credentials to access them are not. You should be fine as long as you are not exposing your IAM keys.

[2018-02-26 18:30] jayair opened #193 "Serverless Stack Update to AWS Amplify"
### What is going on

The frontend portion of the demo app covered in this guide is going to be updated to use [AWS Amplify](https://github.com/aws/aws-amplify).

### What is going to happen

The change is going to take place over the next few weeks. The basic logic of the notes app is going to remain the same but all the parts that interface with AWS are going to change. Also, some minor configur

[2018-02-26 18:34] jayair commented on #190
@asimdis0286 Thanks for letting us know. I'll refer folks to this thread in case somebody has questions.

[2018-02-26 18:35] jayair commented on #112
@adoolaeghe Yeah these are super annoying to deal with. In this chapter - https://serverless-stack.com/chapters/debugging-serverless-api-issues.html, we talk about using the Policy Simulator to help you debug it. Give it a try and let me know how it goes.

[2018-02-26 20:54] adoolaeghe commented on #112
@jayair Thank for your response.
I followed the policy simulator and my policy role does return an Accepted response.

In doubt of the wrong setup, I re-followed the steps with a different AWS account, and I am still getting the same error at the end, which is getting very curious...

[2018-02-26 21:35] jeff-kilbride commented on #193
@jayair  Great to see Serverless Stack continuing to evolve! While looking for React / Serverless examples, I also came across an AWS post detailing their Mobile Hub which also uses Amplify:

https://aws.amazon.com/blogs/mobile/deploy-a-react-app-to-s3-and-cloudfront-with-aws-mobile-hub/

Will the new tutorial and docs be using Mobile Hub, too? Just wondering...

[2018-02-26 23:23] jayair commented on #193
@jeff-kilbride The backend portion of the guide will pretty much remain the same (aside from some minor changes). The set up that we walk through is very similar to what MobileHub sets up for you. The main difference being that we try and explain the different services you are setting up while MobileHub does it for you. Our goal is to make sure that we explain our steps as well go along. So you ha

[2018-02-27 00:44] F-Adam-B opened #194 "Credentials Error"
Not sure what to do. When I run the first test I get the following, first I logged the params, and then I logged the error, `Serverless: Bundling with Webpack...
Time: 343ms
Built at: 2018-2-26 17:38:39
    Asset      Size  Chunks             Chunk Names
create.js  1.51 KiB       0  [emitted]  create
Entrypoint create = create.js
   [0] external "aws-sdk" 42 bytes {0} [built]
   [1] external "uuid

[2018-02-27 00:57] F-Adam-B commented on #23
Here is my error. I've set up the aws configuration. The body is actually posting to the db. Not sure why the authentication error.

I manually added a directory .aws/config and .aws/credentials as they never showed up after the initial aws configure command. Any help much appreciated.

`Serverless: Bundling with Webpack...
Time: 343ms
Built at: 2018-2-26 17:38:39
    Asset      Size  Chunks

[2018-02-27 15:14] NikolaiSemenov commented on #48
When i save my Cognito Identity Pool IAM role
`{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "mobileanalytics:PutEvents",
        "cognito-sync:*",
        "cognito-identity:*"
      ],
      "Resource": [
        "*"
      ]
    },
    {
      "Effect": "Allow",
      "Action": [
        "s3:*"
      ],
      "Resource": [
        "arn:aws:

[2018-02-27 18:59] brianmade commented on #112
Just checking in on this, which I've just encountered:

[code]

I see that the previous solution was to revert to serverless 1.17.0 - I'm on 1.26.0 - is the solution really to roll all the way back to .17??

Perhaps it's time to consider an entirely different approach if serverless and webpack just aren't going to play nicely? Perhaps I'm misreading the actual issue involved?

[2018-02-28 04:49] staskh opened #195 "Problem with Navbar.Collapse on the non-mobile device"
Hi,

Sorry for bothering, but I seem can't find a bug after hours of looking around.

Example code was working well for a while until for some reason Navbar begin to be rendered as if it be a mobile web interface.   I'm using the same Chrome and Safari on MacOS.

Nice navigation bar disappeared and I have only collapsing button left from "Scratch" text. Clicking on this button open submenu for few

[2018-02-28 17:42] Dorostkar commented on #23
Hi, Please, someone, help me. I don't like to stuck with this error

{ NetworkingError: Invalid character in header content ["Authorization"]
    at validateHeader (_http_outgoing.js:506:11)
    at ClientRequest.setHeader (_http_outgoing.js:510:3)
    at new ClientRequest (_http_client.js:173:14)
    at Object.request (https.js:241:10)
    at Object.request (C:\Users\Sina\AppData\Roaming\npm\node_

[2018-02-28 19:23] 19bharatvikram commented on #23
Just a quick question.

Can I add a identifier in my event.requestContext.identity json like,

event.requestContext.identity.orgId

For e.g event.requestContext.identity.orgId should return me say 'ORG001'

I'll be using orgId inside my application to use it as a primary partition key for my multi-tenant application. The noteId will be my sort key and pehaps I'll be adding Index for 'userId'.

Tha

[2018-03-01 11:46] rgandco commented on #112
Seconding @brianmade I am on Serverless 1.26.0 and experiencing the same issues as @tsdorsey originally posted last year - rolling back to 1.17.0 doesn't seem like a solution, more a temporary fix.

Has anyone else succeeded in getting later versions of Serverless to play nicely with Babel and Webpack?

[2018-03-01 12:29] rgandco commented on #112
This is probably not the best way to accomplish this in the long term, but after reading [serverless-webpack's guide on forced-inclusion](https://github.com/serverless-heaven/serverless-webpack#forced-inclusion) I have edited my serverless.yml as follows to force the inclusion of babel-runtime:

Previously it was:

[code]

Which packaged as:

[code]

Then errorred as:

`Thu Mar 01 12:25:28 UTC 201

[2018-03-01 12:34] walshe commented on #193
will it be hard to merge this in to my current mid flight serverless stack ?

[2018-03-01 15:59] icj217 commented on #158
@kamipatel I was able to get the Hosted UI working in my serverless site. Took some time since the Hosted UI is not well documented, but I ended up using the [amazon-config-auth-js](https://github.com/aws/amazon-cognito-auth-js) library.

Essentially, I added the following object to the config.js:
[code]
Then in App.js I import `CognitoAuth`:
[code]

and call it in my constructor:

[code]
Then I a

[2018-03-01 18:12] walshe commented on #47
why does handleSubmit need event.preventDefault ? isnt it only a regular button action that needs this really ?

[2018-03-01 20:18] jayair commented on #194
The `EHOSTUNREACH` error seems like you were maybe behind a firewall or you had connection problems?

Has it ever worked for you?

[2018-03-01 20:24] jayair commented on #195
@staskh Which chapter was it that you were working on?

[2018-03-01 20:30] jayair commented on #23
@Dorostkar What command are you running that shows this error?

[2018-03-01 20:39] staskh commented on #195
Apparently the problem I observed related to Bootstrap/ React-Bootstrap version mismatch. Your fix https://github.com/AnomalyInnovations/serverless-stack-demo-client/compare/v1.2.4...v1.2.5 did a magic.

[2018-03-01 20:39] #195 closed

[2018-03-01 20:43] jayair commented on #23
@19bharatvikram I don't think you can use it directly. You can store the mapping on your end. Or you can use something like https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-sync.html

[2018-03-01 20:49] jayair commented on #193
@pmahmud @bharloe Thanks guys.

@walshe No it shouldn't be too hard. There isn't much of a structural change.

[2018-03-01 20:52] jayair commented on #47
@walshe In this case it is a submit button. You could skip it. But if you had another field that you could "enter" to submit then you'll need it.

[2018-03-01 21:28] tsdorsey commented on #112
@rgandco I'm on 1.26.0 and it's working just fine. I don't pretend to know which switch you need to flip to get this to work but I can show you a very boiled down project I just published showing how I'm using cross stack references which uses webpack and babel to do just what you're trying to do.

Head over to
https://github.com/tsdorsey/myMultiStackResources  or
https://github.com/tsdorsey/myMul

[2018-03-01 22:31] rgandco commented on #112
@tsdorsey I've mirrored your '.babelrc' and 'webpack.config.js' to the letter. I've aligned your 'serverless.yml' with mine for all the relevant areas of configuration.

Still doesn't package babel-runtime or any other external modules, still generates the same error when run within Lambda (but not locally as the modules exist).

Could it be an OS specific issue? I'm deploying from a Windows 10 la

[2018-03-02 00:41] tsdorsey commented on #112
@rgandco I Didn't think it would matter but I tried moving the babel-runtime into devDependencies but it still works for me.

I'm on macOS 10.12.6

Could you clone the Resources repo (the API one requires the Resources stack to be deployed) and run
`yarn install` then
`./sls package --verbose`

I get:
[code]

[2018-03-02 07:25] tzlukoma commented on #112
I am unable to get this test to pass.
I get the following error:
{ status: 502,
  statusText: 'Bad Gateway',
  data: { message: 'Internal server error' }

When I looked further into what might be going on, I realized that my Lambda function for create is not working.  When I run the test in the AWS console for the function, I get the following error:

[code]
I am on the latest versions of both Ser

[2018-03-02 07:41] tzlukoma commented on #112
@rgandco - the force include solution worked for me ... thank you so much!

[2018-03-02 08:39] rgandco commented on #112
@tsdorsey Short update. Cloned your repo and followed your instructions and it works exactly as expected, my day is a bit all over the place today but I'm going to do a comparison of my project and yours and then report back.

[2018-03-02 08:53] rgandco commented on #112
@tsdorsey The only differences I can really see are:

1. I have `versionFunctions` set to false
2. I have `endpointType` set to REGIONAL

(Removing these made no difference)

3. You're using yarn for your package lock, I'm using straight npm package.lock
4. You have an `sls` script that sets some environment variables, and I don't - which might be why I'm getting the following warning on my packag

[2018-03-02 08:56] rgandco commented on #112
@tsdorsey Actually - I'm using a different version of `webpack` too - I'm on `^4.3.0` and you're on `3.11.0`

[2018-03-02 08:59] rgandco commented on #112
@tsdorsey I've downgraded `webpack` to `3.11.0` to match you. Working perfectly now!

@tzlukoma Suggest you follow along - ditch the work around I used above.

Anyone have any ideas why more recent versions of webpack are struggling?

[2018-03-02 11:51] 19bharatvikram commented on #23
@jayair

Found a way to set orgid(companyId) as custom attribute for cognito user and then using existing Cognito User Pool as the authorizer:

  get:
  # Defines an HTTP API endpoint that calls the main function in get.js
  # - path: url path is /notes/{id}
  # - method: GET request
    handler: get.main
    events:
      - http:
          path: case/{id}
          method: GET
          integrati

[2018-03-02 18:25] F-Adam-B commented on #112
Hey all, no idea where to turn at this point. I'm getting a 'Bad Gateway' status: 502 error when I try a post test. Anyone solve for this issue. Here's my serverless.yml, `service: notes-app-api

# Use serverless-webpack plugin to transpile ES6/ES7
plugins:
  - serverless-webpack

# Enable auto-packing of external modules
custom:
  webpackIncludeModules: true

provider:
  name: aws
  runtime: node

[2018-03-02 19:04] tsdorsey commented on #112
@F-Adam-B have you read through some of the other discussions on this issue? Searching for 502 on this page yields several threads. Do you see anything in the cloudwatch logs?

[2018-03-02 20:01] F-Adam-B commented on #112
@tsdorsey I have and had no such luck. The logs are similar to what you were experiencing

`Unable to import module 'create': Error
at Function.Module._resolveFilename (module.js:469:15)
at Function.Module._load (module.js:417:25)
at Module.require (module.js:497:17)
at require (internal/module.js:20:19)
at Object.<anonymous> (/var/task/create.js:1:1474)
at n (/var/task/create.js:1:220)
at Object.

[2018-03-02 20:22] Dorostkar commented on #23
@jayair, fortunately, I have solved the issue. The problem was bcz of the AWS credential that I configured in the serverless framework and it was for different IAM.

[2018-03-03 19:04] walshe opened #197 "Managing View and Edit pages and their commonalities ?"
Just looking for some advice..

In most of my use cases - I have a view page and an edit page. e.g.

uri is '/myUseCase'  which is mapped by route '/MyUseCase'  which maps to  MyUseCase.js

then edit page :

uri is '/myUseCase/edit'  which is mapped by route '/MyUseCaseEdit'  which maps to  MyUseCaseEdit.js

Im finding that there is a lot of commonality between MyUseCase.js and MyUseCaseEdit.js.

[2018-03-04 03:19] deporter opened #198 "Creating serverless resources via the Serverless framework config"
I am really interested in being able to setup the API portion of this project via the Serverless framework only. I believe all the resources this tutorial sets up manually wihtin the AWS console can be setup with the serverless framework config file. Is there a potential of extending the tutorial to show and explain how this is done also?

Also thanks for making such a great tutorial!

[2018-03-04 18:24] brianmade commented on #112
@rgandco and @tsdorsey solution nailed it for me. You guys rock. This is the current problem and should be addressed in the tutorial. Install Webpack @ 3.11.0 instead of the most current version and you won't rabbit-hole for days on end trying to figure out the problem.

To do this just change your package.json webpack line to look like this:

[code]
and then run:

[code]

re-run your deploy and t

[2018-03-04 21:38] hollygood commented on #112
i have the same issue "Unable to import module 'create': Error at Function.Module._resolveFilename...". After reverting serverless to version 1.17.0 and add the following code to serverless.yml, it works.

I hope we don't need to revert back to 1.17.0.

[2018-03-05 00:57] jayair commented on #23
@19bharatvikram Yeah so with this approach the authorizer is directly Cognito User Pool. We have an older version of the tutorial that used this approach. To call the API you can refer to this - https://59caadbd424ef20abdc342b4--serverless-stack.netlify.com/chapters/call-the-create-api.html

[2018-03-05 01:00] jayair commented on #197
@walshe Two approaches. Higher Order Components, if there are common methods. Or take a look at the markup and handlers and try to split them up by components that can be reused. Preferably, keep the components dumb.

[2018-03-05 01:00] jayair commented on #198
@deporter Yeah we are looking to doing this. It can definitely be done.

[2018-03-05 01:05] jayair commented on #112
@brianmade So the issue for the newer web pack version? I'll add a note to force that version until we find a fix for the newer version.

[2018-03-05 01:11] jayair commented on #112
@hollygood Can you compare your `package.json` to https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/package.json and try the older version of `webpack` instead?

[2018-03-05 06:37] yongpark opened #199 "CORS and import error on API side"
Hi team. Having an issue with returning a simple JSON when invoking a function. The function, fStudentCreate is inside the LEAdminAPI file.

fStudentCreate = export async function fStudentCreate(event, context, callback){
    let aDictStudent = {
       "Student":[
          {
             "dirtyBit":"2018-01-24T04:04:03Z",
             "nameFirst":"Jane",
             "dob":"2008-11-20T22:52:37Z"

[2018-03-05 16:14] asimdis0286 opened #200 "dealing with guest checkouts"
hi,
this notes app is great but it only serves signed in users....i am trying to build a shopping cart app using it and while I was able to do almost everything smoothly for signed in users, I am strugling with react data management for guest users. for a signed in user i can add items to the cart using his credentials. But, for a guest user who wants to add items to his shopping cart what do I do

[2018-03-06 01:22] jayawics commented on #46
Hi @jayair - I actually went through the full tutorial and got to end but only tested using my own login created through the CLI. Upon further testing, I realized that users get an error when trying to Sign Up. I don't see anything wrong with my Signup.js file but when I enter an email/password and click the "Signup" button, the "Signing up..." loader keeps spinning and I get a "[object Object] er

[2018-03-06 21:16] asimdis0286 commented on #200
Let me try to show what the problem is. I think it is some issue with React-Router. Assume that the rest of the code is exactly like yours. My code(only relevant portions):

//App.js. ( I am passing a call back function(AddTempItem) to a child component which is one of the Applied Routes in Routes.js. This function comes back and concats more items to the selectedItems in the state.)

constructor(

[2018-03-07 21:45] jrnail23 commented on #112
FYI, if anyone is still struggling with getting the `apig-test` command to run in Windows, it won't work in PowerShell as written, but it does work using a plain 'ol cmd window. (I did it successfully running cmd as admin, but didn't try it otherwise).
I've been out of the windows ecosystem for while, but I did this tutorial on my personal Surface... I'm already having flashbacks of yak shaving in

[2018-03-08 14:18] muratcetinkaya opened #202 "Is this example SEO friendly?"
If yes which part helps to be seo-friendly. If not how can we make it so?

I'm a quite newbie on serverless and react, so please be kind if my question looks silly :)

[2018-03-08 14:20] muratcetinkaya commented on #63
Is this example SEO friendly?
If yes which part helps to be seo-friendly. If not how can we make it so?

I'm a quite newbie on serverless and react, so please be kind if my question looks silly :)

[2018-03-08 14:20] #202 closed

[2018-03-08 14:20] muratcetinkaya commented on #202
I moved this question to https://github.com/AnomalyInnovations/serverless-stack-com/issues/63

[2018-03-08 20:01] jayair commented on #199
@yongpark Hmm it's saying that it's an import error. Are you getting this error when you run `serverless invoke local`?

[2018-03-08 20:06] jayair commented on #200
@asimdis0286 I think there is a bug currently where clicking on the Navbar does a complete refresh. This clears the state. There is a fix for this here - https://github.com/AnomalyInnovations/serverless-stack-com/issues/35#issuecomment-362173799. We'll be updating the tutorial with this soon.

That said, I think you'd probably need to save the shopping cart info in the browsers local storage. This

[2018-03-08 20:10] jayair commented on #112
@jrnail23 Thanks for this. Our windows tips are pretty spotty. So this should help if anybody is running into similar issues.

[2018-03-08 20:14] jayair commented on #63
@muratcetinkaya No worries.

We might have addressed this somewhere else. But the notes app is a single page app and it is not meant to be publicly accessible (it's behind a login). So it isn't really SEO friendly.

Are you wanting to remove the login and make it publicly accessible?

[2018-03-09 00:14] SumayaG opened #203 "What is the safest place to put secret keys in the backend"
Hi,

I have a SECRET KEY for STRIPE that i have to use in the backend. This secret key should not be exposed to anyone. Where do you think would be the safest place to put this and how to do it.

Regards

[2018-03-09 00:37] samwiseduzer commented on #193
I'm pretty excited for this update - I have a friend who wants to try-out serverless, and I'd like to recommend this guide to him. What's the general expected timeline for this update? Again, thanks for creating this project!

[2018-03-09 01:07] yongpark commented on #199
@jayair Hey Jay! I actually figured it out. Package.json was messed up so my files weren't bundling correctly.

[2018-03-09 06:34] karthickng commented on #18
I had the InvalidSignatureException issue, and it was resolved once I added a new access key for the admin user! I don't know the reason why, but this worked for me.

Note that something similar has been pointed out by @bedney in the discussion at [https://github.com/aws/aws-sdk-js/issues/86](url)

[2018-03-09 12:38] muratcetinkaya commented on #63
Hi @jayair,
I'm planning to build a mortgage comparison website. Yes it will be publicly accessible. I was thinking to build it with a similar stack as in this example. But I am not sure if google bots will be able to read the content of my pages and index it so people can find it when they search the words like 'mortgage calculator' ...

[2018-03-09 20:32] jayair commented on #203
@SumayaG Yeah it definitely shouldn't be in your code. You could make it a part of your build service. Or use AWS SSM. Here is some more info on it https://hackernoon.com/you-should-use-ssm-parameter-store-over-lambda-env-variables-5197fc6ea45b

[2018-03-09 20:42] jayair commented on #63
@muratcetinkaya Google does handle JS for SEO but a better pattern for this is to use a static page generator like [Jekyll](http://jekyllrb.com) for your landing pages. And then use React for your actual app. This way you get to create content for SEO purposes while still having a single page app.

For example this tutorial itself is in Jekyll (for SEO purposes) and the demo app is in React.

[2018-03-10 10:32] grundmanise commented on #46
Is there a specific reason why throughout the guide we create `new CognitoUserPool` on each function invocation in this and other similar functions:
[code]
IMHO it's better to create a `CognitoUserPool` once and use the exported `const`. For example I did it in the `awsLib.js`:
[code]

[2018-03-10 17:28] muratcetinkaya commented on #63
@jayair Thank you very much. I'll test it for my website.

[2018-03-10 17:53] tommedema commented on #193
This is a great change. One of the most difficult to understand issues for me when starting with serverless is the authentication part with Cognito. Reason is that in traditional applications we are used to communicating with our own backend to deal with authentication; whereas now the frontend and backend are communicating directly with cognito. Especially the frontend libraries that were added i

[2018-03-10 22:26] SumayaG commented on #203
@jayair Thanks, I'll look into AWS SSM.

[2018-03-10 23:35] asimdis0286 commented on #200
@jayair Thanks for the reply. I will try to figure out a way to access the browsers local storage. Also, I will try the solution in issue #35.

[2018-03-11 00:42] SumayaG opened #204 "batchWrite function doesnt work"
Hi @jayair,

I was trying to add a delete all button to delete all the notes that a user has created. I think it is a great thing to have when a user wants to delete all his notes. The problem is that batchWrite doesn't seem to work and I get a 404 error "ValidationException: The provided key element does not match the schema". As you can see in the code below, I am giving only the userId as the k

[2018-03-11 16:27] sabrown84 commented on #112
Hi I'm a little stuck with a 401 error:

[code]

[2018-03-13 12:57] DavidNaMills commented on #56
help!!!
my notes wont delete. i've literally copied and pasted the code from the tutorial but nothing works.
i hit delete, i am redirected to the homepage, and the note is still there.
there is a response code of 200, there is no error message.

my serverless.yaml code is as follows:

[code]

the CORS is fine, I have no problem with any other api gateway
the IAM has the "amazonAPIGatewayInvokeFull

[2018-03-13 13:22] DavidNaMills commented on #59
i'm getting the most insane result from this chapter:
I was testing the redirect function when everything went wrong.
Trying to access "localhost:3000/notes/new" when not logged in.
I get the following error message:
`Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates

[2018-03-13 13:26] walshe commented on #59
only call setState from somewhere that is handling an event

[2018-03-13 17:36] jayair commented on #46
@grundmanise In this case we create one on every click. But yeah you could make it a part of some common code.

[2018-03-13 17:41] jayair commented on #112
@sabrown84 Hmm. It looks like it authenticated fine but it failed to make the request. You can try following the steps in this chapter to debug it - https://serverless-stack.com/chapters/debugging-serverless-api-issues.html. Specifically, use the Policy Simulator to check if you have the permissions set up correctly.

[2018-03-13 17:44] jayair commented on #56
@DavidNaMills If you are getting a response of 200, then your best bet would be to use some `console.log` statements in your Lambda function to see what is going on.

Maybe after this line here - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/delete.js#L17.

[2018-03-13 17:47] jayair commented on #59
@DavidNaMills It looks like it caught in some sort of a loop, where it is redirecting back to itself?

[2018-03-13 21:42] snolangps commented on #185
Thx @jayair

[2018-03-13 23:53] DavidNaMills commented on #56
@jayair Thanks for your help. The problem was in that file. as "get" "put" "delete" are practically the same code, i copied and pasted but forgot to change to "delete".
thanks for your time. im such an idiot.

[2018-03-14 01:18] fwang commented on #204
@SumayaG DynamoDB currently does not support deleting all range keys given a hash key. Consider table (userId : Hash Key, noteId: Range Key), you cannot delete all rows given a userId.

BatchWrite is simply a convenient way to run multiple queries at once. For example, get all noteIds for
a userId, and then run batch write with each userId-noteId pair. See docs: https://docs.aws.amazon.com/amazond

[2018-03-14 15:09] Dorostkar commented on #112
any one faced to this problem befor?
$ apig-test --username admin@example.com --password Passw0rd! --user-pool-id eu-west-1_********
 --app-client-id ****** --cognito-region eu-west-1 --identity-pool-id eu-west-1:+++++-+++++-+++++-b826-5a7742dba847 --invoke-url https://******.execute-api.eu-west-1.amazonaws.com/dev/ --api-getway-region eu-west-1 --path-template notes --method POST --body '{"conten

[2018-03-14 18:24] walshe opened #205 "browserify ?"
anyone tried this ? https://github.com/doapp-ryanp/serverless-plugin-browserify

looks like it can reduce artifact size hugely , but does it conflict with the webpack plugin we are using ?

[2018-03-15 01:26] jayair commented on #112
@Dorostkar I think this has to do with your `~/.aws/credentials`. What does that file look like for you?

[2018-03-15 02:33] sarahbattey commented on #23
When I enter the command for the test into the CLI, nothing happens. It hesitates for a second and then gives me another command prompt. I'm not even sure what else to tell you...my test user is verified, my user pool seems to be configured correctly, all the code is identical to the tutorial. I don't have multiple profiles. Help!

[2018-03-15 12:29] lepirlouit opened #206 "refresh cache on application update (service worker and caching)"
In order to take advantage of updates appearing, you need to make sure that requests to `service-worker.js` are not cached. This will also enable you to notify users when new versions of the app are available in browsers that support service workers.

Cache control should we handled correctly by S3/CloudFront

https://medium.com/@kellyrmilligan/adjusting-cache-settings-for-create-react-apps-servic

[2018-03-15 12:34] lepirlouit commented on #206
I'm wondering if it is possible to exclude the `service-worker.js` file in cloudfront.
I don't really understand why it is needed to configure the cache control at the S3 level ...

[2018-03-15 13:15] lepirlouit commented on #30
When users install your app to the homescreen of their device the default configuration will make a shortcut to `/index.html`. This may not work for client-side routers which expect the app to be served from `/`. Edit the web app manifest at `public/manifest.json` and change `start_url` to match the required URL scheme, for example:

`  "start_url": ".",`

see : https://github.com/facebook/create-

[2018-03-15 17:21] jayair commented on #23
@sarahbattey Which command is this?

[2018-03-15 17:38] jayair commented on #206
@lepirlouit I've been thinking over this and most likely we'll disable service workers for now. It has caused quite a bit of confusion for people and needs a lot of extra detail to get it to work correctly.

[2018-03-15 17:42] jayair commented on #30
@lepirlouit Can you verify that this change works on Android? If it does I'll update the tutorial.

[2018-03-15 17:51] nelsoftcom commented on #23
getting error 'Function "create" doesn't exist in this Service'
serverless invoke local --function create --path mocks/createevent.json
  Serverless Error ---------------------------------------
  Function "create" doesn't exist in this Service

  Get Support --------------------------------------------
     Docs:          docs.serverless.com
     Bugs:          github.com/serverless/serverless/is

[2018-03-15 18:33] HyperBrain commented on #112
At everyone here: Can you check and confirm, that the only difference between using Webpack 3 and Webpack 4 is a different log in the Webpack compile output like:
`[2] external "babel-runtime/core-js/json/stringify" 42 bytes {0} [built]` in v4 vs. `[2] external "babel-runtime" 42 bytes {0} [built]` in v3?

Please test that with SLS 1.25 or 1.26.1 (should not matter) and serverless-webpack 5.1.0.

[2018-03-15 18:48] sarahbattey commented on #23
@jayair ```$ serverless invoke local --function create --path mocks/create-event.json```

[2018-03-15 18:56] HyperBrain commented on #112
BTW: Do you have a sample project somewhere where the issue is resproducible when switching webpack versions?

[2018-03-15 19:31] jayair commented on #193
The update is live!

[2018-03-15 19:31] jayair commented on #193
You can view the PR for the update [here](https://github.com/AnomalyInnovations/serverless-stack-com/pull/207). Here are the changes to the [tutorial](https://github.com/AnomalyInnovations/serverless-stack-com/compare/v1.2.5...v2.0) and the [frontend](https://github.com/AnomalyInnovations/serverless-stack-demo-client/compare/v1.2.5...v2.0). If you are looking for the older version of the tutorial,

[2018-03-15 19:33] jayair commented on #112
@HyperBrain Thanks for checking in. I haven't confirmed it yet, but here is a link to the repo with Webpack 3 - https://github.com/AnomalyInnovations/serverless-stack-demo-api

[2018-03-15 19:36] jayair commented on #23
@sarahbattey Which version of Serverless are you using?

@nelsoftcom This seems like an issue with your `serverless.yml`. Make sure it is indented exactly like the one in the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/add-a-create-note-api/serverless.yml

[2018-03-15 19:38] jayair opened #208 "Comments: Configure AWS Amplify"
Link to chapter - https://serverless-stack.com/chapters/configure-aws-amplify.html

[2018-03-15 19:41] HyperBrain commented on #112
@jayair Thanks. I'll grab that and do some tests to see if I can find something.

[2018-03-15 20:53] walshe commented on #45
i thought amplify was going to handle all the forms ?

[2018-03-15 21:06] nelsoftcom commented on #23
@jayair I have copied the serverless.yml from the link and changed to us-east-2.
I'm still getting the same above error.
thank you :)

[2018-03-15 21:09] jayair commented on #23
@nelsoftcom Can I see your `serverless.yml`? And I'm assuming you have a file `createevent.json` as opposed to `create-event.json`.

[2018-03-15 21:12] jayair commented on #45
@walshe We are using Amplify to handle the actual sign up portion. If we were to use their forms, it would make it hard for people to swap it out and use their own authentication provider.

[2018-03-15 21:18] nelsoftcom commented on #23
@jayair Yes I was wrong with the file name - i have changed that to create-event.json.
using this command now.
serverless invoke local --function create --path mocks/create-event.json
Please see my file. thanks

service: mynotes-app-api
# Use serverless-webpack plugin to transpile ES6/ES7
plugins:
- serverless-webpack
# Enable auto-packing of external modules
custom:
webpackIncludeModules: true

p

[2018-03-15 21:24] jayair commented on #23
@nelsoftcom I'm not sure if you didn't paste it properly but it needs to be indented exactly like this https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml

[2018-03-15 21:38] sarahbattey commented on #23
@jayair I'm running 1.26.1

[2018-03-15 21:51] nelsoftcom commented on #23
@jayair Thank you. Passed that level - yes indent was the issue. Now I', getting status code 500

serverless invoke local --function create --path mocks/create-event.json
Serverless: Bundling with Webpack...
Time: 1307ms
    Asset     Size  Chunks             Chunk Names
create.js  6.75 kB       0  [emitted]  create
   [0] ./create.js 2.38 kB {0} [built]
   [1] external "babel-runtime/regenerator"

[2018-03-15 22:19] jayair commented on #23
@nelsoftcom This is pretty common and we have a little note at the bottom of the chapter for it  - https://serverless-stack.com/chapters/add-a-create-note-api.html#common-issues

@sarahbattey That looks okay. I'm not entirely sure what the issue is. Can you share your directory structure and show me where you are running your command from?

[2018-03-15 23:26] nelsoftcom commented on #23
@jayair thank you :) create-event and get-event works. thanks for the help.

[2018-03-16 09:31] lepirlouit commented on #30
I confirm, I tested this and this works on android lollipop.

[2018-03-16 13:15] tommedema commented on #193
@jayair very nice Jay; what surprised me is that Amplify only seems to have a single bucket configuration under `Storage`. Does that mean that an app can only ever have a single bucket?

[2018-03-16 14:03] liamr opened #209 "Ignore this! My cat walked over the keyboard and typed the shortcut to create an issue. 😖"

[2018-03-16 14:05] #209 closed

[2018-03-16 15:21] sarahbattey commented on #23
@jayair here's a screenshot of my file structure and my serverless.yml too, just in case. I can't thank you enough for your help!

<img width="774" alt="screen shot 2018-03-16 at 9 20 24 am" src="https://user-images.githubusercontent.com/16340403/37528914-692bd820-28fb-11e8-8123-cde614584b52.png">

[2018-03-16 18:10] jayair commented on #30
@lepirlouit Awesome thanks. I'll update it.

[2018-03-16 18:39] jayair commented on #193
@tommedema Yeah I think so. That's what I gathered from the docs (hopefully, the Amplify guys can confirm).

The bigger picture thing here is that Amplify is tied to the Mobile Hub setup. Hence the limited types of services you can configure with it. It just so happened that what we do in the tutorial is similar to what Mobile Hub does for you. So it's a good fit.

That said, I think a neat part o

[2018-03-16 18:46] jayair commented on #209
LOL 😂

[2018-03-16 19:54] jayair commented on #23
@sarahbattey Yeah the structure is a bit weird. Compare it to the one we have in the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-api.

And you run your serverless commands at the level where your `serverless.yml` is.

[2018-03-17 03:30] sarahbattey commented on #23
@jayair Wow...I have NO idea what happened there. I'm going to restart. This will be my third start (the first try was due to Route 53 and not you)...I'm doing this to get more familiar with AWS and React so every error and every weird thing is a learning experience! Thanks again for everything you've done!

[2018-03-17 16:06] pflugs30 commented on #18
I'm having the same issue as @KelpDuNord above where the `sign-up` command worked, but the `admin-confirm-sign-up` command does not work.

I run:
`aws cognito-idp admin-confirm-sign-up --region us-east-1 --user-pool-id us-east-1_mV4oIXtXy --username admin@example.com`

I receive:
`An error occurred (ResourceNotFoundException) when calling the AdminConfirmSignUp operation: User pool us-east-1_mV4oI

[2018-03-17 19:49] jayair commented on #18
@pflugs30 Flag you figured it out. Thanks for following up.

[2018-03-18 13:45] aihkas commented on #209
Best issue ever! cheers kitty 💃

[2018-03-19 10:55] ozbillwang commented on #170
@jayair

I'd like to add some iam policies, I think it need be cared by federated identify. (I can use cognito as provider)

But how to customize in this part? any samples for me?

the code (L135) with new amplify has gone. So I paste it here:

[code]

[2018-03-19 11:30] karthickng commented on #24
I faced a ResourceNotFoundException for a while trying to execute the code for this chapter.
Turned out, I needed to configure the AWS region again in get.js, despite issuing a create call earlier that was already doing this.

Can someone explain why this may be needed?

[2018-03-19 14:40] liamr commented on #209
:)

[2018-03-19 18:12] jayair commented on #170
@ozbillwang I'm not sure what you mean. What do you want to customize?

[2018-03-19 18:13] jayair commented on #24
@karthickng Do you have multiple AWS credentials?

[2018-03-19 23:42] ozbillwang commented on #170
@jayair

I have custom authorizer (a lambda function) already to verify the access to API gateway (different endpoints with different access permission). The custom authorizer will generate the different IAM policies depend on different endpoints.

Now I need add one more layer (cognito) in front of API Gateway.  That only registered users can access this api gateway.

How could I merge them (cogn

[2018-03-20 04:09] asayyad commented on #112
What was the resolution to this error? I'm getting the same thing.

apig-test --username admin@example.com --password Passw0rd! --user-pool-id us-east-1_HwIVtcRh2 --app-client-id 34bb7b87t6rtc387foiletrldf --cognito-region us-east-1 --identity-pool-id us-east-1:285f61b7-8a95-4596-90ce-7f7e1848c2ed --invoke-url https://6xosj8ww6h.execute-api.us-east-1.amazonaws.com/prod/words --api-gateway-region u

[2018-03-20 06:26] karthickng commented on #112
I run apig-test as below:
apig-test --username='admin@example.com' --password='Passw0rd!' --user-pool-id='ap-southeast-1_XXXXXXXXX' --app-client-id='xxxxxxxxxxx' --cognito-region='ap-southeast-1' --identity-pool-id='xxxxxxxxxx' --invoke-url='https://xxxxxxx.execute-api.ap-southeast-1.amazonaws.com/prod' --api-gateway-region='ap-southeast-1' --path-template='/notes' --method='POST' --body='{"conten

[2018-03-20 08:05] karthickng commented on #112
I had to add DynamoDB read/write access for the prod-notes-app-api-lambda role. Looks like I missed it in some step of the tutorial. I used the IAM Policy Simulator to check/add this.

[2018-03-20 20:10] jayair commented on #112
@asayyad I'm not sure what's causing your specific issue but the resolution for some of the issues above are reverting to Webpack 3. Here is the one we use in the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/package.json#L28

[2018-03-20 20:12] jayair commented on #112
@karthickng These are the IAM statements that give this permission - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L19

Just check to make sure you have these and they are indented exactly like the ones in the tutorial.

[2018-03-20 20:20] jayair commented on #170
@ozbillwang Yeah I'm not entirely sure how that works. Usually you would use a custom authorizer in place of Cognito as opposed to using them together.

[2018-03-20 20:40] HyperBrain commented on #112
@jayair I updated the project to Webpack 4 + serverless-webpack 5.1.0. The call of notes/GET returns now `Endpoint response body before transformations: {"statusCode":500,"headers":{"Access-Control-Allow-Origin":"*","Access-Control-Allow-Credentials":true},"body":"{\"status\":false}"}` which is correct because I did not create the notes table.
But the `require failed` error is not there, so I'm su

[2018-03-20 20:47] HyperBrain commented on #112
Here you go.

[2018-03-20 23:01] davidmsvetlecic commented on #208
fyi (in case anyone else had this problem):  I was not able to upload a file to S3 due to permission error. Even though there was no difference in the policy, creating a new Cognito Identity Pool and it worked for me.

[2018-03-20 23:20] jayair commented on #112
@HyperBrain Thanks!

[2018-03-21 23:24] mdconner opened #210 ""Network Error" from Client reading or writing to DynamoDB"
Is anything special needed when running on Windows via Git Bash (similar to API where "/" appended to YOUR_API_GATEWAY_URL and leading "/" removed from path-template)?  With these changes, the API ran successfully for all routes.  But Client always returns "Network Error" with listing or adding a Note.

I've been trying to set up CloudWatch logs - not having much success so far

[2018-03-22 05:09] mdhendri commented on #54
With the demo app I am getting the following error "This XML file does not appear to have any style information associated with it. The document tree is shown below."  Why is this happening?  I am also seeing this with my local app.  It seems like the URL may be miss formed.

[2018-03-22 17:08] jayair commented on #54
@mdhendri Which page of the demo app are you seeing this on - https://demo.serverless-stack.com?

[2018-03-22 17:09] jayair commented on #210
@mdconner Can you see the full URL that it is making a request to?

[2018-03-22 17:15] mdhendri commented on #54
Yes, the issue was on  https://demo.serverless-stack.com and also my own
app.  It seems that if there was an image in the S3 bucket prior to the
switch to AWS Amplify somehow the URL got messed up and hence the error.
If I uploaded another image then it seemed to resolve itself.  The
interesting thing is I tried it again this morning and I don't get that XML
error.

On Thu, Mar 22, 2018 at 10:08 A

[2018-03-23 02:22] codywr commented on #18
I started the tutorial a couple months ago and ran into some problems. I only just recently picked it back up trying to double check each step and noticed an error on this one.

Doing this on a Raspberry Pi (running Raspbian) and have noticed that some of the libraries are quite old. That said, here is my aws version:
[code]

I believe I was able to create a test user just fine with:
[code]
but wh

[2018-03-23 17:06] rgandco commented on #112
@HyperBrain @jayair Thanks both for this, though having tried this in a brand new project, I am getting a bizarre outcome - webpack builds the example fine but then doesn't execute the function. Just me seeing this?

[2018-03-23 17:10] HyperBrain commented on #112
@rgandco What do you see in the console? Maybe you need to supply a payload to the function (using the `--path=...path-to-some-event.json...`)

[2018-03-23 17:14] rgandco commented on #112
@HyperBrain Nothing after the webpack build - it doesn't terminate, but it doesn't run the function either.

[2018-03-23 17:18] rgandco commented on #112
@HyperBrain @jayair False alarm. I was running the commands from MINGW64 as I happened to have a terminal open rather than just from standard cmd on W10. Apparently sls does not like this...

[2018-03-23 17:19] HyperBrain commented on #112
@rgandco Good to know. I use Git bash on Windows 10 which works perfectly.

[2018-03-23 17:21] rgandco commented on #112
@HyperBrain MINGW64 is Git bash... I'd love to know how yours is working and mine is stalling!

[2018-03-23 17:53] HyperBrain commented on #112
I actually have no idea why it works for me...
[code]
Then I have nvm for Windows installed, with all Node versions installed and working (4.x, 6.x, 8.x, 9.x). I installed everything (`nvm install xxx` and `npm install` stuff) from within MINGW64 and not from PowerShell. Your problem is restricted to `invoke local`, or doesn't Serverless work at all?

[2018-03-23 18:35] jayair commented on #18
@codywr From the Created and Last Modified date, it seems like the user was created a while ago? Maybe you had it confirmed back then?

[2018-03-23 23:20] codywr commented on #18
@jayair Can it only be confirmed once? I was expecting a confirmation each time I asked for one.

[2018-03-24 23:26] allasandeep commented on #26
I am getting this error, can anyone help me?

serverless invoke local --function update --path mocks/update-event.json

  Y A M L Exception --------------------------------------

  duplicated mapping key in "C:\Users\gayat\Desktop\project-app-api\serverless.yml" at line 75, column 5:
        handler: update.main
        ^

     For debugging logs, run again after setting the "SLS_DEBUG=*" environ

[2018-03-26 17:49] jayair commented on #18
@codywr Yeah it can only be confirmed once. The error is weird but I'm pretty sure it's because it's been confirmed before.

[2018-03-26 18:22] mjbf0748 commented on #28
Hi,

I am developing a web application using this tutorial. I was wondering if anyone could help/give advice on how to approach this issue. I am trying to use 2 different dynamodb tables. So I want the users to access things from both. Is there anyway to set up the apis to make calls to both tables?

Thank you

[2018-03-26 19:16] jayair commented on #193
@mjbf0748 It's pretty straight forward. Just make two `dynamoDB` calls instead of the one. As we do in this chapter - https://serverless-stack.com/chapters/add-a-create-note-api.html.

[2018-03-26 19:17] jayair commented on #28
@mjbf0748 Answered you in the other thread.

[2018-03-26 19:21] mjbf0748 commented on #193
Should I create two different functions? For example create.js and
create2.js.

On Mon, Mar 26, 2018 at 3:16 PM Jay V <notifications@github.com> wrote:

[2018-03-26 21:10] jayair commented on #193
@mjbf0748 If it's one API then you'll only need one function.

[2018-03-26 23:02] mjbf0748 commented on #193
@jayair To clarify, what I understand is that it when considering the `create.js` in https://serverless-stack.com/chapters/add-a-create-note-api.html, another const should be added referring to a different table and then make another call to dynamoDB using the new params.

[2018-03-26 23:18] jayair commented on #193
@mjbf0748 Yup and because the two calls are asynchronous you might want to wait for them to finish.

[2018-03-27 00:12] allasandeep commented on #112
What is the solution for this error? i didn't find it

C:\Users\gayat\Desktop\project-app-api>apig-test --username ******** --password ******* --user-pool-id ******* --app-client-id ******* --cognito-region us-east-1 --identity-pool-id **** --invoke-url ****  --api-gateway-region us-east-1 --path-template /notes --method POST --body {"content:hello world","attachment":"hello.jpg"}

Authenticating

[2018-03-27 19:33] mjbf0748 commented on #193
@jayair  `HTTP401: DENIED - The requested resource requires user authentication.` I am getting this error in the console, does this strictly have to do with the cognito identity chapter. Do you have any suggestions? I believe the changes you told me to make will be successful once I resolve this. Thank you for your help!

[2018-03-27 21:40] jayair commented on #193
@mjbf0748 Can you post this in the comments for the chapter you are having issues with?

[2018-03-28 11:45] mbahfauz commented on #147
Hello I got this message, when I try to add new note.
"No credentials" Everbody know how to solve it?

[2018-03-28 13:01] mbahfauz commented on #47
![screen shot 2018-03-28 at 20 00 44](https://user-images.githubusercontent.com/37583175/38030415-c093e6c2-32c2-11e8-932e-995267c4f20c.png)
Hello, I got this error, when I try to post my notes.

[2018-03-28 15:10] jayair commented on #147
@mbahfauz Can I see the full error?

[2018-03-28 15:12] jayair commented on #47
@mbahfauz Are you logged in?

[2018-03-28 16:34] mjbf0748 commented on #19
@jayair HTTP401: DENIED - The requested resource requires user authentication. I am getting this error in the console, does this strictly have to do with the cognito identity chapter. Do you have any suggestions?

[2018-03-29 01:54] walshe opened #213 "is there a way to retrieve cog users attributes etc using the cognitoIdentityId ?"
or any thing else in the request..

I know I could pass in the email address from the frontend and use adminGetUser() but wondered if theres a way using the default stuff passed to the lambda event:

[code]

[2018-03-29 10:46] mbahfauz commented on #47
Already solve the problem, I was forget to change my api url on IAM roles. Thanks jayair.

[2018-03-29 10:53] mbahfauz commented on #48
![image](https://user-images.githubusercontent.com/37583175/38085266-0d9fc104-337a-11e8-85b4-cd299fef263d.png)
I got this issues man

[2018-03-29 14:16] mbahfauz commented on #53
He Jay, may I know how to render images on list notes? I had tried a different way, but still stuck with it.
Because I only got a database attachment text.

[2018-03-29 14:22] mbahfauz commented on #53
Here is my code

`import React, { Component } from "react";
import { PageHeader, ListGroup, ListGroupItem } from "react-bootstrap";
import "../Home.css";
import { API } from "aws-amplify";
import { Link } from "react-router-dom"

export default class Home extends Component {
    constructor(props) {
        super(props);

        this.state = {
            isLoading: true,
            coins: []

[2018-03-29 17:39] AGanguli commented on #112
I'm also seeing the "Unable to import module 'create': Error" issue.

This thread seems to be about several unrelated issues and I might be getting the various solutions mixed-up, but I tried various versions of webpack (3.11.0, 4.4.1, 4.2.0) with no luck.

[2018-03-29 17:51] HyperBrain commented on #112
@AGanguli With webpack 4 you should check if you have all necessary configuration options set (the ones that my PR #12 properly changed). The error message itself means that one node module that is expected to be packaged is actually missing in the ZIP package. Which one is not easy to tell because the lambda will exit even before your code is executed.
I also agree that this issue is a wild mixtu

[2018-03-29 18:43] AGanguli commented on #112
@HyperBrain Based on that, shouldn't it be possible to brute-force this temporarily by putting all the devDependencies in dependencies?  (I tried it, and it didn't work.  But curious why not.)

[2018-03-29 19:58] HyperBrain commented on #112
Stange. You should never ever have a runtime dependency to sls-webpack

AGanguli <notifications@github.com> schrieb am Do., 29. März 2018, 9:49
nachm.:

[2018-03-30 06:01] mbahfauz commented on #52
Any one know hot to display image from our upload on this list containers?
I had try to put Storage.get("coin.attachment") but not working. Here is my code

`import React, { Component } from "react";
import { PageHeader, ListGroup, ListGroupItem } from "react-bootstrap";
import "../Home.css";
import { API } from "aws-amplify";
import { Link } from "react-router-dom"
import { Storage } from 'aws-am

[2018-03-30 19:06] iggirex commented on #54
How does wrapping JSX html code inside curly braces work? This line:
[code]
Doesn't the && symbol make this a conditional statement? Wouldn't it just return a boolean? The instructions say "We render our form only when this.state.note is available." Is this the line that does that? How does && work here?

[2018-03-30 22:17] jayair commented on #19
@mjbf0748 When are you seeing this error?

[2018-03-30 22:21] jayair commented on #213
@walshe I don't think there is a direct way. But there is a hack that we use internally. The `cognitoAuthenticationProvider` is basically the User Pool Id of the user that you can use to get the attributes. It is formatted a bit weirdly but you can parse it out and use it.

[2018-03-30 22:22] jayair commented on #48
@mbahfauz Have you solved this already? I see some of your other comments about other issues.

[2018-03-30 22:25] jayair commented on #53
@mbahfauz Here is some info on handling images in Create React App - https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#adding-images-fonts-and-files

[2018-03-30 22:27] jayair commented on #52
@mbahfauz Can you please not post the same issue in multiple threads? Also, for large code samples link to a Gist from elsewhere.

[2018-03-30 22:36] jayair commented on #54
@iggirex Yeah JSX is a bit confusing. One way to think about it is that React converts JSX into a set of standard JS calls to create components. In this case, if `this.state.note` is not null (or false), it'll return the React component called `form`. If it's null then it won't render anything.

Here is some info on how `false` is rendered in JSX - https://reactjs.org/docs/conditional-rendering.ht

[2018-03-31 00:04] walshe commented on #213
actually I just see its all contained in payload session.getIdToken() on the client, so I could pass it it from there

[2018-03-31 06:14] mjbf0748 commented on #19
@jayair When I make a 'get' call while the app is running. I am getting this error in the console. This is a call to the second dynamodb table I added in the get.js file.

[2018-03-31 09:03] mbahfauz commented on #52
Okay @jayair thanks for your supports.

[2018-03-31 13:51] walshe commented on #213
this cognito api is so confusing

by the way, in the notes api how come you associate a note with a cognitoIdentityId rather than the 'sub' which is at the end of the cognitoAuthenticationProvider field

"cognitoAuthenticationProvider": "cognito-idp.us-east-1.amazonaws.com/us-east-1_Wg0Dp2n5r,cognito-idp.us-east-1.amazonaws.com/us-east-1_Wg0Dp2n5r:CognitoSignIn:**c45b94b4-57e5-41gc-86c3-6ed5e41212

[2018-03-31 20:43] jayair commented on #19
@mjbf0748 The error sounds like the user is not authenticated. Are you logged in?

[2018-03-31 20:44] jayair commented on #213
@walshe It can be done either way. But say you had multiple auth providers (Facebook and Google); the Identity Id gives you a unified id for the user.

[2018-03-31 21:18] walshe commented on #213
I see. Btw @jayair whats your opinion on this as a way to get info on a user groups and attributes.. here is what I am doing:

I pass the email addr from frontend (used in the login form) to a protected lambda. In there i use email param to:

1. call var user = await cognitoIdentityServiceProvider.adminGetUser({
            UserPoolId: process.env.USER_POOL_ID,
            Username: email

[2018-04-01 10:19] DamickDoni commented on #58
Hi,

im using the auth routes with childProps
`    <AuthenticatedRoute path="/test" exact component={test} props={childProps} />
    <AuthenticatedRoute path="/test/:number" exact component={numbertest} props={childProps} />`

When I want to use `  console.log("props", this.props.match.params.id);` in **numbertest** I get =>

How can I get the URL parameter in e.g **componentDidMount()** ?

[2018-04-01 13:20] smittym commented on #24
I had to do the same thing as karthickng and I do not have multiple AWS credentials.

[2018-04-01 14:59] Malouda commented on #22
Error running  "serverless invoke local --function create --path mocks/create-event.json"
i get the following error

here is my **webpack.config.js**

[code]
Here is my serverless.yml

[code]

here is mys package.json

[code]
here is my create.js

[code]

[2018-04-01 15:12] mjbf0748 commented on #19
Yes. I am logged in with the test user created in the early chapters.

On Sat, Mar 31, 2018 at 4:43 PM Jay V <notifications@github.com> wrote:

[2018-04-02 18:17] jayair commented on #213
@walshe Yeah that makes sense. I haven't tried it but it looks okay.

[2018-04-02 18:20] jayair commented on #24
@smittym @karthickng We moved the `AWS.config.update({ region: "us-east-1" });` line inside `src/libs/dynamodb-lib.js` in the previous chapter. So just make sure it is in there for this chapter as well.

[2018-04-02 18:24] jayair commented on #22
@Malouda Where is the `./src` coming from?

[2018-04-02 18:25] jayair commented on #19
@mjbf0748 So is this happening in the browser? Can I see a screenshot of the error?

[2018-04-02 18:38] mjbf0748 commented on #19
![screenshot 7](https://user-images.githubusercontent.com/25012295/38209817-880c37cc-3683-11e8-91a4-143d62a3711e.png)

[2018-04-02 19:49] verdavaine commented on #43
That's right but when you logout, your Login button is still in Loading state, before submitting the form.

[2018-04-02 22:04] jayair commented on #43
@verdavaine Not quite, React Router unloads our Login container completely. So when it is brought up the next time it starts with the default state.

[2018-04-02 22:07] jayair commented on #19
@mjbf0748 It seems like you are not using any authentication? Do you have this line set in your `App.js` - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/index.js#L12? And are you making requests using Amplify?

[2018-04-03 02:41] curtisolson commented on #23
Can you comment on why the functions are async? I would think the simpler approach would be to make calls synchronous unless there is a need for async calls. I'm asking because I wanted to try and reuse some of the basic CRUD functions but am having problems with the async sub functions.

[2018-04-03 08:50] Tee88 commented on #193
Thank you for making this tutorial.
Amplify's current version is 0.2.11 , is it safe to use it at this stage in production?

[2018-04-03 17:46] jayair commented on #23
@curtisolson I'm not sure if there are synchronous versions of the DynamoDB calls but if there are, then you could use them and not have the Lambda function be async.

[2018-04-03 17:49] jayair commented on #193
@Tee88 Good question. I haven't seen anything from their Amplify site that says that it isn't for production. We aren't using it for anything crazy complicated but we could double-check with them.

[2018-04-03 17:53] jayair commented on #38
@sunkay I had a brief look at it. Just didn't find enough examples on it and so I decided to stick with the simple methods that they have. I like the current setup since it's pretty flexible and you could swap it out for a different auth provider. I would need to play around with a sample app to see it in detail.

[2018-04-04 00:36] asimdis0286 opened #214 "Alarm charges from AWS"
Hi @jayair,

I just got billed ~$3 by AWS and I had no clue. When I checked on CloudWatch as to what was triggering it I realized it was coming from AWS Cloudwatch trying to monitor the read and write capacity usage and alarming me for freakin under-utilization. I followed the exact instructions to setup the tables in this tutorial so I am guessing everyone is going to see them unless they already

[2018-04-04 19:34] jayair commented on #214
@asimdis0286 Some more context on this - https://aws.amazon.com/cloudwatch/pricing/. You should get 10 free alarms.

[2018-04-04 19:36] jayair commented on #19
@mjbf0748 It depends how far along you are. If you are almost done, I'd say complete it and then go over the update. Most of the structure is the same with Amplify. It just makes some parts simpler.

[2018-04-04 19:39] mjbf0748 commented on #19
I have completed most of it. I want to fix this authentication issue before
I continue. If Amplify may help fix this error, I will go over the update.
What do you think?

On Wed, Apr 4, 2018 at 3:36 PM Jay V <notifications@github.com> wrote:

[2018-04-04 19:54] viccooper142 commented on #112
I was getting the same Unexpected token error as Asayyad above trying to run Apig-test in the Windows 10 Powershell. I switched to the CMD.exe terminal and it worked. Sort of ,...I got a different error at that point which was " _status: 400,
  statusText: 'Bad Request',_
I then tried running the command in the Bash terminal in VS Code and it gave me a much more specific error "_getaddrinfo ENOTFO

[2018-04-04 21:27] jayair commented on #19
@mjbf0748 The Amplify update does authentication slightly differently. So it might be worth trying it.

[2018-04-04 21:29] jayair commented on #112
@viccooper142 Thanks for reporting back!

[2018-04-04 21:36] nelsoftcom commented on #52
Help Again please - When I'm trying to list the notes -> getting an error - TypeMismatchError.
thank you :)

[2018-04-04 21:39] iggiFW commented on #71
No tests were run during this tutorial, and by the end of it, the standard create-react-app tests are broken for me. Running "npm test" yields:
[code]
On the Jest and Facebook GH issues they suggest changing the npm command from
[code]
to
[code]
which then yields a different error:
[code]

It seems to be a problem with babel maybe? It has a problem with the JSX caret symbol. When I run a brand new

[2018-04-04 22:29] jayair commented on #71
@iggiFW I'm seeing a different error on my end but yeah tests are something we'll add at some point. I'm not entirely sure why you are seeing a JSX related error.

[2018-04-04 22:29] jayair commented on #52
@nelsoftcom Can I see a screenshot of the error?

[2018-04-05 01:39] SumayaG commented on #214
![cloudwatch_log](https://user-images.githubusercontent.com/36829592/38342956-3089ecce-3836-11e8-99a8-2c47fe1616a0.PNG)

Checkout the attached png. And, yes I know about the 10 alarms but that is something we should make everyone aware off. Add a couple more tables with the same settings and boom you get a bill. I am working with aws support to get it resolved. They do admit that dynamoDB is the c

[2018-04-05 04:46] asimdis0286 commented on #214
thanks @sumayaG....glad someone else is seeing it too.....

[2018-04-05 16:32] nelsoftcom commented on #52
![nelsoftcom_error](https://user-images.githubusercontent.com/28799203/38379003-3a71d106-38b4-11e8-9463-c7c209c053f7.JPG)
@jayair Please see the error. Thanks

[2018-04-05 19:49] stcalica opened #215 "unexpected token in create.js with newer node version?"
`export async function main(event, context, callback) {`

I have this in my `create.js` but I keep getting this error:

[code]

This is after we refactored into the libs.

After looking into it I found a StackOverflow that claims this not the proper way to use `async` with `function` anymore. Or am I wrong and my babel configuration is wrong? Just need help to make it to the next part, please.

St

[2018-04-05 19:51] jayair commented on #214
@SumayaG @asimdis0286 Thanks for the screenshot. So how many tables to you guys have?

[2018-04-05 23:10] viccooper142 commented on #208
Small typo: "The name: "notes" is basically telling Amplify that we want to name our API. Amplify allows you to add multiple APIs that **you** your app is going to work with. In our case our entire backend is just one single API."

[2018-04-05 23:47] SumayaG commented on #214
@jayair I have 6 tables

[2018-04-06 07:29] mbahfauz commented on #52
Hello jay, thanks for your support before, I can render image on list now. But I still got little problem. How can I get image url of every note on home page (List notes). Because I only get name of file on database, But still confuse how to get those image url on list notes.

[2018-04-06 10:48] miloofcroton commented on #71
Hey, just wanted you guys to know that the https://serverless-stack.com/#tools link is no longer pointing to any section on the homepage. No mas tools section.

[2018-04-06 11:04] mbahfauz commented on #49
everyone know how to make our upload images become public read?

[2018-04-06 18:48] jayair commented on #215
@stcalica Yeah I don't think your project is configured properly. Can you compare your `package.json`, `serverless.yml`, and `webpack.config.js` to the one from the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-api/tree/add-support-for-es6-es7-javascript?

[2018-04-06 18:49] jayair commented on #208
@viccooper142 Thanks. Fixed.

[2018-04-06 18:51] jayair commented on #214
@SumayaG I see. We don't really talk about the cost attached to building the demo app. Aside from this chapter - https://serverless-stack.com/chapters/why-create-serverless-apps.html.

And while, we don't add as many tables, I think we can still add a note about the possible charges.

[2018-04-06 18:52] jayair commented on #52
@nelsoftcom I think we need a bit more than that to debug it. Can you try it on Chrome and look at what shows up in the console?

[2018-04-06 18:53] jayair commented on #52
@mbahfauz If you can render it in the notes, why not return it on the list page and do the same?

[2018-04-06 18:55] jayair commented on #71
@miloofcroton Good catch. Fixed it. Thanks.

[2018-04-06 18:58] jayair commented on #49
@mbahfauz There is a section in the Amplify Docs that might help with this - https://aws.github.io/aws-amplify/media/storage_guide#s3image

[2018-04-06 20:56] SumayaG commented on #214
thanks @jayair. I just wanted the users of this amazing tutorial to know what they might possibly run into. Maybe you can add a section or a note to tell people to keep an eye on their cloud watch alarms or turn all of them off because this is not something they trigger intentionally while creating the tables and would not expect to be charged while using the free tier unless they have violated so

[2018-04-06 21:24] jayair commented on #214
@SumayaG Makes sense. Thanks for the feedback!

[2018-04-07 15:41] mbahfauz commented on #52
I had try to render it with {Storage.get('notes.attachment')} But I always got error, this is not react component. If you try to render array, xxxxx

[2018-04-07 15:42] mbahfauz commented on #49
Thanks man

[2018-04-07 20:13] jayair commented on #52
@mbahfauz Yeah you can't directly use that in your component. It returns a promise and you need to set it after it returns. Notice what we do with it here - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/containers/Notes.js#L31.

[2018-04-08 02:38] twalkerjr22 commented on #39
Does anyone know how to fix this error? TypeError: _this.props.userHasAuthenticated is not a function. (In '_this.props.userHasAuthenticated(true)', '_this.props.userHasAuthenticated' is undefined)

[2018-04-08 19:47] viccooper142 commented on #46
Hi Jayair, I'm getting a couple of errors I can't figure out. When my app page loads I get a "No userPool" alert. I can login as my test user just fine but then if I switch to a new page such as http://localhost:3000/notes/new (I just finished building this per Add the Create Note Page) then I get the same message. Also it appears that I am logged out. Any idea what I might have missed? Thanks!

[2018-04-08 21:44] EllaVader commented on #46
When I try to sign up and recieve my confirmation code and then enter it in I get a message saying that "Auth.confirmSIgnup is not a function" . Here i screenshot and here is my code:

`handleConfirmationSubmit = async event => {
    event.preventDefault();
    this.setState({ isLoading: true });
    try{
      await Auth.confirmSignup(this.state.email, this.state.confirmationCode);
      await Au

[2018-04-09 05:20] leedstyh opened #216 "As a demo app, can we remove the password policy?"
I mean this [demo app](https://demo.serverless-stack.com/signup).

Tried more than 5 times, still get `Password did not confirm with policy: XXX`

Or show the full policy on the sign up page!

[2018-04-09 10:48] 19bharatvikram commented on #19
Hi Jay,

I have 2 users where they can see their notes only. Now, I want enable user1 to view/edit the notes of user2 but not delete them.

Is it possible to do that ? if yes How?

Thanks,
Bharat Chand

[2018-04-09 16:29] iggiFW opened #218 "Some part of the tutorial breaks the tests included in create-react-app"
The tests included in create-react-app do not work if you follow this tutorial to the end.
create-react-app tests work fine for me when I first generate a project, but for the code I built using this tutorial the very basic tests (just test to see if a component loaded up on a page) break.

I mentioned this in the comment section of "Wrapping Up" and got confirmation from @jayair that his tests we

[2018-04-09 16:43] iggiFW commented on #218
Oops opened this issue with wrong GH acct sorry

[2018-04-09 16:43] #218 closed

[2018-04-09 16:44] iggirex opened #219 "Some part of the tutorial breaks the tests included in create-react-app"
The tests included in create-react-app do not work if you follow this tutorial to the end.
create-react-app tests work fine for me when I first generate a project, but for the code I built using this tutorial the very basic tests (just test to see if a component loaded up on a page) break.

I mentioned this in the comment section of "Wrapping Up" and got confirmation from @jayair that his tests we

[2018-04-09 17:27] jayair commented on #39
@twalkerjr22 Where exactly are you seeing this?

[2018-04-09 17:29] jayair commented on #49
@viccooper142 I think you might have missed a step in the previous chapter - https://serverless-stack.com/chapters/call-the-create-api.html

There we add the `createNote` method which in turn uses the `API` module. This will resolve both your issues.

[2018-04-09 17:32] jayair commented on #46
@EllaVader There is a tiny typo. It is `Auth.confirmSignUp`.

[2018-04-09 17:35] jayair commented on #46
@viccooper142 Can you check this specific line in your `src/index.js` https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/configure-aws-amplify/src/index.js#L12?

It looks like Amplify might be trying to create an anonymous user every time you load your page.

[2018-04-09 17:39] jayair commented on #216
@leedstyh Yeah it is a bit annoying. We don't touch the default AWS Cognito policy. You can see it here  - https://d33wubrfki0l68.cloudfront.net/1f82c4f88252f824b6897ff7f93ff76e2e3912d6/b9440/assets/cognito-user-pool/select-create-pool.png

But as you working on the tutorial you can change the policy. It's a part of this chapter - https://serverless-stack.com/chapters/create-a-cognito-user-pool.ht

[2018-04-09 17:50] jayair commented on #19
@19bharatvikram There are lots of ways to do this. Currently, we get notes using a user id and note id pair. To allow users to access other user's notes; you'd need to store your notes under a different index. Maybe just store it under note id. But you'll need to separately track which user has access to which set of notes.

[2018-04-09 17:53] jayair commented on #219
@iggirex Here is the error I see when I run `npm run test`.

[code]

But this is normal because you'd need to configure your tests to run with React Router. I'm not sure what the error is that you are seeing. Can I see your `package.json`?

[2018-04-09 18:09] 19bharatvikram commented on #19
Hi Jay,

Thanks for your quick response. I understand that I'll need an index column say noteId for that. Just wanted to know more how can I make a track of which users has access to which set of notes. An pseudo code or sample IAM role/policy or any reference link/doc will help.

Thanks again,
Bharat Chand

[2018-04-09 18:46] jayair commented on #19
@19bharatvikram Hmmm you could use an IAM role if your user groups are not dynamic. Say for example you had an admin group and regular users group that had different set of permissions. Then you could create roles for them. But if the relationships are dynamic then it might be trickier.

[2018-04-09 18:49] jayair commented on #46
@viccooper142 I think it's the order of the calls. Can you try moving the Amplify block below the imports and see if that fixes the issue?

[2018-04-09 18:52] viccooper142 commented on #46
@jayair  That worked! It was just the order. I copied your version of src/index.js and the error went away. Thanks!

[2018-04-09 20:25] iggirex commented on #219
Sure @jayair, I don't think I've added anything outside of what the tutorial said to do.
[code]

[2018-04-09 20:43] EllaVader commented on #46
@jayair thank you -- I missed that typo

[2018-04-10 02:35] daenamkim commented on #28
@jayair

Hi,

I think there is a problem(I don't know what it is exactly) on the deployment because I failed API test and found no DynamoDB access policy in lambda role.

Here is I did.

1. Add a policy for DynamoDB based on [here](https://serverless-stack.com/chapters/add-a-create-note-api.html).

[code]

2. `serverless deploy` after I created backend APIs and tested them in the local env.

3. An

[2018-04-10 03:55] daenamkim commented on #28
@jayair

Hi,

I got questions and here I did.

1. I followed all procedures of serverless stack to build backed APIs and added role in `serverless.yml` as well and deployed it.

[code]

2. I ran `apig-test` and an error occurred.

[code]

And in the CouldWatch

[code]

3. So I checked out lambda's role but there was no dynamodb access policy. I don't know why.
I added a policy setting and ran simu

[2018-04-10 13:25] lepirlouit commented on #22
aws announced support for node 8.10 : https://aws.amazon.com/about-aws/whats-new/2018/04/aws-lambda-supports-nodejs/?nc1=h_ls

is it as simple to replace 6 by 8 in `.babelrc` and in `serverless.yml` files

[2018-04-10 18:17] jayair commented on #219
@iggirex Yeah the only thing that is different for me is the `test` command. Can I see the GH issue that suggested changing the command?

[2018-04-10 18:20] jayair commented on #28
@daenamkim Can you check to make sure the `iamRoleStatements` section is formatted correctly? Compare it to the file in the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml. That can usually cause the problem.

[2018-04-10 19:49] stcalica commented on #215
so I actually just went in and pasted them in. Originally I actually tried writing them in myself.
But now I'm stuck with `Unexpected token function`

[code]

Offending line:
`
eval("__webpack_require__.r(__webpack_exports__);\n/* harmony export (binding) */ __webpack_require__.d(__webpack_exports__, \"main\", function() { return main; });\n/* harmony import */ var uuid__WEBPACK_IMPORTED_MODULE_0_

[2018-04-10 20:48] viccooper142 commented on #66
When I try to load my www.mydomain.com I get an error in the browser "ERR_TOO_MANY_REDIRECTS". I think I must have messed up a step. Is there anyway to trace it to pinpoint the error?

[2018-04-11 01:56] daenamkim commented on #28
@jayair

It was an indent issue.

Thank you so much!!!!

[2018-04-11 14:55] sunkay commented on #47
I get the following access denied error uploading an attachment. Local testing worked fine. Any thoughts on what might be causing this and how to fix it? Thanks.

PUT https://notes-app-uploads-takecontrol.s3.amazonaws.com/private/us-east-1%3A617058f3-510a-4e29-a4c1-264aa7e56291/1523457483356-10%20things%20that%20require%20zero%20talent.png 403 (Forbidden)
StorageClass - error uploading: Error: Acc

[2018-04-11 15:45] ramnavan commented on #208
My question is behind the relationship between user pool and identity pool when performing signup and signin. Since signup and signin are primarily handled only my the Cognito User Pool, it confuses me why IdentityPoolId needs to be specified when configuring AWS Amplify? SignUp operation especially just creates user in the User Pool. What's identity pool's involvement here?

[2018-04-11 17:16] Tee88 commented on #112
How does the APIclass in Amplify pass similar info as in the apig-test  below? How does my API know whether the cognito user who invoked the API belongs to identity pool in which I attached :
{
      "Effect": "Allow",
      "Action": [
        "execute-api:Invoke"
      ],
      "Resource": [
        "arn:aws:execute-api:YOUR_API_GATEWAY_REGION:*:YOUR_API_GATEWAY_ID/*"
      ]
    }
[code]

[2018-04-11 19:03] iggiFW commented on #219
@jayair there were several places that suggested to change that script, here is one of them on  the facebook/jest GH: https://github.com/facebook/jest/issues/3436

It's a little ways down, I haven't tried installing "watchman" since I don't know what it does or why add it to create-react-app, but I'm running out of other solutions so i might try that soon here.

[2018-04-11 19:07] iggiFW commented on #219
I went back through my commit history and found the place where the tests start to break. I should mention though, that the error messages when trying to run tests are very different in these earlier commits than when the project is finished.
The problem is in App.js, when either <Routes /> or <Link to="/">Scratch</Link> are added to the project.
[code]
And this is the error I get when these lines

[2018-04-11 19:15] iggirex commented on #219
@jayair there were several places that suggested to change that script, here is one of them on  the facebook/jest GH: https://github.com/facebook/jest/issues/3436

It's a little ways down, I haven't tried installing "watchman" since I don't know what it does or why add it to create-react-app, but I'm running out of other solutions so i might try that soon here.

[2018-04-11 19:15] iggirex commented on #219
I went back through my commit history and found the place where the tests start to break. I should mention though, that the error messages when trying to run tests are very different in these earlier commits than when the project is finished (notice the newer errors up in the OP, and these diff error messages back in the commit history)
The problem is in App.js, when either these lines are added:

[2018-04-11 21:17] iggirex commented on #219
Started the tutorial from scratch, I can confirm this is the step where the tests stop working: https://serverless-stack.com/chapters/create-containers.html

"And go ahead and remove the code inside src/App.js and replace it with the following."
[code]
I realize there is some bad things that happen to React tests when you start using React Router, I'm still pretty new to it and don't know much abo

[2018-04-11 23:26] jayair commented on #112
@Tee88 Amplify handles your app as a whole. When you first configure Amplify we set all the Cognito info, similar to what we do for `apig-test` - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/config.js

So it knows that you are using those credentials to access the API.

[2018-04-11 23:40] jayair commented on #219
@iggirex Yeah this is the error you will probably see. This is because if you are tests components that rely on the Router, you'll need to provide them with a context - https://stackoverflow.com/a/43775325

[2018-04-12 11:40] sunkay commented on #47
@jayair There was a typo in my S3 iam policy. Double checked and fixed it. Thanks for the pointer.

[2018-04-12 16:40] stcalica commented on #215
kyle$ node --version
v6.3.0
kyle$ npm --version
4.0.3
kyle$ serverless --version
1.26.1

[2018-04-12 18:09] jayair opened #223 "Update to Lambda v8.10"
We just rolled out an update to the serverless portion of the guide to use Lambda Node v8.10. We also updated the [Add support for ES6/ES7 JavaScript](https://serverless-stack.com/chapters/add-support-for-es6-es7-javascript.html) chapter to use the [serverless-nodejs-starter](https://github.com/AnomalyInnovations/serverless-nodejs-starter). Here are the change sets for the update:

- [Tutorial cha

[2018-04-12 18:46] jayair commented on #215
@stcalica Yeah we need at least Node v8.10 for this. Since we are targeting Lambda functions that recently updated to v8.10.

[2018-04-12 19:14] stcalica commented on #215
just updated node, it's not working. It runs without error. but doesn't even print out my simple print statements.
I copied the code from the site as well. hmmmm

[2018-04-12 19:26] stcalica commented on #215
`serverless invoke local --function create --path mocks/create-event.json`

[2018-04-12 21:02] iggirex commented on #219
@jayair you were right about having to add context. I was having some different issues as well trying to figure out what my test script should be (in package.json) and getting a CRA dependency called watchman to work. I've detailed my solution in this SO post:
https://stackoverflow.com/questions/49784990/why-does-react-router-break-create-react-app-tests-how-to-fix-this
Let me know if you also wan

[2018-04-12 21:02] #219 closed

[2018-04-13 04:59] willieray25 commented on #112
Greetings.  Having an issue currently.  From what i can gather it may be babel related, though i have followed the instructions exactly, and have not had any errors up until now that were easily fixed typos.

Getting the 502 error:
[code]
Cloudwatch output:
`Syntax error in module 'create': SyntaxError
async function main(event, context, callback) {
^^^^^^^^
SyntaxError: Unexpected token function

[2018-04-14 02:26] hutcho66 commented on #55
@jayair hoping you can provide some assistance. Getting some interesting behaviour where if a new file is added, it correctly uploads (appears in the right S3 folder) but it doesn't replace the existing attachment reference in the DynamoDB table, so when I re-open the note, the original file is still the attached file.

I'm assuming it's an issue with my update API not replacing the attachment ref

[2018-04-14 02:38] kerly commented on #208
Does anyone have any recommendations for configuring multiple environments (dev and prod) with Amplify.configure? I've looked into the node package "configure", but that seems to be geared towards running a node server not a static website.

[2018-04-16 02:50] bharloe commented on #80
It doesn't exist AFAIK

[2018-04-16 12:16] caronicolas commented on #39
I have the same error as @twalkerjr22 . The error appear in a popup when I try to log in.
I have read again the complete part two times but I don't find what I'm doing wrong...

[2018-04-16 17:04] Selimonder opened #224 ""Auth.currentSession()" - "No userPool" error"
Hello people,
Hardcore JS plus AWS noob here. Appreciating the guide that you are presenting, and following it step by step. However, I am facing with an issue that I cannot wrap my head around.

The summary of the issue is,
I am very well able to use functions such as login and sign up via aws-amplify(Auth), however, each time the app page get refreshed, my auth state is logged out plus I am rece

[2018-04-16 17:25] jayair commented on #215
@stcalica That looks good. What does your `package.json` look like?

[2018-04-16 17:26] jayair commented on #219
@iggirex Thanks for following up. I'll direct people to this issue in case people run in to something similar.

[2018-04-16 17:27] jayair commented on #112
@willieray25 Yeah there was a recent update that can cause this. Glad you figure it out.

[2018-04-16 17:50] jayair commented on #55
@hutcho66 That is really weird. If you think it's the API, you can try the test we used back in this chapter - https://serverless-stack.com/chapters/add-an-update-note-api.html.

[code]

And use a `console.log(result)` before we invoke the `callback` function.

[2018-04-16 17:51] jayair commented on #208
@kerly We cover the general idea based on the Create React App docs here - https://serverless-stack.com/chapters/environments-in-create-react-app.html

[2018-04-16 17:53] jayair commented on #80
Yeah there isn't one yet. We might add a chapter on Redux but having a separate Redux version could make things a lot more complicated.

[2018-04-16 18:04] jayair commented on #39
@caronicolas Can you tell me exactly after which step in the tutorial do you start seeing this error?

[2018-04-16 18:05] jayair commented on #224
@Selimonder Can you tell me after which step you are getting this error?

[2018-04-16 18:11] Selimonder commented on #224
https://serverless-stack.com/chapters/load-the-state-from-the-session.html

exactly in this step.

[2018-04-16 18:32] jayair commented on #224
@Selimonder Can you make sure you have this line - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/index.js#L12 in your `src/index.js`?

[2018-04-16 18:35] Selimonder commented on #224
Thank you, it is fixed. (I think there was an issue with order)

[2018-04-16 19:03] alex-romanov commented on #39
@jayair, I have the same error as @carnicolas, the error is comes from within the try statement in the handleSubmit function in Login.js

[2018-04-16 19:07] caronicolas commented on #39
It's just after this step :

[2018-04-16 19:39] caronicolas commented on #39
Ok, thank you @alex-romanov, I insert a space between childProps and '=' sign... My bad... Sorry @jayair

[2018-04-17 01:36] btotharye commented on #52
any idea why when I click on a note it takes me to the right ID page in the URL and I can see the console.log of the object but it always says page not found like its not loading the notes when I click them but its loading them fine in the list and creating them fine, just not loading the page when I click on a note, any idea what might be doing this?  No errors in the console atm.

[2018-04-17 03:47] daenamkim commented on #22
@jayair

Hi, I think it's necessary to mention `serverless-offline` installation in the page because I forced as below.

[code]

[2018-04-17 18:11] jayair commented on #52
@btotharye Does it fail to load when you go to the URL directly?

[2018-04-17 18:17] btotharye commented on #52
I just redid it and it's fine not sure what the issue was, thanks

[2018-04-17 21:16] alex-romanov commented on #52
I'm having the same "page not found" problem that @btotharye was reporting but I haven't been able to fix it.
I already tried loading the url directly and nothing.

[2018-04-17 22:45] jayair commented on #39
@alex-romanov @caronicolas Glad you figure it out.

[2018-04-18 12:12] TinCharMan commented on #23
I'm running $ serverless invoke local --function create --path mocks/create-event.json

My return is:
{
    "statusCode": 500,
    "headers": {
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Credentials": true
    },
    "body": "{\"status\":false}"
}

It appears to be a permissions/IAM issue:
AccessDeniedException: User: arn:aws:iam::123186399999:user/<myuser> is not au

[2018-04-18 12:39] TinCharMan opened #226 "Serverless plugin "serverless-offline" not found."
The latest serverless.yml in chapters add-a-create-note-api.md and add-support-for-es6-es7-javascript.md includes the serverless-offline plugin.

executing **$ serverless invoke local --function create --path mocks/create-event.json**
generates the following error:

[code]

Executing **$ npm install serverless-offline -g** will install the plug in and resolve the issue.

Suggesting to add the foll

[2018-04-19 01:25] daenamkim commented on #226
@TinCharMan In this [page](https://serverless-stack.com/chapters/setup-the-serverless-framework.html) if you run a command as below, `serverless-offline`
 is already included in `serverless.yml`.
[code]

And I think you don't need to run `npm install -g` but `npm install --save-dev` or `yarn add --save-dev` because it's in `devDependencies` of package.json.

Happy serverless!

[2018-04-19 02:47] stcalica commented on #215
[code]

I'm hoping I just need to update something. Maybe in the front of the site or end you can keep an udpated `package.json`? I'd be happy to contribute to that and keep it updated if you want help if that'd be too much of a nuisance.

[2018-04-19 19:31] alex-romanov commented on #56
This might not belong here, but is in this step when I found the error.
I'm unable to do anything with attachments, when I select an attachment and click save i get the following errors on the console:

Failed to load https://arm-notes-app-uploads.s3.amazonaws.com/?max-keys=0: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the

[2018-04-20 11:34] harrisonturton opened #227 "Adding links to documentation"
Hello,

Had a great time reading through this guide, but I think it'd really benefit from relevant links to the documentation.

When trying to strike out on my own (after going through this), I found it difficult to go past what the tutorial offers, because I didn't know where to go. The AWS docs are confusing for a beginner!

[2018-04-20 17:27] jayair commented on #215
@stcalica Hmm that looks okay. We link to the repo at the end of major chapters - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/package.json.

I don't think this error is related to the project. Which OS are you on?

[2018-04-20 17:30] jayair commented on #56
@alex-romanov A couple of things to check. Check the CORS config we set in this chapter - https://serverless-stack.com/chapters/create-an-s3-bucket-for-file-uploads.html. And make sure the IAM policy in the chapter is set properly - https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html. There are also some tips on debugging the IAM policy here - https://serverless-stack.com/cha

[2018-04-20 17:31] jayair commented on #227
@harrisonturton Yeah they are. Can you give me an example of some links you'd like to see?

[2018-04-20 19:31] stcalica commented on #215
I'm on MAC OSX El Captain.

Damn that's discouraging. Have no idea how to continue with this then. :/

[2018-04-20 19:39] d3lusional commented on #39
I am having the same issue with "this.props.userHasAuthenticated" is not a function. Unfortunately my problem wasn't the <Routes childProps={childProps} />

[2018-04-21 01:59] harrisonturton commented on #227
These are a few things off the top of my head:

- Docs for working with DynamoDB, or at least a starting point
    - The tutorial explains how to Create/Add/Delete etc, but (obviously) Dynamo can do much more. Where do I go to find these?
    - Linking to the docs for just creating/adding/deleting items is probably sufficient, as the reader can discover more from there.
- Docs for the serverless f

[2018-04-22 00:47] Tayl0rFay commented on #46
Although I copied and pasted the exact code from the Signup.js in the repo, for some reason the redirect isn't working right.
1. I sign up
2. Enter the confirmation code
3. I get an alert saying "undefined"
4. I'm logged in, but I'm not redirected from the confirmation page.

<img width="1421" alt="screen shot 2018-04-21 at 8 42 19 pm" src="https://user-images.githubusercontent.com/22434607/390901

[2018-04-22 00:49] jayair commented on #215
@stcalica You can try running the debug version of the command `SLS_DEBUG=* serverless invoke local --function create --path mocks/create-event.json`.

[2018-04-22 00:50] jayair commented on #39
@d3lusional What's the issue you are having?

[2018-04-22 00:51] jayair commented on #227
I see. Yeah we should expand on the DynamoDB part for sure. I think this is a great guide - https://www.dynamodbguide.com.

[2018-04-22 00:55] jayair commented on #46
@Tayl0rFay Couple of things. Can you double check that the signup actually worked by trying to login with the credentials (make sure you are logged out first)? And can you post your `package.json` here as well?

[2018-04-22 00:57] Tayl0rFay commented on #46
@jayair Yep, I'm able to sign in

[code]

[2018-04-22 07:06] mbahfauz commented on #52
Anyone know how to call notes for  not authorize user?
I had try with this code:
`async componentDidMount() {
        const coins = await this.coins();
        this.setState({ coins });
        this.setState({ isLoading: false });
    }`

But got not creditentials.

Thanks

[2018-04-22 19:14] pereiraryan opened #228 "User locked out if confirmation window is closed without filling."
Once a user signups but doesn't fill the confirmation window, they are not promoted for a confirmation textbox when trying to login again.

[2018-04-23 17:05] jayair commented on #46
@Tayl0rFay One issue I see is the `amazon-cognito-identity-js` include. Compare it to the one we have in the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/package.json.

This might from an older version of the tutorial. I'm not sure if it's causing the problem but you can try removing it using `npm uninstall`.

[2018-04-23 17:07] jayair commented on #52
@mbahfauz Sorry what didn't work for you? Are you trying to call an API that doesn't need authentication?

[2018-04-23 17:08] jayair commented on #228
@pereiraryan Yeah we mention this in the tutorial. It is left as an exercise for the reader with some hints on how to implement it - https://serverless-stack.com/chapters/signup-with-aws-cognito.html.

[2018-04-23 18:06] mbahfauz commented on #52
@jayair Yap that is true bro. I want to call the note api for public who doesn't need authentication.m

[2018-04-23 18:46] mbahfauz commented on #52
Got it,
So the code would be like this?

`list:
    # Defines an HTTP API endpoint that calls the main function in list.js
    # - path: url path is /notes
    # - method: GET request
    handler: list.main
    events:
      - http:
          path: notes
          method: get
          cors: true
          authorizer: turn_off`

Or I should use other way?

Thanks

[2018-04-24 07:49] DomitriusAnthony commented on #112
I keep getting -

' Missing required arguments: identity-pool-id, invoke-url, path-template '

Each of them have values. Kinda lost here.

[2018-04-25 18:15] francisngo commented on #55
@toddmcneill getAwsCredentials is not defined. Where is this function being imported from. I couldn't find it in aws-amplify.

[2018-04-26 19:11] Mr-SD commented on #66
Can you confirm these are the correct settings? @jayair I'm having trouble getting my www.example.com domain to redirect to `example.com`. When I go to www.example.com I get redirected to the cloudfront domain for example.com (whatever.cloudfront.net).

My settings are as follows:
- My www bucket redirects to example.com
- My apex cloudfront distribution's CNAME is set to example.com
- My www clou

[2018-04-27 11:47] kosirm opened #229 "AWS Cloud9 Tutorial"
Hi, thanks so much for this tutorial, it is eye-opening for Lambda beginners like me. I'm Cloud9 user for years and recently Cloud9 was bought by Amazon, as you probably know. It is interesting, that first real change in Cloud9 was [Lambda integration](https://docs.aws.amazon.com/cloud9/latest/user-guide/lambda-functions.html).
There are videos like [this](https://youtu.be/u1D1KVECjiY) and [this](

[2018-04-30 14:35] thevamad commented on #112
@jayair : I'm not able to get past the following error. My .aws/credentials file has the access key and secret key and the region is hard coded into the dynamo-lib file. Do you happen to know what could cause this ? The region on all my js files / user pools / etc are all 'us-west-2' ...

{
  status: 403,
  statusText: 'Forbidden',
  data: { message: 'Credential should be scoped to a valid region,

[2018-04-30 16:36] mrburza commented on #223
Hey Jayair
Both links point to the same page - https://github.com/AnomalyInnovations/serverless-stack-demo-api/compare/v2.1...v2.2
Feel free to remove my comment once you update it. Regards!

[2018-04-30 18:16] jayair commented on #52
@mbahfauz You can just skip the `authorizer` option.

[2018-04-30 18:28] thevamad commented on #112
npx aws-api-gateway-cli-test --username madhu@gmail.com --p
assword Password_1 --user-pool-id us-west-2_KkiPPu5xj --app-client-id ohorcp7n9q
tap2jqbrmnof789 --cognito-region us-west-2 --identity-pool-id us-west-2:e5f17dcd
-2650-4f22-a3e4-d19531195986 --invoke-url https://q350s3y4r3.execute-api.us-west
-2.amazonaws.com/prod/notes --api-gateway -region us-west-2 --path-template note
s --method POST

[2018-04-30 18:50] kosirm commented on #229
Thanks for reply @jayair ! What do you mean when you say "a bit tricky"? I would be interested to know what can or can't be achieved with/without Serverless Framework. It would be great info for beginners like me.
There are two nice tutorials also AWS site: [AWS Lambda Tutorial](https://docs.aws.amazon.com/cloud9/latest/user-guide/tutorial-lambda.html) and [Advanced AWS Lambda Tutorial](https://do

[2018-04-30 18:50] jayair commented on #112
@thevamad I'm not sure if this is a typo `--api-gateway -region` but just make sure the region is set correctly.

[2018-04-30 18:52] thevamad commented on #112
Oh man. You're right. That was a typo :) Thanks a ton!

[2018-04-30 19:04] jayair commented on #229
@kosirm Serverless Framework gives you a simpler way to create the resources we go through in the tutorial. They definitely can be done without it but as your project grows more complex it becomes harder to manage them on your own.

[2018-04-30 19:17] kosirm commented on #229
Thanks @jayair

[2018-05-01 19:14] ahammond commented on #23
Based on @oliv9286 's comment, I used the following to set non-default credentials.

[code]

[2018-05-02 12:25] jonasbarsten commented on #112
This solved my 403:

IAM -> Roles -> Cognito_notesAuth_Role -> oneClick_Cognito_notesAuth_Role_XXXXXXXXX -> Edit Policy -> JSON:

On line 30, the copy/paste of the code from the tutorial had beed "auto-corrected" from "arn", to "Arn".

It should be lowercase.

[2018-05-02 18:32] jayair commented on #23
@ahammond So this would work when invoking locally but when you deploy the Lambda function won't be able to find the `personal` credentials (AFAIK). We cover this in the tutorial, you can use this command to invoke locally with non-default credentials.

[code]

Did that not work for you?

[2018-05-02 18:33] jayair commented on #112
@jonasbarsten  Oh wow, that is a really annoying problem caused by auto-correct.

[2018-05-02 18:49] jonasbarsten commented on #112
@jayair Not as annoying as the world was before you made this tutorial ;)

[2018-05-02 19:04] alex-romanov commented on #67
I'm getting the ERR_TOO_MANY_REDIRECTS when trying to load the site, I already have the two s3 buckets (one to handle redirects) I've been going over all the steps to see if I'm missing anything but nothing stands out, is there a way to troubleshoot where the error is?

[2018-05-02 22:37] ahammond commented on #112
I'm getting
[code]

When I run the test. I've added `console.log(e)` to all the handlers. Where should I look to find my mistake? https://github.com/ahammond/notes-app-api is my WIP

[2018-05-03 07:47] jonasbarsten opened #230 "Reactive data in GUI"
Hi :)

How can I make the GUI reactive (if that’s the right word).

For example when I see all my notes in the GUI and I manually remove/edit/add a note from the DynamoDB console, I want the GUI to reflect that without reloading.

Websocket? Streams?

[2018-05-03 12:43] thevamad commented on #112
@ahammond : I had the same issue. I used this command to configure the serverless credentials per this guide. I had previously set this up using aws configure which only seemed to use the credentials on any CLI command that was run.
https://serverless.com/framework/docs/providers/aws/guide/credentials/

serverless config credentials --provider aws --key AKIAIOSFODNN7EXAMPLE --secret wJalrXUtnFEMI/

[2018-05-03 17:38] jayair commented on #230
@jonasbarsten Hmm I'm not entirely sure. I guess it would be Websockets.

[2018-05-03 17:41] jayair commented on #112
@ahammond Are you setting which profile to use in your Lambda function?

[2018-05-04 17:30] ringoyip0901 opened #231 "Inaccessible host: `cognito-idp.your.amazonaws.com'."
Link: https://serverless-stack.com/chapters/test-the-apis.html

When I was testing the API gateway, I got the following message in the terminal: "Inaccessible host: `cognito-idp.your.amazonaws.com'. This service may not be available in the `YOUR' region."

Is it possibly due to the S3 bucket itself, or some other things that I am not yet aware of? Thank you so much.

[2018-05-04 18:38] jayair commented on #231
@ringoyip0901 Some times that happens when that host is not accessible (internet connectivity issues). But what does your full command look like?

[2018-05-04 18:50] jayair opened #232 "Announcement: Moving comment threads to Discourse"
Hi guys,

Serverless Stack is going to be getting a brand new forum.

And we are going to be moving the chapter comments from GitHub issues over to a new forum. GitHub issues isn't really built for community discussions. Having a separate community for Serverless Stack is something that gets requested often.

Over the next few days we will:

- Close the current chapter comment threads with a link

[2018-05-04 19:05] smokeyblues commented on #38
Hey thanks for the tutorial. It has been informative and inspiring. Maybe too inspiring (lol) because I tried to integrate it with a gatsbyjs generated frontend and ran into a problem that doesn't have a lot of documentation online.

I have a login page with cognito and aws amplify set up but when I click the 'sign in' button I get:
[code]
or

![](https://s3-us-west-2.amazonaws.com/screenshots2sha

[2018-05-04 20:15] ringoyip0901 commented on #231
@jayair thank you for the reply! I use a mac so I use the same command as the tutorial shows:
"npx aws-api-gateway-cli-test \
--username='admin@example.com' \
--password='Passw0rd!' \
--user-pool-id='YOUR_COGNITO_USER_POOL_ID' \
--app-client-id='YOUR_COGNITO_APP_CLIENT_ID' \
--cognito-region='YOUR_COGNITO_REGION' \
--identity-pool-id='YOUR_IDENTITY_POOL_ID' \
--invoke-url='YOUR_API_GATEWAY_URL' \

[2018-05-04 22:40] #231 closed

[2018-05-04 23:01] ringoyip0901 commented on #48
Whenever I call this API or try to create a note, I get the following error. Any advice or pointers? Thank you! I'm pretty sure I set all the cors to be true on my serverless.yml file.

<img width="1322" alt="screen shot 2018-05-04 at 4 00 01 pm" src="https://user-images.githubusercontent.com/29696047/39656400-563e1126-4fb4-11e8-8f8d-63b426d86d61.png">

[2018-05-05 14:58] 19bharatvikram commented on #49
Hi Jay,

I have a <UnauthenticatedRoute ...> page where I want to display some public image from AWS S3 using <S3Image imgKey={temp.attachment}/> where  S3Image component is from 'aws-amplify-react'

I get error: cannot get guest credentials when mandatory signin enabled.

To solve it I used mandatorySignIn: false in my Amplify.configure  settings in index.js but I am still getting the below error

[2018-05-06 02:45] TinCharMan commented on #23
Thank you @jayair

[2018-05-07 17:16] devsteff commented on #112
I also received a 403 - Forbidden access.

After doublechecking erverything, it turns out, that the cut'n'paste of the Access Rule **from the PDF** was the problem. The hyphen characters from the longer lines are **not** copied and so the keywords are rubbish. You can try it by yourself. Just copy the snippet from the PDF and insert it into your editor.

"Resource": [
"arn:aws:s3:::YOUR_S3_UPLOADS

[2018-05-07 22:27] jayair commented on #38
@smokeyblues Can you boil it down to the line that is throwing the error?

[2018-05-07 22:29] jayair commented on #48
@ringoyip0901 Did this chapter work for you - https://serverless-stack.com/chapters/test-the-apis.html?

If it did then we might have to look at the logs to see what is going on.

[2018-05-07 22:31] jayair commented on #49
@19bharatvikram Yeah this setup is a bit different. You need to create an Unauth role for your Identity Pool to specify the resources unauthenticated users have access to.

[2018-05-07 22:38] jayair commented on #112
@devsteff Hmmm that's weird. I just tried the exact same lines from the PDF and it worked okay for me. I'm on macOS 10.13. Are the hyphens missing only for these snippets?

[2018-05-07 23:03] devsteff commented on #112
Yes, Seems so. I figured out, that when using the Apple Preview App for the PDF, copy'n'paste is ok. The hyphen is there, but line ist splittet and must be joined. But with Adobe Acrobat Reader App (Architecture: x86_64, Build: 18.11.20038.267465, AGM: 4.30.74, CoolType: 5.14.5, JP2K: 1.2.2.39492)
you can reproduce the issue. So I think it's more a Adobe twist, than a problem in the PDF.

[2018-05-08 00:43] TinCharMan commented on #226
Thank you both.  All good with latest repo.

[2018-05-08 15:06] mgeiser commented on #21
Under the "Install Node.js packages" section, you say "At the root of the project, run."

It would be helpful to disambiguate by confirming the root of the project; I assume this is not the notes-app-api directory but the parent directory

[2018-05-08 15:09] mgeiser commented on #21
ok, I guess it was notes-app-api...

[2018-05-09 09:06] johnykifle opened #234 "cannot get guest credentials when mandatory signin enabled"
Getting error 'cannot get guest credentials when mandatory signin enabled' when ever I try to read/create
f.eg  notes = () => API.get('notes', '/notes');

[2018-05-09 14:48] abhisheksett commented on #23
@F-Adam-B Is the issue resolved for you?

[2018-05-09 15:29] 19bharatvikram commented on #49
Thanks Jay, Enabling access to unauthenticated identities and giving readonly s3 permission to Unauthenticated role solved the issue.

![image](https://user-images.githubusercontent.com/31919585/39823964-d1713588-53cb-11e8-8d4d-8a3784891e38.png)

[2018-05-09 17:27] devsteff commented on #55
I also try to solve the _not deleted attachment_ problem.
Unfortunately I receive the following Network error:

`Failed to load https://notes-app-uploads-stf.s3.eu-central-1.amazonaws.com/private/eu-central-1%3A7ba61059-782c-4ad2-9dff-ac5b05f36711/1525885247833-pizza.jpg: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requ

[2018-05-09 17:32] abhisheksett commented on #23
I was facing the same issue mentioned by @F-Adam-B , saying

    at Object.exports._errnoException (util.js:1024:11)
    at exports._exceptionWithHostPort (util.js:1047:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1150:14)
  message: 'Missing credentials in config',

That got resolved by exporting AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY. Now I'm getting following error:

[2018-05-09 17:44] jayair commented on #55
@devsteff So you are able to upload but not delete?

[2018-05-09 17:45] jayair commented on #23
@abhisheksett When are you seeing this error?

[2018-05-09 17:48] jayair commented on #230
This issue was moved to https://discourse.serverless-stack.com/t/reactive-data-in-gui/15

[2018-05-09 17:48] #230 closed

[2018-05-09 17:53] devsteff commented on #55
That's right. Also the API calls to dynamoDb are working.
By the way the given URL is exact the same as i the S3 interface when I look into the item properties. When I click the given [link from inside S3](https://s3.eu-central-1.amazonaws.com/notes-app-uploads-stf/private/eu-central-1%3A7ba61059-782c-4ad2-9dff-ac5b05f36711/1525888213471-pizza.jpg) the result is the following XML:

[code]

[2018-05-09 17:57] abhisheksett commented on #23
I'm getting this error when I'm trying to create a note by following command:

`serverless invoke local --function create --path mocks/create-event.json`

[2018-05-09 18:31] jayair commented on #55
@devsteff This seems related to the S3 CORS settings. Here is the one we use in the tutorial.

[code]

Have you tried it with this?

[2018-05-09 18:34] jayair commented on #23
@abhisheksett This seems like it is complaining about not finding your DynamoDB table. Can I see your `create.js`?

[2018-05-09 18:39] jayair commented on #69
This issue was moved to https://discourse.serverless-stack.com/t/comments-update-the-app/43

[2018-05-09 18:39] #85 closed

[2018-05-09 18:39] #101 closed

[2018-05-09 18:39] #102 closed

[2018-05-09 18:39] #124 closed

[2018-05-09 18:39] #148 closed

[2018-05-09 18:39] #167 closed

[2018-05-09 18:39] #168 closed

[2018-05-09 18:39] jayair commented on #44
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-signup-page/65

[2018-05-09 18:39] jayair commented on #29
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-new-react-js-app/68

[2018-05-09 18:39] jayair commented on #34
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-containers/62

[2018-05-09 18:39] jayair commented on #36
This issue was moved to https://discourse.serverless-stack.com/t/comments-handle-404s/75

[2018-05-09 18:39] jayair commented on #37
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-login-page/71

[2018-05-09 18:39] jayair commented on #41
This issue was moved to https://discourse.serverless-stack.com/t/comments-clear-the-session-on-logout/70

[2018-05-09 18:39] jayair commented on #42
This issue was moved to https://discourse.serverless-stack.com/t/comments-redirect-on-login-and-logout/66

[2018-05-09 18:39] jayair commented on #43
This issue was moved to https://discourse.serverless-stack.com/t/comments-give-feedback-while-logging-in/46

[2018-05-09 18:39] #44 closed

[2018-05-09 18:39] jayair commented on #59
This issue was moved to https://discourse.serverless-stack.com/t/comments-use-the-redirect-routes/57

[2018-05-09 18:39] jayair commented on #60
This issue was moved to https://discourse.serverless-stack.com/t/comments-redirect-on-login/24

[2018-05-09 18:39] jayair commented on #62
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-an-s3-bucket/48

[2018-05-09 18:39] #62 closed

[2018-05-09 18:39] jayair commented on #68
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-updates/16

[2018-05-09 18:39] jayair commented on #146
This issue was moved to https://discourse.serverless-stack.com/t/comments-api-gateway-and-lambda-logs/31

[2018-05-09 18:39] #146 closed

[2018-05-09 18:39] jayair commented on #149
This issue was moved to https://discourse.serverless-stack.com/t/comments-stages-in-serverless-framework/35

[2018-05-09 18:39] #149 closed

[2018-05-09 18:39] #29 closed

[2018-05-09 18:39] jayair commented on #40
This issue was moved to https://discourse.serverless-stack.com/t/comments-load-the-state-from-the-session/55

[2018-05-09 18:39] #41 closed

[2018-05-09 18:39] #43 closed

[2018-05-09 18:39] jayair commented on #45
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-the-signup-form/52

[2018-05-09 18:39] #45 closed

[2018-05-09 18:39] jayair commented on #51
This issue was moved to https://discourse.serverless-stack.com/t/comments-list-all-the-notes/63

[2018-05-09 18:39] jayair commented on #54
This issue was moved to https://discourse.serverless-stack.com/t/comments-render-the-note-form/40

[2018-05-09 18:39] #58 closed

[2018-05-09 18:39] #60 closed

[2018-05-09 18:39] jayair commented on #66
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-www-domain-redirect/44

[2018-05-09 18:39] jayair commented on #147
This issue was moved to https://discourse.serverless-stack.com/t/comments-debugging-serverless-api-issues/33

[2018-05-09 18:39] jayair commented on #208
This issue was moved to https://discourse.serverless-stack.com/t/comments-configure-aws-amplify/20

[2018-05-09 18:43] jayair commented on #9
This issue was moved to https://discourse.serverless-stack.com/t/comments-what-does-this-guide-cover/83

[2018-05-09 18:43] #9 closed

[2018-05-09 18:43] jayair commented on #31
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-custom-fonts/81

[2018-05-09 18:43] #31 closed

[2018-05-09 18:43] jayair commented on #10
This issue was moved to https://discourse.serverless-stack.com/t/comments-how-to-get-help/95

[2018-05-09 18:43] #10 closed

[2018-05-09 18:43] jayair commented on #11
This issue was moved to https://discourse.serverless-stack.com/t/comments-why-create-serverless-apps/87

[2018-05-09 18:43] #11 closed

[2018-05-09 18:43] jayair commented on #12
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-an-aws-account/88

[2018-05-09 18:43] #12 closed

[2018-05-09 18:43] jayair commented on #8
This issue was moved to https://discourse.serverless-stack.com/t/comments-who-is-this-guide-for/96

[2018-05-09 18:43] #8 closed

[2018-05-09 18:43] jayair commented on #13
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-an-iam-user/92

[2018-05-09 18:43] #13 closed

[2018-05-09 18:43] jayair commented on #14
This issue was moved to https://discourse.serverless-stack.com/t/comments-configure-the-aws-cli/86

[2018-05-09 18:43] #14 closed

[2018-05-09 18:43] jayair commented on #16
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-an-s3-bucket-for-file-uploads/90

[2018-05-09 18:43] jayair commented on #17
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cognito-user-pool/91

[2018-05-09 18:43] jayair commented on #20
This issue was moved to https://discourse.serverless-stack.com/t/comments-cognito-user-pool-vs-identity-pool/89

[2018-05-09 18:43] jayair commented on #21
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-the-serverless-framework/79

[2018-05-09 18:43] jayair commented on #25
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-list-all-the-notes-api/78

[2018-05-09 18:43] jayair commented on #26
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-an-update-note-api/77

[2018-05-09 18:43] jayair commented on #27
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-delete-note-api/82

[2018-05-09 18:43] jayair commented on #30
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-app-favicons/85

[2018-05-09 18:43] jayair commented on #15
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-dynamodb-table/94

[2018-05-09 18:43] jayair commented on #19
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cognito-identity-pool/80

[2018-05-09 18:43] jayair commented on #24
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-get-note-api/76

[2018-05-09 18:43] jayair commented on #18
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cognito-test-user/93

[2018-05-09 18:43] jayair commented on #23
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-create-note-api/84

[2018-05-09 18:45] jayair commented on #113
This issue was moved to https://discourse.serverless-stack.com/t/comments-connect-to-api-gateway-with-iam-auth/97

[2018-05-09 18:45] #113 closed

[2018-05-09 18:49] jayair commented on #90
This issue was moved to https://discourse.serverless-stack.com/t/comments-code-splitting-in-create-react-app/98

[2018-05-09 18:49] #90 closed

[2018-05-09 18:50] jayair commented on #112
This issue was moved to https://discourse.serverless-stack.com/t/comments-test-the-apis/99

[2018-05-09 19:13] jayair commented on #64
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cloudfront-distribution/104

[2018-05-09 19:13] jayair commented on #56
This issue was moved to https://discourse.serverless-stack.com/t/comments-delete-a-note/102

[2018-05-09 19:13] #64 closed

[2018-05-09 19:13] jayair commented on #63
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-to-s3/103

[2018-05-09 19:13] jayair commented on #70
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-again/106

[2018-05-09 19:13] jayair commented on #55
This issue was moved to https://discourse.serverless-stack.com/t/comments-save-changes-to-a-note/101

[2018-05-09 19:13] jayair commented on #67
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-ssl/105

[2018-05-09 19:26] jayair commented on #32
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-bootstrap/118

[2018-05-09 19:26] #32 closed

[2018-05-09 19:26] jayair commented on #22
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-support-for-es6-es7-javascript/119

[2018-05-09 19:26] jayair commented on #28
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-the-apis/120

[2018-05-09 19:31] jayair commented on #28
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-the-apis/121

[2018-05-09 19:34] jayair commented on #112
This issue was moved to https://discourse.serverless-stack.com/t/comments-test-the-apis/122

[2018-05-09 19:34] #112 closed

[2018-05-09 19:40] jayair commented on #49
This issue was moved to https://discourse.serverless-stack.com/t/comments-upload-a-file-to-s3/123

[2018-05-09 19:40] #49 closed

[2018-05-09 19:43] jayair commented on #48
This issue was moved to https://discourse.serverless-stack.com/t/comments-call-the-create-api/124

[2018-05-09 19:43] #48 closed

[2018-05-09 19:45] jayair commented on #23
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-create-note-api/125

[2018-05-09 19:45] #23 closed

[2018-05-09 19:47] jayair commented on #18
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cognito-test-user/126

[2018-05-09 19:47] #18 closed

[2018-05-09 19:48] jayair commented on #52
This issue was moved to https://discourse.serverless-stack.com/t/comments-call-the-list-api/127

[2018-05-09 19:48] #52 closed

[2018-05-09 19:50] jayair commented on #22
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-support-for-es6-es7-javascript/128

[2018-05-09 19:50] #22 closed

[2018-05-09 19:52] jayair commented on #38
This issue was moved to https://discourse.serverless-stack.com/t/comments-login-with-aws-cognito/129

[2018-05-09 19:52] #38 closed

[2018-05-09 19:53] jayair commented on #46
This issue was moved to https://discourse.serverless-stack.com/t/comments-signup-with-aws-cognito/130

[2018-05-09 19:53] #46 closed

[2018-05-09 19:54] jayair commented on #55
This issue was moved to https://discourse.serverless-stack.com/t/comments-save-changes-to-a-note/131

[2018-05-09 19:55] #55 closed

[2018-05-09 19:57] jayair commented on #24
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-get-note-api/132

[2018-05-09 19:57] #24 closed

[2018-05-09 19:59] jayair commented on #63
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-to-s3/134

[2018-05-09 19:59] #63 closed

[2018-05-09 19:59] jayair commented on #67
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-ssl/133

[2018-05-09 19:59] #67 closed

[2018-05-09 20:00] jayair commented on #19
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cognito-identity-pool/135

[2018-05-09 20:00] #19 closed

[2018-05-09 20:00] jayair commented on #39
This issue was moved to https://discourse.serverless-stack.com/t/add-the-session-to-the-state/136

[2018-05-09 20:00] #39 closed

[2018-05-09 20:02] jayair commented on #56
This issue was moved to https://discourse.serverless-stack.com/t/comments-delete-a-note/137

[2018-05-09 20:02] jayair commented on #70
This issue was moved to https://discourse.serverless-stack.com/t/comments-deploy-again/138

[2018-05-09 20:02] #56 closed

[2018-05-09 20:02] #70 closed

[2018-05-09 20:06] jayair commented on #54
This issue was moved to https://discourse.serverless-stack.com/t/comments-render-the-note-form/140

[2018-05-09 20:06] #54 closed

[2018-05-09 20:06] jayair commented on #15
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-dynamodb-table/139

[2018-05-09 20:06] #15 closed

[2018-05-09 20:06] jayair commented on #35
This issue was moved to https://discourse.serverless-stack.com/t/comments-adding-links-in-the-navbar/141

[2018-05-09 20:06] #35 closed

[2018-05-09 20:09] jayair commented on #20
This issue was moved to https://discourse.serverless-stack.com/t/comments-cognito-user-pool-vs-identity-pool/146

[2018-05-09 20:09] jayair commented on #21
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-the-serverless-framework/145

[2018-05-09 20:09] #21 closed

[2018-05-09 20:09] #25 closed

[2018-05-09 20:09] jayair commented on #26
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-an-update-note-api/144

[2018-05-09 20:09] #26 closed

[2018-05-09 20:09] jayair commented on #66
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-www-domain-redirect/142

[2018-05-09 20:09] #147 closed

[2018-05-09 20:09] #20 closed

[2018-05-09 20:09] #66 closed

[2018-05-09 20:16] jayair commented on #16
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-an-s3-bucket-for-file-uploads/150

[2018-05-09 20:16] #16 closed

[2018-05-09 20:16] jayair commented on #17
This issue was moved to https://discourse.serverless-stack.com/t/comments-create-a-cognito-user-pool/148

[2018-05-09 20:16] jayair commented on #27
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-a-delete-note-api/153

[2018-05-09 20:16] #27 closed

[2018-05-09 20:16] jayair commented on #30
This issue was moved to https://discourse.serverless-stack.com/t/comments-add-app-favicons/155

[2018-05-09 20:16] #30 closed

[2018-05-09 20:16] jayair commented on #42
This issue was moved to https://discourse.serverless-stack.com/t/comments-redirect-on-login-and-logout/154

[2018-05-09 20:16] #42 closed

[2018-05-09 20:16] jayair commented on #51
This issue was moved to https://discourse.serverless-stack.com/t/comments-list-all-the-notes/156

[2018-05-09 20:16] jayair commented on #59
This issue was moved to https://discourse.serverless-stack.com/t/comments-use-the-redirect-routes/152

[2018-05-09 20:16] #59 closed

[2018-05-09 20:16] jayair commented on #65
This issue was moved to https://discourse.serverless-stack.com/t/comments-set-up-your-domain-with-cloudfront/149

[2018-05-09 20:16] jayair commented on #208
This issue was moved to https://discourse.serverless-stack.com/t/comments-configure-aws-amplify/151

[2018-05-09 20:16] #17 closed

[2018-05-09 20:16] jayair commented on #40
This issue was moved to https://discourse.serverless-stack.com/t/comments-load-the-state-from-the-session/157

[2018-05-09 20:16] #40 closed

[2018-05-09 20:16] #51 closed

[2018-05-09 20:16] #65 closed

[2018-05-09 20:16] #208 closed

[2018-05-11 11:49] johnykifle commented on #234
@jayair Sorry, the issue is caused due to som empty space in config file.

[2018-05-11 11:49] #234 closed

[2018-05-23 05:52] vivekmittal24 commented on #208
Getting Following exception whenever I am adding the below line
`import Amplify from "aws-amplify";   `

[code]

[2018-05-23 10:13] vivekmittal24 commented on #208
Resolved : works on every browser except Internet Explorer where the following error occurs.
Refrence Link : https://stackoverflow.com/questions/50421838/ie-graphql-script5022-cannot-use-undefined-boolean-from-another-module-or

[2018-05-23 19:19] jayair commented on #208
@vivekmittal24 So the issue happens when you load the page in IE?

[2018-05-24 20:55] jayair opened #240 "CloudFormation added support for UserNameAttributes"
As pointed out here - https://github.com/AnomalyInnovations/serverless-stack-com/pull/239; CloudFormation now supports this attribute. This means that we don't need to use the email as alias workaround on the frontend. We can also test our APIs using the email as the username.

We'll be rolling out this change to the tutorial, backend and frontend repos shortly.

[2018-05-24 21:17] jayair commented on #240
The changes are in this branch - https://github.com/AnomalyInnovations/serverless-stack-com/tree/usernameattribute.

[2018-05-24 21:42] jayair commented on #240
Here is the PR - https://github.com/AnomalyInnovations/serverless-stack-com/pull/241

[2018-05-24 21:51] jayair commented on #240
Released the new version - https://github.com/AnomalyInnovations/serverless-stack-com/releases/tag/v3.1

[2018-05-25 17:02] tickcode commented on #43
For some reason the LoaderButton is not showing the spinning glyph.  I've gone back over the tutorial a number of times to make sure there wasn't a typo.  Is anyone else having this issue?  (Using Chrome)

[2018-05-25 17:12] tickcode commented on #43
Sorry, false alarm here.  I missed "isLoading={this.state.isLoading}" in the <LoaderButton> tag of Login.js

[2018-06-11 07:25] svardhan12 opened #250 "Missing or invalid "path" property in function "create" for http event in serverless.yml"
![capture](https://user-images.githubusercontent.com/10918000/41217779-97780022-6d76-11e8-8888-94e76440b462.JPG)

Facing this issue..

[2018-06-11 17:53] jayair commented on #250
I noticed your post in the forums. I'll reply over there.

[2018-06-11 17:53] #250 closed

[2018-06-12 20:37] Ashraf-Younis-NM commented on #112
Hey, I am having trouble running the `npx aws-api-gateway-cli-test` command.

I am getting a status 500 error. So I looked at the log, and I see this: `{ AccessDeniedException: User: arn:aws:sts::812397030772:assumed-role/notes-app-api-prod-us-east-2-lambdaRole/notes-app-api-prod-create is not authorized to perform: dynamodb:PutItem on resource: arn:aws:dynamodb:us-east-2:812397030772:table/notes`

[2018-06-13 14:28] rudyhadoux opened #251 "authorizer aws_iam ?"
Hi,

Why don't you use a Cognito authorizer ?
Like that :

[code]

[2018-06-13 17:56] mystaticself commented on #215
@jayair Same issue here, no response output. This is what I get running the debug version. You ever get this sorted, @stcalica?

Serverless: Load command config
Serverless: Load command config:credentials
Serverless: Load command create
Serverless: Load command install
Serverless: Load command package
Serverless: Load command deploy
Serverless: Load command deploy:function
Serverless: Load command

[2018-06-13 18:07] stcalica commented on #215
sadly no. and no work around ever worked. had to abandon tutorial and just learn from scratch unfortunately :/

[2018-06-13 18:35] mystaticself commented on #215
that's a shame. may have to do the same.

[2018-06-13 21:58] jayair commented on #112
@Ashraf-Younis-NM Can you post this here - https://discourse.serverless-stack.com/t/comments-test-the-apis/122? We are moving any discussions around the chapters to Discourse.

[2018-06-13 22:00] jayair commented on #251
We've talked about this briefly elsewhere but IAM is necessary if your client is going to use other AWS resources (like S3). If not then you can directly use the User Pool as the authorizer. In fact, that is what we used in one of the early versions of this guide.

[2018-06-13 22:02] jayair commented on #215
I'm not sure what is causing this issue for you guys. But can you put up your repo on GitHub and post the command? I'll give it a try on my end.

[2018-06-14 07:07] rudyhadoux commented on #251
I think the best practice is to have both IAM role for S3 and Cognito authorizer for lambdas and API Gateway.
With a IAM role like that :

{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": ["s3:ListBucket"],
      "Effect": "Allow",
      "Resource": ["arn:aws:s3:::mybucket"],
      "Condition": {"StringLike": {"s3:prefix": ["${cognito-identity.amazonaws.com:sub}/*"]}}
    },

[2018-06-14 07:08] #251 closed

[2018-06-14 17:18] stcalica commented on #215
dang i had to delete my repo if i recall, i just updated my OSX maybe that was the problem?
I'll try the tutorial again and let you know.

[2018-06-19 13:48] KatieChen1001 commented on #112
@jayair I'm running into the same problem as @mikhaelbendavid with error message. Checked all configurations all same as the tutorial. I was wondering what could be the problem? Many thanks!

[2018-06-19 16:13] TheGodEmperor commented on #215
So you need node 8.10+? That's disappointing because Red Hat Fedora 7 only supports up to 6 right now.

[2018-06-19 16:58] grugna opened #254 "problem in keeping the authentication active"
since Auth is inside React in index.js when I change page in the application I got automatically logged out. and the await Auth.currentSession() in App.js  gives me the error Auth not defined even if I did the import { Auth } from "aws-amplify"

[2018-06-19 18:55] #254 closed

[2018-06-20 13:45] erdahuja opened #255 "Proposal : add a copy button for all copy-paste stuff which is spread a lot in this book."
Manually doing it with mouse is cumbersome.

[2018-06-21 17:43] jayair commented on #255
@erdahuja That's a pretty good idea. I need to look into how to do this.

[2018-06-21 17:45] jayair commented on #112
@KatieChen1001 I replied in the Discourse thread.

[2018-06-21 17:51] jayair commented on #215
@TheGodEmperor There isn't one sadly. Node.js has now made v8.11 Active LTS. But the code changes aren't large that if you know about Promises and exports, you could work around it.

[2018-06-21 17:56] erdahuja commented on #255
@jayair I can implement it.

One more thing is super odd about this book. I read it completely, but the main article should be separately scrollable instead of the whole page. I need quick access to index soi to have to scroll back up to reach there.

[2018-06-22 20:34] jayair commented on #255
@erdahuja Yeah I can see that. I want to do this without adding a ton of javascript to the page.

It'll be great if you are interested in implementing these. You can join our Gitter here - https://gitter.im/serverless-stack/Lobby and I can help get you started.

[2018-06-28 07:30] aaalveee commented on #210
I am experiencing the same issue. Don't know what to do!

[2018-06-29 20:59] jayair commented on #210
@aaalveee Can I see the full command you are running? And are you on Windows as well?

[2018-07-12 13:40] LosD opened #257 "PDF version rather broken"
I normally like to use the PDF version of guides, but the PDF version of your (otherwise great) guide is pretty terrible compared to the web version:

- TOC doesn't contain links to sections
- Images on different pages than their description
- Page breaks in the middle of sentences:
![image](https://user-images.githubusercontent.com/1282832/42629025-4049a1f6-85d2-11e8-9fb5-e939eb15bb7f.png)
- Page

[2018-07-13 06:23] LosD commented on #257
Ah, I see you're already looking for better ways. I'll leave this open for now, maybe then it can function as a kind of registry over some of the drawbacks to the current way (I guess it's MD->HTML->PDF).

[2018-07-16 14:06] roxy-target commented on #223
Hi, I build an application using this guide. I started doing the tutorial end of last year and once it was done carried on building the app. Only now have I come back to see the updates and changes that the new version of the tutorial suggests. One of the main changes is using serverless-nodejs-starter but I am -a little bit confused. If I never used serverless-nodejs-starter to build my app how c

[2018-07-20 02:32] damonmiller opened #260 "Proposal: Use AWS AppSync for API"
Updating the tutorial to show how to use AWS AppSync for the API instead of the REST API would take this to the next level.  Including being able to setup and configure AppSync via Serverless Framework for multi-environment deployments!

[2018-07-21 18:14] jayair commented on #260
Ah yeah we've been excited about AppSync as well. It's definitely something we'll take a look at for adding to the tutorial.

[2018-08-03 14:06] progzilla commented on #134
Hi,

I tried downloading the PDF version but wasn't working after signing up my email. Any help please

[2018-08-03 18:53] jayair commented on #134
@progzilla Did you not get an email or did the link in the email not work for you?

[2018-08-03 22:22] progzilla commented on #134
@jayair I didn't get any email

[2018-08-05 00:56] jayair commented on #134
@progzilla You can send us an email at contact@anoma.ly and we can send it to you.

[2018-08-17 15:15] davidmsvetlecic opened #264 "Omitted verbs in Setup a Strip Account Chapree"
This sentence:
"The second thing to is the Publishable key and the Secret key."    should read?
"The second thing to (do?) is (generate?) the Publishable key and the Secret key."

[2018-08-17 17:10] davidmsvetlecic commented on #264
or better (to match paragraph above this one):
The second thing to (note?) is (generate?) the Publishable key and the Secret key

[2018-08-17 17:11] davidmsvetlecic commented on #264
or:
The second thing to (note?) is ((that) we need to generate?) the Publishable key and the Secret key

[2018-08-17 17:14] davidmsvetlecic commented on #264
or:
The second thing to (note?) is ((that) we need to generate?) the Publishable key and the Secret key.

[2018-08-20 09:52] gowdruNikhil opened #266 "Uncaught Error: Cannot find module "@babel/runtime/helpers/es6/extends""
am new to ractJS, even after updating the babel still getting the same

"dependencies": {
    "@babel/runtime": "^7.0.0-rc.1",
    "bootstrap": "^4.1.1",
    "react": "^16.4.2",
    "react-bootstrap": "^0.32.2",
    "react-dom": "^16.4.2",
    "react-router-dom": "^4.3.1",
    "react-scripts": "1.1.4"
  }

any help will be appreciated , thanks in advance

[2018-08-29 18:29] jayair commented on #264
Thanks for pointing it out! Fixing it now.

[2018-08-29 18:29] #264 closed

[2018-08-29 18:31] jayair commented on #266
@gowdruNikhil Hmm.. when are you seeing this error? Create React App should have configured this for you.

[2018-09-18 08:26] KrifaYounes opened #269 "Authorize Lambda to access api with cognito and get token"
I have a react-js lambda who expose an API Gateway
My lambda need to access to an API with AWS-COGNITO without login/password
I search a way to generate the TOKEN and to access to the TOKEN generated on my react-js Lambda
Someone have an idea ?

[2018-09-18 23:57] jayair commented on #269
@KrifaYounes Which token are you talking about? Can you post a link to any docs for the token you are referring to?

[2018-09-19 13:32] KrifaYounes commented on #269
I want to generate a Authorization token from my lambda with cognito and I need to propagade the authorization token to a other java API

![img_1935](https://user-images.githubusercontent.com/3875788/45756313-d9920180-bc20-11e8-8f86-9ca8901f6330.JPG)

[2018-09-19 19:43] jayair commented on #269
@KrifaYounes Thanks for the details. Are you able to get the authorization token from the Cognito Pool?

[2018-09-19 20:29] KrifaYounes commented on #269
No, I am not able to get it. There is a way to get it with serverless configuration ?
My lambda is a react app with express server
Thanks

[2018-09-21 21:47] jayair commented on #269
To be honest, I have never used it this way. So I can't be of much help :(

[2018-09-26 22:05] enBonnet opened #271 "Do you have translation plans for this guide to Spanish?"
I offer to collaborate in this case

[2018-10-01 16:11] bernardobugmann commented on #271
I can help with a portuguese translation o/
I think this tutorial/guide has to reach many people possible, it's simply amazing!

[2018-10-01 16:39] enBonnet commented on #271
Yes! It is a very good guide

[2018-10-01 18:37] jayair commented on #271
Hey guys, I really appreciate the offer. Thank you! We would love to add translations to it.

I'll take a look at how to set it up with Jekyll. Or if you have any ideas on how to do it let me know.

Btw, you can join our chat here so we can talk about it further -
https://gitter.im/serverless-stack/Lobby.

[2018-10-08 01:51] jayair commented on #271
@enBonnet @bernardobugmann I figured out how to support translated versions of the chapters. I added a small guide on how to add it here - https://github.com/AnomalyInnovations/serverless-stack-com/blob/master/CONTRIBUTING.md#translating-to-other-languages.

I setup folders for Spanish and Portuguese. And added a Google translated version of the [What is Serverless](https://serverless-stack.com/ch

[2018-10-09 12:23] daniloraisi opened #276 "What about a version of React App using ReasonML?"
I'm starting doing some projects with React + ReasonML and I can help with this task too.

[2018-10-09 17:46] jayair commented on #276
Awesome! Yeah that would make a great addition to the chapters. We could use:

- A Reason version of the Nodes app in a repo
- And some steps on how to set it up and deploy it

Let me know if that is something you can help with.

[2018-10-09 19:15] fabio-C opened #277 "Error on Authentication [No User Pool]"
After coding the login part, at beginning, I receive this error from aws: No User Pool.
I can login correctly using the login forms, but if I refresh this error appear again.

Very similar to this aws-amplify issue:
https://github.com/aws-amplify/amplify-js/issues/392

What can I do?

[2018-10-09 19:39] #277 closed

[2018-10-10 14:15] daniloraisi commented on #276
Set it up and deploy is as easy as on a regular approach.

I think the main change is really develop in an functional way.

I'll start mapping necessary bindings to get AWS Amplify working on ReasonML.

[2018-10-10 17:48] jayair commented on #276
Awesome. You can message me through https://gitter.im/serverless-stack/Lobby if you have any questions.

[2018-10-13 11:35] MananS77 commented on #112
Hi @jayair , thanks a ton for putting up this really helpful tutorial, kudos!

I am getting the same cryptic 403 message that so many here have got. I went through the comments but wasn't able to comprehend what's going wrong.

Here is the request that I am making -
`npx aws-api-gateway-cli-test --username admin@example.com --password Passw0rd! --user-pool-id us-west-2_kQl7SeqxG --app-client-id 5i

[2018-10-14 18:11] jayair commented on #271
@enBonnet Do you wanna take a crack at fixing the Spanish version of the what is serverless chapter?

https://serverless-stack.com/chapters/es/what-is-serverless.html

[2018-10-15 08:28] rfdc opened #280 "Test the APIs - Bad Gateway - Internal server error - errorMessage: e is not defined"
Hi there,
I've opened this issue cos #112 is too busy and long - hope that is ok.
I'm getting the following error:
[code]
CloudWatch logs shows:
[code]
Dependencies:
[code]
Local versions:
- npm -v = 6.4.1
- node -v = v10.11.0
- serverless -v = 1.32.0

Any suggestions why is this happening?
Thanks

[2018-10-15 18:32] jayair commented on #280
Hmmm I'm not sure what that error is. But does your `libs/response-lib.js` look like this?

https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/libs/response-lib.js

Also, we moved our chapter discussions here - https://discourse.serverless-stack.com

[2018-10-16 01:08] rfdc commented on #280
I had an extra console.log(e) there...sorry...i will try it again and will let you know..
thanks

[2018-10-17 06:14] #280 closed

[2018-10-27 06:09] tonywang806 opened #286 "How Can I Get My Identity Id?"
hi,everyone.

I just created a Cognito User  by email,
But It needs a Cognito Identity Id at mocks/create-event.json .

I don't know how can I get the identity id...

[2018-10-28 01:47] jayair commented on #286
It'll be passed in to your Lambda function when an authenticated user invokes it.

[2018-10-29 15:38] TheKippo opened #287 "Error: Network Error"
Hi, I am on the "Call the Create API" chapter. Everything works before then. However, I get a Network Error in creating a note from /notes/new. I have no idea how to fix this. Please help.

[2018-10-29 15:56] TheKippo commented on #28
I am getting a Network Error after creating a note. I am stuck here and can't progress until this error is solved. Please help.

[2018-10-30 20:37] jayair commented on #28
Can you post your issue here -
https://discourse.serverless-stack.com/t/comments-deploy-the-apis/121?

Thanks.

[2018-10-30 20:38] jayair commented on #287
Hmm I'm not sure when it was down. But it seems okay to me.

[2018-11-02 11:55] leogonzalez commented on #271
Hi @bernardobugmann @jayair , if you guys need any help translating to Portuguese, let me know - I'm available to help

[2018-11-02 18:10] jayair commented on #271
Oh this is so awesome! @bernardobugmann is helping lead our Portuguese efforts. And I'm sure he could use your help!

[2018-11-03 18:54] paps-96 commented on #52
is there a way to list all the notes even if it is created by other user

[2018-11-03 18:58] paps-96 opened #291 "is there a way to list all the notes even if it is created by other user?"
_Originally posted by @paps-96 in https://github.com/AnomalyInnovations/serverless-stack-com/issues/52#issuecomment-435612284_

[2018-11-05 13:40] PariksitDogra opened #292 "API Testing with Dev and Prod"
After inputting the npx aws-api-gateway-cli-test command, it gives me this error everytime.

npx: installed 105 in 4.408s
Authenticating with User Pool
Getting temporary credentials
Making API request
C:\tmp\nodejs\npm-cache\_npx\9192\node_modules\aws-api-gateway-cli-test\node_modules\aws-sdk\lib\request.js:31
            throw err;
            ^

SyntaxError: Unexpected token c in JSON at positio

[2018-11-05 21:34] jayair commented on #291
Hmm you are just fetching the notes for a given user id. As long as you know the user id you should be able to get them.

[2018-11-11 17:11] leogonzalez commented on #271
Alright!! @bernardobugmann how can I help? Let me know the best way to reach out

[2018-11-12 13:10] bernardobugmann commented on #271
@leogonzalez call me on our Gitter https://gitter.im/serverless-stack/Lobby

[2018-11-28 22:06] OndeVai opened #296 "Add a Create Note API"
With serverless cli version 1.33.2.

The lambda function in the document at https://serverless-stack.com/chapters/add-a-create-note-api.html does not return any result to the console or create the item when calling "serverless invoke local --function create --path mocks/create-event.json". It only seems to work if the function is async and uses async await:

[code]

[2018-11-29 19:21] jayair commented on #296
That's weird because it was working fine in v1.32.0. And they had just updated it to support async functions.

[2018-11-30 22:40] enriqueheyhey commented on #18
1. Click on your username on top nav, My Security Credentials
2. Click on Access Key Tab, Create New, copy the key and secret.
3. in terminal, run $ aws configure and use the new key and secret.
4. Run the command again: serverless invoke local --function create --path mocks/create-event.json

[2018-12-16 04:10] ZaynJarvis commented on #16
There may be a version update. I don't know where can I set the owner for S3 buckets now since it says manage users after creating the bucket.
![image](https://user-images.githubusercontent.com/31875147/50050010-9b2ab680-012b-11e9-89d8-e977ed4a63db.png)

[2018-12-16 04:12] ZaynJarvis commented on #16
Oh I'm using the pdf version v3.3.2 for the guide, it seems the issue has been solved in web version.

[2018-12-18 00:33] jayair commented on #16
@ZaynJarvis Yeah we'll be updating the PDF shortly.

[2018-12-18 18:52] pepas24 commented on #255
Hi, is anyone working on this? I want to contribute in small features like this to start getting involved in open source.

[2018-12-18 19:48] jayair commented on #255
@pepas24 I don't think anybody is working on it right now. But if you'd like to help out, message me here https://gitter.im/serverless-stack/Lobby and I can help you get started.

[2018-12-23 04:11] pepas24 commented on #255
This feature has just been implemented in https://github.com/AnomalyInnovations/serverless-stack-com/commit/49be6f2569bb8176e418bcae3fa027a4b888c09a

[2018-12-23 04:11] #255 closed

[2019-01-08 20:36] Snake-Tn commented on #174
I guess he meant testing the stack locally using docker containers to mimic AWS environment.
As deploying on every change makes the development feedback loop slow.

[2019-01-09 14:20] AmoDinho opened #315 "Typo on "Signup with AWS Cognito" page"
Hi! Found this minor typo in the try block of `/signup.js` on the tutorial's website, where it should be calling the `signUp` method and not Amplify's `signIn` method:

This is on the site
[code]

while in the repo it is:

[code]

[2019-01-09 15:35] #315 closed

[2019-01-09 15:37] AmoDinho commented on #315
Apologizes, I realized that this is not a typo but an attempt to sign in after confirming the confirmation code. 💀

[2019-01-11 19:08] jayair commented on #174
Yeah the local development workflow is tricky to get up and running. One of our readers tried something - https://discourse.serverless-stack.com/t/best-local-development-workflow-for-the-tutorial/731/2?u=jayair

[2019-01-11 19:08] jayair commented on #315
No worries!

[2019-01-19 17:04] ThisNameCubed opened #320 "HELP: Test the API's"
When I attempt to Test the API's as stated in: [https://serverless-stack.com/chapters/test-the-apis.html](url)
Specifically this command:
`npx aws-api-gateway-cli-test \
--username='admin@example.com' \
--password='Passw0rd!' \
--user-pool-id='YOUR_COGNITO_USER_POOL_ID' \
--app-client-id='YOUR_COGNITO_APP_CLIENT_ID' \
--cognito-region='YOUR_COGNITO_REGION' \
--identity-pool-id='YOUR_IDENTITY_POOL_

[2019-01-26 02:52] jayair commented on #320
Hey there, do you mind posting this here - https://discourse.serverless-stack.com/t/comments-for-test-the-apis/122

We can help you there.

[2019-01-26 03:40] ThisNameCubed commented on #320
It’s been solved! Thank you for updating me though!

Sent from my iPhone

[2019-02-05 13:30] Birowsky opened #325 "Export this book to a more flexible format like ePub or Kindle"
Just a feature request.

[2019-02-05 18:17] jayair commented on #325
Yeah this is definitely something we want to do. Just haven't found the time to do it. Hoping somebody is willing to contribute!

[2019-02-22 19:52] pepas24 commented on #325
Hi @Birowsky We just start working more in this improvement, please take a look to [this version](https://drive.google.com/file/d/1WUqipyj1Dqt6u-GrW_00hD9UdKUX8pC2/view?usp=sharing) of pdf and tell us what do you think about it. Still needs improves but I would appreciate your comments very much.
Thanks

[2019-02-22 20:12] Birowsky commented on #325
@pepas24 there is not much to say other than it looks beautiful. Beautiful font, comfortable line height.  You've made all the right decisions, generally speaking. But I'm "special" : ) I want seriffed fonts, huge line height, huge fonts, no padding, endless scroll, black on white when daytime, and white on black at night :}

Again, the PDF looks stunning, but these are the reasons I was asking fo

[2019-02-22 20:59] pepas24 commented on #325
Ok I understand your point hahah I forgot that we have an [epub version](https://drive.google.com/open?id=1xImlIMsnpeedZoM-1gTLob9o1bNdUeIz) too ;) , still in progress
I think that I answer the incorret issue.

[2019-02-22 21:06] pepas24 commented on #257
Hey @LosD, we are working in this improvement, please take a look a [this pdf version](https://drive.google.com/open?id=1WUqipyj1Dqt6u-GrW_00hD9UdKUX8pC2) and [epub too](https://drive.google.com/open?id=1xImlIMsnpeedZoM-1gTLob9o1bNdUeIz) and give us your feedback, still needs improvements, but as its so long its better to have more eyes on it.

[2019-02-27 12:50] LosD commented on #257
@pepas24 It's been a while, but from what I remember, readability has improved A LOT :)

Still some issues with code and tables crossing page breaks when small adjustments could have avoided it, but I'm not sure there's really a way around it without either some stringent rules, or manual inspection (and of course, sometimes it's just too long), so it's probably not worth it to fuss too much about

[2019-03-05 14:57] ArthurG opened #328 "Inaccessible host: `cognito-identity.xn--us-west-3-499dua.amazonaws.com'."
Link: https://serverless-stack.com/chapters/test-the-apis.html

When I am testing my API, I get the following error message:
Inaccessible host: `cognito-identity.xn--us-west-2-499dua.amazonaws.com'. This service may not be available in the `‘us-west-2’' region.

Any help?

[2019-03-07 09:52] ahallora opened #329 "Missing WebPack config in cross-stack setup"
The [article describing support for cross-stack references]( https://serverless-stack.com/chapters/api-gateway-domains-across-services.html) is missing support for ES6 compiling with Webpack using the plugin [serverless-webpack](https://www.npmjs.com/package/serverless-webpack) as you do in the other part of the tutorial.

Consider adding this to the serverless.yml - with a reference to the actual

[2019-03-11 17:46] jayair commented on #328
Can you post this on our forums?https://discourse.serverless-stack.com/t/comments-for-test-the-apis/122

[2019-03-11 17:46] #328 closed

[2019-03-11 17:49] jayair commented on #329
@ahallora Yeah we wanted to keep things simple in that section of the guide to focus on the architectural patterns. But I know that the serverless-webpack config is different for this case and the paths make it confusing.

The good news is that we have something on the way that should simplify this 😉

https://github.com/AnomalyInnovations/serverless-bundle

[2019-03-11 17:49] #329 closed

[2019-03-17 09:47] Crashmailman opened #330 "Simple note taker TypeError: Cannot read property 'history' of undefined"
Hi guys
Love your work so far, very easy to follow, i am sorry to be a pain but i have been following this task and i keep getting an error when i run , hoping someone can tell me where i went wrong, i am sure i followed everything but i might not have. thank you in advance

TypeError: Cannot read property 'history' of undefined
LinkContainer.render
C:/Users/Adam.Wolarczuk/Desktop/Projects/notes-a

[2019-03-20 02:57] derektumulak opened #331 "Multi-tenancy (isolation) support"
This documentation and detail here are incredible. This is more of an enhancement request. Are there any plans to update this solution to include support for multi-tenancy (isolation)? This would be ideal for SaaS solutions.

Thank you!
-Derek

[2019-03-20 16:43] rooox commented on #330
I experienced the same yesterday.  I just resorted to ditching the LinkContainer and just replacing it with <Link> which is imported from react-router-dom.   I just read about the possible fix of wrapping the LinkContainer in a withRouter in order to make it work, which was a thought that I hadn't tried.

[2019-03-20 17:14] jayair commented on #330
@rooox Good catch. Thanks for looking into it. Can you elaborate on your fix a bit more? I'll add it to the chapter.

[2019-03-22 16:59] jayair commented on #330
Here is a temporary fix for this while react-router-bootstrap rolls out a permanent fix for it (https://github.com/react-bootstrap/react-router-bootstrap/pull/248).

https://discourse.serverless-stack.com/t/tutorial-error-step-adding-links-in-the-navbar-step-import-linkcontainer-from-react-router-bootstrap/897/2?u=jayair

[2019-03-22 17:18] filipesmedeiros commented on #330
Hey @jayair ! It doesn't fiz the issue for me. Keep getting the same error.  No idea why. Any clues? Copied the code exactly.

[2019-03-22 17:23] jayair commented on #330
Did you create a new component like the comment suggested?

An alternative fix here is to use React Router 4.3.1 for now while react-router-bootstrap rolls out a fix.

[code]

[2019-03-22 17:25] filipesmedeiros commented on #330
Yup created a new component. I'll try the older version as a temporary solution and give feedback later today. Thanks for the amazing work!

[2019-03-22 17:28] jayair commented on #331
Do you specifically mean for the backend?

[2019-03-22 17:32] derektumulak commented on #331
Hi Jay, thanks for the reply. Yes, in terms of isolating data in the
database and creating a customer authorizor. There is an AWS SaaS
QuickStart that does this with containers. Another option I've considered
is deploying different sites per tenant in order to achieve multi-tenancy.

-Derek

On Fri, Mar 22, 2019 at 10:28 AM Jay V <notifications@github.com> wrote:

[2019-03-23 13:53] filipesmedeiros commented on #330
Worked on 4.3.1 (obviously right?)

[2019-03-24 20:22] jayair commented on #331
Yeah sadly I don't have too much experience with that.

[2019-04-08 18:51] hoyere opened #333 "The provided key element does not match the schema"
I am trying to do a get request and also the update event.

`message: 'The provided key element does not match the schema',
  code: 'ValidationException',
  time: 2019-04-08T18:46:18.666Z,
  requestId: '7KEDMN6JEGGUQ5F8MMVM9J2RQNVV4KQNSO5AEMVJF66Q9ASUAAJG',
  statusCode: 400,
  retryable: false,
  retryDelay: 35.406635642419296 }
{
    "statusCode": 500,
    "headers": {
        "Access-Control-Al

[2019-04-08 19:03] #333 closed

[2019-04-08 19:03] hoyere commented on #333
my bad

[2019-04-19 05:56] MattDelmarter opened #335 "Improve confusing instructions when creating a note"
In the "Test" section of the following page:
https://serverless-stack.com/chapters/add-a-create-note-api.html#test

The instructions say to:

[code]

However all the following commands need to be run from the current direction, not the `mocks` directory. i.e. the following line should be removed...

[code]

[2019-04-22 00:25] jayair commented on #335
Good catch. Thanks for pointing it out. Fixed.

[2019-04-22 00:25] #335 closed

[2019-04-22 07:23] rahulvyas1 opened #336 "Create test user issue"
Hi everybody,

I have already tried all the related fixes in the other github issue thread.

Tutorial- https://serverless-stack.com/chapters/create-a-cognito-test-user.html

1. Signup works
2. Signup verification does not work and gives this error -

An error occurred (UnrecognizedClientException) when calling the AdminConfirmSignUp operation: The security token included in the request is invalid.

[2019-04-22 15:36] rahulvyas1 commented on #336
Resolved it, entered the wrong client id in the command.

Cheers

[2019-04-22 15:36] #336 closed

[2019-05-23 03:35] abhinavjonnada82 commented on #320
How did you solve it!? I got the same error..

[2019-05-23 13:22] abhinavjonnada82 opened #344 "Status: 404"
Hello,
I've been getting below error:
[code]
This is my command
[code]
and I've cross checked twice can someone help me.
Thank you in advance.

[2019-05-23 13:24] abhinavjonnada82 commented on #344
@jayair @bernardobugmann  Can you help me out!!

[2019-05-27 19:06] jayair commented on #344
Hi there, can you post this to the relevant chapter on https://discourse.serverless-stack.com. Thanks!

[2019-05-29 03:01] abhinavjonnada82 commented on #344
@jayair just did that with an updated response!!

[2019-05-29 19:41] tcurdt commented on #107
Wow - this issue is old. Is there any progress on automating the whole setup?

[2019-05-30 18:01] jayair commented on #107
@tcurdt It's now Part II of the guide.https://serverless-stack.com/#part-2

[2019-05-30 18:13] tcurdt commented on #107
@jayair Ah, nice. I didn't see that yet.

But it's only AWS and not for [Google](https://serverless.com/framework/docs/providers/google/)?

[2019-06-01 00:19] jayair commented on #107
Hmm the entire guide is only for AWS.

[2019-06-05 19:22] labibhussain commented on #112
I keep getting the 403 error, despite debugging as suggested :(

`npx aws-api-gateway-cli-test \

[~/Desktop/serverless-todo-app/notes-app-api] $ npx aws-api-gateway-cli-test \

npx: installed 106 in 4.168s
Authenticating with User Pool
Getting temporary credentials
Making API request
{ status: 403,
  statusText: 'Forbidden',
  data: { message: 'Forbidden' } }`

[2019-06-05 19:24] labibhussain commented on #112
I keep getting the 403 error but I'm not sure why. I've tried all the debugging suggestions, and even tried changing the policies around in the IAM (which arent giving me any denied errors). Here is what I'm finding in my logs
`npx aws-api-gateway-cli-test \

npx: installed 106 in 4.168s
Authenticating with User Pool
Getting temporary credentials
Making API request
{ status: 403,
  statusText: 'Fo

[2019-06-29 23:31] jayair opened #363 "Language names"
Hey guys,

@bsg-bob @christiankaindl @vincentoliveira @vieko @bernardobugmann

I add a better language menu to all of our chapters.

<img width="815" alt="Screen Shot 2019-06-29 at 7 25 45 PM" src="https://user-images.githubusercontent.com/53023/60390400-c3647c00-9aa3-11e9-90a4-94ac19bb0297.png">

But I think we should show the links in the proper language. Do you mind editing this file with the p

[2019-07-03 08:10] ozzyjon opened #365 "Give user access to a shared S3 bucket"
I want my logged in users to be able to access a common S3 bucket.  For example, all users from Company A should be able to access the private S3 bucket for Company A.

I created a 'Company A' User Group in cognito and assigned the users to that group.  I then assigned a policy to the 'Company A' User Group to gain access to the Company A S3 bucket.  However, this doesn't work, users get a 403 whe

[2019-07-18 15:02] ozzyjon commented on #365
I've accomplished this:
1. In cognito user pool create a 'user group', assign a role to that group containing your relevant permissions, and then assign your user to that group.
2. In the identity pool go to the section 'Authenticated role selection' within 'Authentication Providers'.
3. Select 'Choose role from token'

Now, when the user logs in, the Role assigned to the User Group is given to an

[2019-07-18 15:02] #365 closed

[2019-07-23 23:41] jjgrayston opened #369 "Problem with “serverless-offline” plugin"
Following guide verbatim - problem encountered at
https://serverless-stack.com/chapters/add-a-create-note-api.html

error thrown at first “serverless” command:

[code]

I realise this may be an issue with the serverless-offline plugin, however it’s currently a blocker for anyone attempting to follow the serverless-stack tutorial

[2019-07-24 00:13] jjgrayston commented on #369
Update: Following the steps on a new system works. Seems the problem was specific to my environment, closing

[2019-07-24 00:13] #369 closed

[2019-07-28 06:07] kpahi commented on #127
saved my day.
Thanks

[2019-07-29 01:50] trivikr commented on #260
I got the following message in AWS Console while trying to create Cognito Identity Pool while following [these steps](https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html)
![Screen Shot 2019-07-28 at 6 48 13 PM](https://user-images.githubusercontent.com/16024985/62016686-658d8780-b168-11e9-8992-f42e4afd85e3.png)

Links:
* [AWS AppSync](https://aws.amazon.com/appsync/)
* [Start

[2019-07-29 06:31] trivikr opened #373 "Proposal: Use React Hooks?"
Hi,

First of all, a big thank you to authors and maintainers for creating this tutorial.

React introduced [Hooks](https://reactjs.org/docs/hooks-intro.html) in v16.8 in Feb 2019, which allows usage of state and other React features without a class. Most developers seem to be happy with using Hooks ([rfc](https://github.com/reactjs/rfcs/pull/68), [implementation](https://github.com/facebook/react

[2019-08-03 23:31] jayair commented on #373
Yup our next major revision will be using Hooks.

[2019-08-03 23:32] jayair commented on #260
Hmmm we aren't really using Cognito Sync as a part of this tutorial. I think we can ignore that message for now. Most likely we'll have AppSync as a separate section in the guide.

[2019-08-26 11:43] petewilcock opened #395 "Configure CORS on note-app-client for INCOMING requests"
I've read countless pages talking about setting up a request proxy for the app-client TO an external API.

What I'm doing from the app on localhost:3000 is calling APIGateway which 302 redirects back to my app on localhost:3000, but throws a CORS error because the development server isn't emitting CORS headers.

I can't find a way to do this in a context that makes sense to me in terms of how this

[2019-09-02 17:22] jayair commented on #395
Hmm I'm not sure I understand. Since the frontend is a static webpage, what does the redirect accomplish? Are you trying to show the user a message that the request was completed?

[2019-09-02 17:32] petewilcock commented on #395
In this example the React app is the start and finish of an oAuth flow, the
callback to which hits lamdba via apigateway and returns a 302 back to the
app.

302 fails on local testing due to lack of cors emission on the dev server.

[2019-09-02 17:49] jayair commented on #395
Sorry I don't have too much experience with this. Where are you seeing this error? In Lambda?

[2019-09-13 05:26] andreimcristof opened #398 "Question on Amplify config"
Hi, this is a question, not an issue:
In the step "Configure AWS Amplify", in the [Serverless Stack guide](https://serverless-stack.com/chapters/configure-aws-amplify.html), all the config is placed in an config.js in the /src folder.

My question is: is it not a security flaw, to expose such infrastructure details like S3 Bucket Name and Cognito IDs in the js file, and send them to the browser? I

[2019-09-14 15:31] lopezdp commented on #115
@rafapetter Did you ever figure out how to access the custom:attributes in Cognito from event.requestContext???

I have a primary accountID that I need to capture from Cognito that I have defined as a custom:attribute also. I want to get it from Lambda on the backend because I want to make sure that this ID is coming from an authenticated user and not my db. Based on the ID I get from Cognito as s

[2019-09-15 00:11] jayair commented on #398
Those are completely fine. The access to those resources are restricted by authentication. And we don't allow unauthenticated access to them.

[2019-09-15 09:40] andreimcristof commented on #398
Thank you!

[2019-09-15 09:40] #398 closed

[2019-09-18 20:41] trivikr commented on #373
We've built [aws-samples/aws-sdk-js-v3-workshop](https://github.com/aws-samples/aws-sdk-js-v3-workshop) as a modified version of demo code from serverless-stack, and are using React Hooks

[2019-09-23 06:41] 47arathore commented on #112
Something that I came across while testing in Windows is
1. I need to remove all the \ = and ".
2. Get the complete string to be in one line
3. Make sure that in invoke-url, you are only using the main path. Don't include the lambda path also. Mistakes happen.
4. If you are using mobilehub, even if you will be using the same user pool, there will be different identity pool created for your app and

[2019-10-06 15:01] GurpreetSingh5 opened #399 "Serverless Stack tutorial showing use of Angular instead of React, with hosting in AWS using serverless-s3-sync instead of netlify"
Serverless Stack tutorial showing use of Angular instead of React, with hosting in AWS using serverless-s3-sync instead of netlify for a purely AWS services based development stack experience ?
Any plans for that?
If not, I'm willing to contribute, as I have certain degree of experience with it.

[2019-10-06 15:05] GurpreetSingh5 opened #400 "Serverless Stack tutorial showing usage of step functions instead of Lambda"
Additional chapters or totally new sub chapters can be started on this.
This would be widely helpful as AWS Step functions are equally used, and there is no proper stack oriented tutorial on that.

[2019-10-06 17:21] AhmedMKamal opened #401 "How to save cognito user to dynamodb?"
as the title says, I wanna know how to save the newly registered user into dynamodb users table?

[2019-10-11 23:45] jayair commented on #401
It might be better to post this over on the forums - https://discourse.serverless-stack.com

But really quickly, you could do this by using Cognito User Pool triggers or you can make an API in your backend and call that after the user signs up.

[2019-10-11 23:45] #401 closed

[2019-10-11 23:46] jayair commented on #400
Yeah that's true. We'll look into adding a section when we get a chance.

[2019-10-11 23:48] jayair commented on #399
Hi there, so we do have a section on using S3 for hosting your React app. But with the `serverless-s3-sync` plugin, you would have to put your React code in your Serverless app right?

[2019-10-18 14:09] kmanojkumar commented on #226
To resolve this error while running an automated CI pipeline or locally, try the following:

[code]

Also, check your **package.json** and ensure the **serverless-offline** package is included in **devDependencies**.

This fixed the issue for me.

_Happy Serverless!_

[2019-10-22 14:15] ClaraGaya opened #410 "Add the Session to the State Tutorial chapter"
There's a tiny error in the tutorial chapter [Add the Session to the State](https://serverless-stack.com/chapters/add-the-session-to-the-state.html)

should be
props.appProps.userHasAuthenticated(true);

instead of
props.userHasAuthenticated(true);

[2019-10-23 17:44] GurpreetSingh5 commented on #400
Great.
Have been already working on this.
Let me know, if open for contributions.

[2019-10-23 17:47] GurpreetSingh5 commented on #399
I had enquired regarding using Angular instead of React.

[2019-10-24 23:40] jkketts commented on #174
Would we be able to use something like https://github.com/localstack/localstack for this? That might be a better approach than trying to figure out all the complexities involved with containers.

[2019-10-26 01:59] jayair commented on #399
Yeah we just don't get enough requests for Angular sadly. But if you put together a sample repo with some instructions on how to build the notes app with Angular, we'll share it with the community.

[2019-10-26 02:00] jayair commented on #400
Yeah for sure. If you are interested in writing in a chapter, that would be great. Post a rough outline of what you want to cover and I can give you some feedback before started.

[2019-10-26 02:03] jayair commented on #410
Hmmm I don't think it should be because we pass the `appProps` to the component in its props. You can check it out in our sample repo - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/redirect-on-login/src/containers/Login.js#L26

[2019-11-03 10:15] patotoma opened #414 "Docs: wrong link to github repo"
Hey guys,

just wanted to let you know that in https://serverless-stack.com/chapters/redirect-on-login.html

at the bottom, there is a wrong link to GitHub repo. It should point to the frontend source instead of the backend source.

Currently: https://github.com/AnomalyInnovations/serverless-stack-demo-api/tree/redirect-on-login (which doesn't exist)
Expected: https://github.com/AnomalyInnovations

[2019-11-16 18:36] jayair commented on #414
Thank you for pointing it out! Fixed.

https://github.com/AnomalyInnovations/serverless-stack-com/commit/a74ef5b82d14c8bdf7338b5c0730591e68745da9

[2019-11-16 18:36] #414 closed

[2019-11-23 10:42] PercyTuncar commented on #320
How did you solve it!? I got the same error.. x2 :cry:

[2019-12-12 16:03] boxabirds opened #424 "Update tutorial to support Lambda Provisioned Concurrency"
Provisioned Concurrency, [announced Dec 2019](https://aws.amazon.com/about-aws/whats-new/2019/12/aws-lambda-announces-provisioned-concurrency/), takes some steps towards alleviating the cold start problem.

This means polling hacks can be removed.

The proposal therefore is to update the guide to at the least mention provisioned concurrency, and/or as part of it, demonstrate how to use it, and how

[2019-12-16 01:04] jayair commented on #424
Yeah I think it's worth showing how to use it.

But I'm curious about the polling hacks. I don't think we do that in the guide?

[2019-12-18 04:09] boxabirds commented on #424
Hi @jayair -- not in the coding parts of the guide, no, but there are various mentions throughout the doc on cold starts. So maybe the first increment would be to add a note in the narrative section initially, and then maybe later a more advanced element.

[2019-12-18 14:10] boxabirds commented on #373
This is immensely cool, thanks! Hooks make the code so much simpler and opens the way to a whole other level of good design practices.

[2019-12-18 14:18] boxabirds opened #426 "SAM version?"
Hi I love Serverless but corporate clients are generally hesitant to use third party elements in the core flow. SAM has come along a bit in recent times -- have you thought of doing a SAM version?

[2019-12-18 22:59] boxabirds opened #427 "Add S3 logging"
I'm at the "Add Note attachment to S3" and I'm having some permission issues. It'd be great for the guide to enable object-level logging with CloudTrail when the note bucket is set up. Ironically the permission problem I have seems to be disabling the ability … to log as well… fun and games.

[2019-12-29 22:24] jayair commented on #426
Hmm yeah thats a good point on the corporate clients part. We didn't have plans but I'll have a look at SAM and see how far along they are.

Contributions are welcome though!

[2019-12-29 22:24] jayair commented on #427
Oh. Post what you end up figuring out.

[2019-12-29 22:25] jayair commented on #424
I see. Thanks for the feedback!

[2019-12-29 22:27] boxabirds commented on #426
I’ll definitely contribute if I get far enough in this direction. This stack has been unbelievably good. When I start earning myself I’ll definitely sponsor it.

[2020-01-07 09:50] boxabirds commented on #427
Right I can't get my project to accept this line in the S3 bucket policy:

arn:aws:s3:::kiwi-notes-app-uploads/private/${cognito-identity.amazonws.com:sub}/*

I had to use this instead:

arn:aws:s3:::kiwi-notes-app-uploads/private/*

which is obviously a security issue.

[2020-01-16 16:22] lcorneliussen opened #430 "Login with Office 365 / Azure AD using SAML or Open ID Connect (OIDC)"
First of all thanks for the fabulous work beeing done on serverless-stack.com!

I've been integrating the Notes-App with Office 365 Logins and was wondering, if a chapter on how to achieve that would be welcome.

After I while I got it working both with Cognito SAML and OIDC Identity providers - so a chapter on it would in a way also cover how to integrate any other SAML or OICD-based authenticati

[2020-01-17 20:23] lcorneliussen opened #431 "Add AWS Amplify Console Deployment"
Not sure if it has been considered, but I just deployed my app using AWS Amplfy Console which I (for now) prefer over netlify and the manual S3/CloudFront/... approach.

Has this option been considered?

[2020-01-19 03:22] jayair commented on #431
Yeah I can see that. We just don't get enough requests for it.

[2020-01-19 03:26] jayair commented on #430
Yeah for sure! That would be a useful addition. Thanks for the forum post. If you are interested in putting together a draft for the chapter that would be awesome.

[2020-01-19 03:33] jayair commented on #427
Yeah that's really weird cos the first one should work.

[2020-01-27 13:00] lakshmajim commented on #115
@lopezdp ,

Are you able to access the custom claims through `event.requestContext.authorizer.claims`?

[2020-01-29 14:19] lopezdp commented on #115
Oh boy did I solve this... Basically helped me to create the Authorization strategy I now use on every project. Do me a favor; Ill share my code and the answer if you ask the question on stack overflow. Copy the link to the question and send it to me in a reply here and Ill give it to you there... I noticed of all the questions on SO for this issue, absolutely none of them have the correct answer.

[2020-01-29 19:08] lopezdp commented on #115
@lakshmajim

I found the questions on SO that deal with this issue and submitted a couple of my answers for comment. Here is my response:

https://stackoverflow.com/questions/50574425/get-cognito-user-pool-identity-in-lambda-function/59973934#59973934

[2020-01-31 00:08] christian-townsend commented on #112
Is this thread still being supported? I don't want to thoroughly describe my issue if no one is able to assist! Cheers.

[2020-02-01 17:18] Lior-G opened #439 "customize-the-serverless-iam-policy.md - suggestions"
under "An advanced IAM Policy template", recommending the following updates

* update (twice)

Why: **PATCH** is needed for any deployment after the first one

[code]
to
[code]

* update

WHY: ensure code only has access to S3 permissions within project

[code]
to
[code]

* update

WHY: ensure code only has access to S3 permissions within project

[code]
to
[code]

[2020-02-08 18:32] jayair commented on #439
Yeah these make sense. Do you mind editing the chapter and submitting a PR?

[2020-02-08 18:40] jayair commented on #112
Post over on the forums instead — https://discourse.serverless-stack.com

[2020-02-10 15:22] Lior-G commented on #439
Jay:
sure, no problem.
Looking at your CONTRIBUTING.md, don't see if there is a branching naming convention, or steps to properly submit a PR.
Is there any? if so, can you please point me to it?

[2020-02-14 07:33] danketrotzdem commented on #431
Would also bei interested ...

[2020-03-08 21:53] jayair commented on #439
For this case you can simply edit this chapter through the GitHub web interface and submit a PR. Does that make sense?

[2020-03-09 12:58] Lior-G commented on #439
already done, and PR has already been merged

cheers

Lior

On Sun, Mar 8, 2020 at 5:53 PM Jay V <notifications@github.com> wrote:

[2020-03-11 00:06] jmoors opened #456 "uuid : TypeError: Cannot read property ‘v1’ of undefined"
Whilst following the code examples for the create API I was getting a “TypeError: Cannot read property ‘v1’ of undefined” error.

After investigation it seems there is a new version 7.x version of the uuid package has been released in the last few weeks, which has removed the default export.

https://github.com/uuidjs/uuid#upgrading-from-uuid3

Therefore the code examples need to be updated to usi

[2020-03-14 19:48] eaitbrahim opened #457 "Typo error: repeated the"
Building Your First Serverless App
The first part of this guide helps you create the the notes...

[2020-03-20 23:17] stcalica commented on #215
Wow! I did not realize how long ago I tried this.
I re-did it and I am able to do this now. I am on Catalina btw.
I also have better JS skills and npm/nvm/node knowledge now.
You can close this out if you like.

[2020-03-26 04:30] eems20 opened #463 "Errors running serverless invoke local --function create --path mocks/create-event.json from page 97"
When I run the above command, I get the following error. Any help would be appreciated , please.

[code]

[2020-03-27 10:21] mgonawala commented on #112
I am not sure if this thread is still maintained or not, but I just wanted to thank @bradodarb for his comment on solving 403 error. After following his advice I was able to solve error.
Solution:  keep --path-template empty and append your path value to the Gateway URL itself.

And also, Thanks to @jayair  for such an amazing tutorial. You really are helping every tech enthusiast in the best poss

[2020-03-30 21:11] jayair commented on #112
@mgonawala Thanks for kind words!

Yeah we've moved over to our forums for chapter related comments.

[2020-03-30 21:14] jayair commented on #463
Hi there, do you mind posting over on the forums instead — https://discourse.serverless-stack.com.

Also, make sure to check the `.json` file to see if it's valid JSON.

[2020-03-30 21:14] #463 closed

[2020-03-30 21:31] jayair commented on #215
Awesome!

[2020-03-30 21:31] #215 closed

[2020-03-30 21:36] jayair commented on #457
Hi there, can you edit the chapter and submit a PR?

[2020-03-30 21:40] jayair commented on #456
Hi there, we'll be updating this. For now, we pinned the `uuid` version to `3.4.0`

https://serverless-stack.com/chapters/setup-the-serverless-framework.html#install-nodejs-packages

[2020-04-02 22:06] eaitbrahim commented on #457
Sure, I will do it ASAP. Thanks!

[2020-04-05 19:37] TheAshwanik commented on #208
Hi.. I am following your tutorial, Many thanks for it.
I am Getting Following exception whenever I am adding the below line
import Amplify from "aws-amplify";

[code]

[2020-04-06 16:38] owenashurst commented on #344
I know this was nearly a year ago, but if you resolved this can you please post here the solution for other people?

[2020-04-07 03:28] stcalica opened #466 "This seems strange? Is it possible to do this using React Context?"
https://serverless-stack.com/chapters/add-the-session-to-the-state.html

I don't think I've seen something like this below. Seems like we are hacking react-router too much, as I can't find a similar pattern in their own docs.
Was this created to make the available functions easier for the tutorial?
Or is this literally the best practice for holding these functions in session state?

[2020-04-12 17:29] jayair commented on #208
Please post this over on the forums — https://discourse.serverless-stack.com

[2020-04-12 17:30] jayair commented on #344
If you are looking for help with the guide head over to the forums instead — https://discourse.serverless-stack.com

[2020-04-12 17:30] #344 closed

[2020-04-12 17:31] jayair commented on #466
These steps were from 3 years ago. They've been recently updated.

[2020-04-12 17:31] #466 closed

[2020-04-28 08:54] patrickwerz opened #474 "[feature request] PWA"
Hey guys
First of all. I love this project and thank you for your efforts.
Would it be possible to transform this app into a pwa? Maybe also with notifications?

Best Patrick

[2020-05-03 00:50] jayair commented on #474
Thank you!

Previously we did do some stuff PWA related but then Create React App disabled it by default because of all the issues people were having. So we ended up pushing back on that. We might take it back on in the future.

[2020-05-18 11:36] aluzed commented on #226
From a new serverless project, if everything is well installed (serverless-offline package...), check your **serverless.yml**.

You should have those lines :

[code]

Otherwise, this is why it does not work...

Regards.

[2020-05-27 22:12] #276 closed

[2020-05-28 17:05] aluzed commented on #226
Does your **package.json** mention "serverless-offline" ? (At least as devDependencies)

[2020-05-28 17:11] gouravbeyondBGCM commented on #226
where can I find this file "package.json" as my procject.json file doesnt have this .