[2017-08-14 02:30] jonsaw commented on #48
serverless.yml
[code]

Cognito Identity Pool IAM role:
[code]

Thanks for the quick response @jayair .

[2017-08-14 17:28] jayair commented on #48
@jonsaw All this looks good. And I'm assuming you got through the Test the APIs chapter?

If so, then can you host your backend code so I can take a look?

[2017-08-14 17:36] Cotel commented on #112
I get 403 Bad Signature response too in various of my endpoints. I've tried to put the whole URL in `invoke_url` and it didn't help me:

[code]
However, I may have found a pattern. I created a new service and started deploying each endpoint separately so I could find the reason of fails:

* GET user by Id: `xxxx/users/id/123` Works fine
* GET user by Email: `xxxx/users/email/test@test.com` Doesn't

[2017-08-14 17:54] jayair commented on #112
@Cotel Thanks for details.

Case 3 & 4 contain querystring parameters that need to be passed in as an object into the `additional-params` option (`{page:0,page_size:10}`). For case 2, since we need the email part encoded we can send that in as a part of the `params` as well. So it could look like `/users/email/{emailId}` and the `params` option would be `{emailId:"test@test.com"}`. Give that a try

[2017-08-15 00:43] jonsaw commented on #48
Yes, got `OK` for the test APIs chapter.

Sure, backed code hosted [here](https://github.com/jonsaw/serverless-notes).

[2017-08-15 17:42] jayair commented on #48
@jonsaw Just tried your backend with my react app and the CORS part worked. Of course the request itself failed because I don't have your DB.

<img width="496" alt="screen shot 2017-08-15 at 1 40 14 pm" src="https://user-images.githubusercontent.com/53023/29328125-761e6176-81bf-11e7-91b8-193f55b4dcbd.png">

Can you host your frontend code as well and I'll take a look?

[2017-08-16 00:09] jonsaw commented on #48
@jayair I'll post it. But in the meantime, I was looking at the console and I noticed I got the following response headers:

[code]

[2017-08-16 08:23] Cotel commented on #112
I just tried to replace the params and now it is working as expected! Thank you 💯

[2017-08-16 17:05] jayair commented on #48
@jonsaw Yeah that's a good clue. It seems like the signature for the request was not calculated properly. Let's take a look at the frontend.

[2017-08-16 17:07] jayair commented on #112
@Cotel 👌

Once you get to the frontend portion you would need to do something similar. Let me know how that goes.

[2017-08-17 07:24] ebisbe opened #119 "Reset libs cache"
I've found that the files under libs/ folder are cached. How can we refresh it if we made some changes to those files?

[2017-08-17 16:59] jayair commented on #119
Are we talking about the frontend or the backend?

[2017-08-17 17:02] ebisbe commented on #119
sorry @jayair , in the back end. The ones that work with serverless. In the output while deploying it doesn't says [not cacheable] so I assume they are cached and there for my change in the file under libs/ doesn't gets updated in  the lambda function.
I've tried to remove and deploy to see if it was an issue with aws but it don't seems to me.

[2017-08-17 18:46] Cotel commented on #112
I'm now making the react part and it returns the same error as when testing with the cli tool:

[code]

I am sure the userToken is arriving correctly to this method. Configuration is set properly and the IAM role simulation allows me to invoke the Api. `awsLib.js` and `sigv4Client.js` is copy paste from the tutorial...

![image](https://user-images.githubusercontent.com/9035239/29428206-abe6a2cc-8

[2017-08-17 18:54] ebisbe commented on #119
I think it's something related with aws lambda panel because now it's working.

[2017-08-17 18:54] #119 closed

[2017-08-18 19:44] maletor commented on #108
This has got to be a regression, right?

Using AWS SDK to communicate with S3 directly? Sure, this makes enough sense, but ultimately, you probably want to do this through API Gateway for rate limiting features, etc.

Using AWS SDK to hit resources on API Gateway with Signature Version 4? I don't think so. Just use the Authorization header. What is your source for creating this huge internal libra

[2017-08-18 20:13] jayair commented on #108
@maletor The AWS SDK is used to generate temporary IAM credentials. This is exactly as it was before.

Using the user token vs IAM as an authorizer depends entirely on your setup. If you are only going to talk to API Gateway then stick with the user token. But if you are going to use multiple AWS resources then IAM gives you better control over those resources. In this tutorial we want to cover th

[2017-08-19 09:16] everrr1025 commented on #112
in windows command line, should remove all double quotes, like --username=myname
for the value in json format, it should be look like this:
--body="{\"content\":\"hello world\", \"attachment\":\"dog.jpg\"}"

[2017-08-19 20:15] djheru commented on #112
Hello, I am still experiencing the `Unable to import module` issue after dropping my Serverless version to 1.17.0. When running the `apig-test` command I get this output:
[code]

Looking at the CloudWatch log:
[code]

After I downgraded serverless to 1.17, I cleared out my node_modules and reinstalled everything

My system info:
[code]
I also tried adding
[code]
which didn't help either.

[2017-08-19 23:07] jayair commented on #112
@everrr1025 Thanks for letting us know. I'm thinking of putting together a separate chapter on the differences for Windows.

[2017-08-19 23:11] jayair commented on #112
@Cotel I thought I had replied to your comment but I think I must have not sent it.

The email that you are passing in as a part of the path needs to be URL encoded. Instead of `test@test.com`, it needs to be `test%40test.com`. You can do this by hand or your can use something like https://github.com/bramstein/url-template.

[2017-08-21 19:37] u8006082 opened #120 "installing ES6/ES7(Babel and Webpack) on Window 7"
When I am running following commands based on http://serverless-stack.com.  I got errors. Does it mean it will not support Window 7? or I need to run different command on Windows 7? or it is OK to ignore? or there are something work around?

==========  Commands ===========
$ npm install --save-dev babel-core babel-loader babel-plugin-transform-runtime babel-preset-es2015 babel-preset-stage-3 serv

[2017-08-22 03:57] djheru commented on #56
HI @jayair thanks for the awesome guide. I was wondering if you could help me out with deleting the attachment. I created a function in awsLib.js:

[code]
and then in Notes.js, I made a function:
[code]

Then, in handleDelete, I call the function:
[code]

And for update, I call it if we're uploading a new attachment:
[code]

Am I doing something wrong in awsLib with the deleteS3Object function? I

[2017-08-22 06:19] exbarboss commented on #38
+1 for Federated Identities chapter.

[2017-08-22 08:32] biznuge commented on #63
Once I attempted the **_aws s3 sync_** command here, I realised nothing was being written to my s3 bucket.

After a little reading I realied that my admin IAM user didn't have PUT access to that bucket, so I amended the bucket policy to the version I've provided below.

[code]

Hopefully this helps someone out in the same situation.

Otherwise an absolutely smashing tutorial here guys. Amazingly t

[2017-08-22 17:07] jayair commented on #120
@u8006082 Hmm, these seem like warnings. Did these commands fail to update your `package.json` after they completed?

[2017-08-22 17:12] jayair commented on #56
@djheru The only difference while deleting is that the filename that we need to pass in should not include the full url. We just need the file name.

Here is a PR that I didn't get a chance to merge yet that maybe helpful - https://github.com/AnomalyInnovations/serverless-stack-demo-client/pull/3/files

[2017-08-22 17:14] jayair commented on #63
@biznuge Thanks for the kind words!

And thanks for reporting back. I'm sure it'll help some folks.

[2017-08-22 17:34] u8006082 commented on #120
the package.json is updated including package-lock.json. it is first time to install and not sure if it is OK with the warning. Thanks for your input.

[2017-08-22 19:55] pjamieson commented on #71
Great tutorial. Thanks!

For anyone who might be interested, I've refactored the React client to use Redux, with a README.md and the refactored code up at https://github.com/pjamieson/iartx-serverless-client. Comments and suggestions welcome.

[2017-08-22 20:59] Spartano commented on #112
i am on windows and i get 403 forbidden, i have readed all comments until the end, installed version 1.17 , copy pasted the yml file, changed ' with ", on my local machine i can invoke the functions, on the IAM simulator i can invoke the Amazon API Gateway, but the apig-test still doesnt work for me.

Is this test necesary to continue the rest of the tutorial? can i continue even if apig-test fail

[2017-08-22 22:06] jayair commented on #112
@Spartano Can I see the full command and the error message you are seeing? If it doesn't work here it most likely won't work down the road.

[2017-08-22 22:09] jayair commented on #71
@pjamieson That looks pretty good! I'll check it out in detail and share it with the rest of community.

[2017-08-22 22:14] jayair commented on #120
@u8006082 If things are created fine then I think you should be good to go.

[2017-08-22 23:36] Spartano commented on #112
@jayair  ```
apig-test --username admin@example.com --password Passw0rd! --user-pool-id eu-west-1_pZsZCGpGN --app-client-id 5baajstug7v1v1a4pg29iudh93 --cognito-reg
ion eu-west-1 --identity-pool-id eu-west-1:b7e31872-10c8-4da4-ad01-9e72a51c2b0f --invoke-url https://rpicy16hni.execute-api.eu-west-1.amazonaws.com/prod
--api-gateway-region eu-west-1 --path-template notes --method POST --body "{\"cont

[2017-08-22 23:38] pjamieson commented on #71
Thanks, Jay. The code (still a work-in-progress) is deployed at https://dev.iartx.com <https://dev.iartx.com/>.

[2017-08-23 07:00] SgtPooki commented on #107
You can create the cloud formation template using cloudformer as long as you have all the resources created

[2017-08-23 16:56] jayair commented on #112
@Spartano Yeah a debugging related chapter is definitely on our list.

So far what you posted looks good. But you'd generally start by looking at your CloudWatch logs to see where the 403 is being returned. Let me know if you've done that already.

Also, double checking your serverless.yml. So if you could post that as well.

[2017-08-23 16:59] jayair commented on #107
@SgtPooki Thanks for the tip. We are going to be adding an extra chapter on this soon.

[2017-08-23 17:22] edvvasdal commented on #112
Hey. Great walkthrough.
I'm getting 502 bad gateway back from API Gateway. I looked in the CloudWatch logs and found that it can't import modules. I've have downgraded serverless to 1.17.0, but still got the error:
Unable to import module 'create': Error

[2017-08-23 17:38] Spartano commented on #112
so, to wrap up, i can invoke the functions from my local development, and in my CloudWatch i dont get any error, it seems like the calls never get to the cloud.
[code]

[2017-08-23 23:26] dailenspencer commented on #48
Hey guys,

Great tutorial! I'm running into an ERR_NAME_NOT_RESOLVED error when initiating the invokeApig call to create a new note. Screenshot here

<img width="1327" alt="screen shot 2017-08-23 at 1 23 12 pm" src="https://user-images.githubusercontent.com/8779656/29642766-7b7a18fc-8806-11e7-8bb9-35537b264b05.png">

Any ideas would be helpful! Thanks

[2017-08-24 00:04] jayair commented on #112
@Spartano That also looks okay. I think the 403 is coming from API Gateway. API Gateway logs are not on by default and are a little trickier to turn on. Can you try this - https://kennbrodhagen.net/2016/07/23/how-to-enable-logging-for-api-gateway/ and see if you get something in the logs?

[2017-08-24 00:06] jayair commented on #48
@dailenspencer That sounds like you are not able to hit that URL from your local machine. Did the step where you tested the APIs work for you?

[2017-08-24 01:05] dailenspencer commented on #48
@jayair  Thanks for the quick response. Just got back to my keyboard. Here is a screenshot of the test - you will see the data comes back empty; Not sure why this is.

<img width="739" alt="screen shot 2017-08-23 at 3 03 51 pm" src="https://user-images.githubusercontent.com/8779656/29644750-69ca693c-8814-11e7-977e-978cc062849e.png">

[2017-08-24 07:30] Spartano commented on #112
@jayair i am making some progress, the problem was in the syntax of the apig code, since i am on windows.
I am using Visual Code and i have bash integrated, so i have wrongly presumed that i could use the same syntax. When i changed terminal, i was finaly able to see the errors inside the terminal and in the cloud watch.

it will be really nice a guide on how to test it with Postman or another ser

[2017-08-24 16:43] kenbankspeng commented on #22
Fantastic resource. Please consider mentioning facebook's create-react-app.

create-react-app notes-app-api

and for typescript:

create-react-app notes-app-api --scripts-version=react-scripts-ts

[2017-08-24 18:27] jayair commented on #48
@dailenspencer I just noticed in your original screenshot that you are trying to connect to the API endpoint that we have in the tutorial. Replace that with the one you are using in the `apig-test` command and give it a try.

[2017-08-24 18:33] jayair commented on #112
@Spartano That makes sense. Thanks for trying to debug it more.

I just noticed that there is a typo in your `serverless.yml`. It should say `iamRoleStatements` instead of `iamRoleStatement`; like so https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L17.

[2017-08-24 18:36] jayair commented on #22
@kenbankspeng Thanks!

Are you referring to these commands while we create the API? I think you mean the frontend React app?

[2017-08-24 18:39] dailenspencer commented on #48
@jayair Right. Solved that one as well - forgot to mention it on here. All is working well! Thanks for the assistance. Next step is to implement this functionality(Lambda and CognitoUserPool authentication) in Unity/C# app :)

[2017-08-24 18:55] kenbankspeng commented on #22
I was initially thinking regarding both the API and the front end, but looks like create-react-app has other files added which are really only for a front end app, so may not be appropriate for the API. I just liked how create-react-app hid babel and webpack from me. Maybe a configuration option for typescript then. But beggars can't be choosers...

[2017-08-25 07:14] jonsaw commented on #48
@jayair, published my frontend code [here](https://github.com/jonsaw/serverless-notes-web).

I've also cloned the frontend from this [repository](https://github.com/AnomalyInnovations/serverless-stack-demo-client) but with the config set to my servers. I am getting the same 403 error.

[code]

With the following body.

[code]

[2017-08-25 07:34] jonsaw commented on #48
Got it to work! There was a space in one of my configs which caused the header signature to mess up.

[code]

[2017-08-25 15:00] SeanSilke commented on #112
Have this problem with status: 500:
[code]
The problem was in serverless.yml fiile under the line
`        Resource: "arn:aws:dynamodb:us-west-2:*:*"`
The was the wrong region because I don't change it from the example's one.
When I change region i receive
[code]
I also downgrade the serverless as was mentioned in previous comments.

@jayair Please add part in tutorial on proper region settings. I

[2017-08-25 22:45] jayair commented on #48
@jonsaw Just to make sure other people find this and understand it; which config had the extra space?

[2017-08-25 22:50] jayair commented on #112
@SeanSilke Thanks for reporting back. Yeah I'll add a note in the parts that need a region change.

[2017-08-26 10:35] loxtank commented on #80
Great tutorial!
I'm interested in a Redux version too.

[2017-08-27 10:09] jonsaw commented on #48
@jayair sure thing!

[code]

[2017-08-27 21:28] jayair commented on #48
@jonsaw Ah makes sense. Thanks for posting it.

[2017-08-29 20:29] gregt590 commented on #50
A related problem occurs if you first attempt to login to a user that doesn't exist and get an
UserNotFound Exception, and then login to a valid user and attempt to create a new note with an attachment which will generate an AccessDenied error, because it was using the wrong access credentials which hadn't expired yet and didn't have a valid identityId defined which also causes it to attempt to cr

[2017-08-29 20:40] jayair commented on #50
@gregt590 Ah thats true. The update with resetting the credentials is coming out shortly.

[2017-08-29 21:05] gregt590 commented on #80
Would love to see a Redux version as well.  In the mean time I am attempting to change to a Redux-based approach myself.

[2017-08-29 22:31] jayair commented on #80
Sounds good. If anybody has a working version with Redux, we'd love to feature it here.

[2017-08-30 17:00] rtmalone commented on #90
Great article; thanks for detailing the 'why' in some of the decisions. I immediately added an AsyncComponent in three of my apps. I wondering though how to descriptively name the chunks to correspond to the component or file name. Any thoughts?

[2017-08-30 19:39] jayair opened #123 "Update with Improved Session Handling"
**We just rolled out a new version of the tutorial with a few minor updates (details below). If you are looking for the older version of the tutorial, we have a hosted version [here](https://59a70f2ccf321c2ccb15113f--serverless-stack.netlify.com).**

### Updates

- Serverless API
  - Setting email as a username in Cognito User Pool

- React Client
  - Fixed logout not clearing session
  - Removed

[2017-08-30 21:19] jayair commented on #90
@rtmalone I haven't tried this but I think you are looking for the `webpackChunkName` option - https://webpack.js.org/api/module-methods/#import-.

[2017-08-31 12:49] cgdobre commented on #35
I found it better to use the `IndexLinkContainer` component from [react-router-bootstrap](https://github.com/react-bootstrap/react-router-bootstrap) instead of declaring our own `RouteNavItem` and mixing up **Routes** with **Links**. This way the code looks like:
[code]

[2017-08-31 17:53] jayair commented on #35
@cgdobre Yeah initially I had written the tutorial using `react-router-boostrap` but it made more sense to go over how to better use the `Route` component instead of adding an extra dependency. This way of using the `Route` to conditionally render components can be very helpful in a lot of other cases.

Thanks for adding the comment. I'm sure a lot of other folks will prefer your approach.

[2017-08-31 23:37] jayair opened #124 "Comments: Changelog"
Link to chapter - https://serverless-stack.com/chapters/older-versions.html

[2017-09-03 17:18] zacacollier commented on #112
I was experiencing the same errors as @tsdorsey and @thesavvygreek - `502 Bad Gateway` and `Unable to import module 'create': Error` being reported in the CloudWatch logs.

fixed it by:

1. downgrading to serverless 1.17.0 as @jayair suggested
2. used the Roles Simulator to verify that serverless IAM roles were configured properly
3. Enabling CloudWatch logging, discovered `Unable to import module

[2017-09-03 18:13] jdeagle commented on #56
@jayair I think I am getting the same error as @djheru. Using the pull request above, I get a
[code]
 I noticed the pull request is part of an older step so it uses `getAwsCredentials` in s3Delete rather than `if(!await authUser) {`. If I replace `getAwsCredentials` with the same `if(!await authUser)` block as s3Upload I get a different error tied to the S3 asset:
[code]

When I look at the reques

[2017-09-03 21:06] jayair commented on #112
@zacacollier Thanks for the really detailed report back. I'm working on a chapter for debugging and your feedback will help with that.

[2017-09-03 21:10] jayair commented on #56
@jdeagle I'm not sure if you've already done this. But in that chapter (https://serverless-stack.com/chapters/create-an-s3-bucket-for-file-uploads.html) you might have noticed this block.

[code]

We need to add a row here allowing our users to be able to perform the `DELETE` method as well.

[2017-09-04 05:45] jdeagle commented on #56
Thanks, that did it. Also found this in the S3 CORS documentation:
[code]

So even though DELETE method is allowed because we added it to the CORS rule, the bucket policies prevent deletes from the general public. Yay.

[2017-09-04 06:21] simvisfear commented on #90
How do you handle the case where we have redux store and when reducers have child reducers.?

[2017-09-04 17:40] jayair commented on #90
@simvisfear I'm not sure what you mean specifically (with respect to code splitting) but the dynamic import works similarly to a regular import.

[2017-09-05 00:25] bumblebeen commented on #112
@zacacollier You don't need to downgrade to serverless 1.17.0.
I am using 1.21.0 and it works just by adding `babel-runtime` in dependencies.
Great find man. thanks

[2017-09-05 12:35] rkmax commented on #58
For some reason when I redirect to AuthenticatedRoute show white (nothing) I have to refresh in order to see the content

`<AuthenticatedRoute exact={true} path="/" component={HomePage}/>`

[2017-09-05 16:54] jayair commented on #112
@bumblebeen Yeah if I recall, it was 1.18 that was giving folks problems.

[2017-09-05 16:58] jayair commented on #58
@rkmax I guess you are setting it up a little differently from the tutorial. But what does your `HomePage` component look like?

[2017-09-05 17:15] DushyantShukla commented on #46
Is this code functional? As I was able to register a new user. I found that The email attribute should be passed against the key email in the userAttributes parameter of [SignUp](http://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_SignUp.html) API.  Finally, below is my updated signup() method which works just fine:
`signup(email, password) {
        const userPool = new

[2017-09-05 19:30] jayair commented on #46
@DushyantShukla Yeah it is functional. The tutorial has been updated so that the `email` can be passed in as the username. You can read more about the update here - https://github.com/AnomalyInnovations/serverless-stack-com/issues/123.

If you need to reference the old version of the tutorial, there is a hosted version here - https://59a70f2ccf321c2ccb15113f--serverless-stack.netlify.com.

[2017-09-05 20:21] paolini commented on #112
When running apig-test I get the following error:

[code]

[2017-09-05 22:31] rkmax commented on #58
something like

[code]

[2017-09-05 23:23] jayair commented on #112
@paolini It looks like you might have created this user through the AWS Console? In this case the user is required to set a password when they first login. The `apig-test` CLI does not handle this case and expects that the user credentials are valid and can be used.

[2017-09-05 23:23] jayair commented on #58
@rkmax Are you using this with Redux?

[2017-09-05 23:38] rkmax commented on #58
yes

[2017-09-06 06:38] DushyantShukla commented on #46
Oops! Didn't know that! I appreciate the response. Thanks!

[2017-09-06 07:17] paolini commented on #112
Yes thanks, that's the case... Seems there is no way to change or confirm the password from the aws console.

[2017-09-06 10:25] paolini commented on #112
My next issue: IdentityPool not found.

I checked that the identityPoolId is correct:

[code]

[2017-09-06 17:45] jayair commented on #112
@paolini Just glancing at your command. Shouldn't the `congnito-region` should be `--congnito-region`?

[2017-09-06 17:47] jayair commented on #58
@rkman I would need to play around with it to see how that would work out. But you can try to debug and see why the `render` method for your `HomePage` component is not getting called.

[2017-09-07 01:22] Rickkwa commented on #58
lol you tagged the wrong person.

[2017-09-07 16:06] paolini commented on #112
Thanks again. You are right! Now I reduced my problem to 403 Forbidden... :-(

[2017-09-07 18:19] u8006082 commented on #112
I tried everything that I can and could not find anything wrong. the serverless.yml is same as posted here. but when I am test, I always got 403 error. it is running on Windows 7 and below is the output.

apig-test .............................
Authenticating with User Pool
Getting temporary credentials
Making API request
{ status: 403,
  statusText: 'Forbidden',
  data: { message: 'Forbidden' } }

[2017-09-07 19:16] jayair commented on #112
@u8006082 If you are on Windows, @Spartano's comment https://github.com/AnomalyInnovations/serverless-stack-com/issues/112#issuecomment-324556718 from above might help you. I think he was having the 403 error before as well.

@paolini @u8006082 Another thing to make sure to try is the IAM policy simulator - https://github.com/AnomalyInnovations/serverless-stack-com/issues/112#issuecomment-31782188

[2017-09-07 19:33] u8006082 commented on #112
Thanks Jayair!  I missed "/" after prod. it should be https://hyuzdjsm1e.execute-api.us-east-1.amazonaws.com/prod/

by the way for window user you can use ^ (unix is \) to separate the line.

[2017-09-07 20:17] bharloe commented on #123
Would it be possible to get some sort of list of which specific pages in the tutorial (Or files in the app) were changed with 1.1 so that we can go back and implement the changes ourselves? I would prefer to manually make the specific edits to my current project rather than importing the new version, because that way I will not be blindly running code that I don't understand. This would also be ni

[2017-09-07 20:48] jayair commented on #123
@bharloe The versions are tagged in the repo, so you can do a diff between the versions (https://github.com/AnomalyInnovations/serverless-stack-com/compare/v1.0...v1.1). The only tricky thing about this is that I made quite a few cosmetics style changes to the code samples, so a lot of files have changed.

The API code base itself has not changed, but the way we set up the User Pool has. Specifica

[2017-09-08 00:44] forrest-akin commented on #108
You may have just mentioned it (better control over access to AWS resources), but could elaborate (or provide a resource) on why IAM should be preferred over Cognito User Pools for auth in AWS?

[2017-09-08 18:22] jayair commented on #108
@forrest-akin We'll be writing more on this soon but here is the gist of it. IAM auth is what AWS uses for all their resources. You see this in the tutorial with S3 where we need to get the IAM credentials. You also need the IAM auth if you are rolling out your own auth system using Federated Identities.

The special case here is if you are using only API Gateway and all your users are stored in t

[2017-09-11 04:32] vaughanhale opened #127 "Constraint Error when verifying account using administrator command"
When I run the below command (with my UserPoolId and the email I used to create the user)
[code]
I get the below error message..
An error occurred (InvalidParameterException) when calling the AdminConfirmSignUp operation: 1 validation error detected: Value 'YOUR_USER_POOL_ID' at 'userPoolId' failed to satisfy constraint: Member must satisfy regular expression pattern: [\w-]+_[0-9a-zA-Z]+

I though

[2017-09-11 04:39] #127 closed

[2017-09-12 05:57] AndrewWrightNZ commented on #53
Hey I can view all notes in the list view on Home.js but when I click on a note I get the error:

TypeError: Failed to fetch

{message: "Missing Authentication Token"}
message
:
"Missing Authentication Token"

Any ideas?

[2017-09-12 07:54] johan-steffens opened #128 "Deploying to S3"
This is in reference to the Deploy to S3 chapter (https://serverless-stack.com/chapters/deploy-to-s3.html)

I've followed the guide, built my app, synced the build to S3 and double checked that all the files are uploaded and they were in the S3 bucket. When I navigate to the Static URL for the bucket (http://aws-notes-app-tutorial-site.s3-website-us-west-2.amazonaws.com/), I get the following erro

[2017-09-12 09:21] johan-steffens commented on #128
To add to this, I tried installing serve and using that to statically host the site on my local environment, and it spits out the following error:

const { coroutine } = require('bluebird')
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:373:25)
    at Object.Module._extensions..js (module.js:416:10)
    at Module.load (modul

[2017-09-12 19:39] jayair commented on #128
@johan-steffens Can I see your `package.json`?

[2017-09-12 19:42] jayair commented on #53
@AndrewWrightNZ That's weird that it's looking for the token. Can I just do a sanity check and look at your `serverless.yml` for the backend?

[2017-09-12 19:44] AndrewWrightNZ commented on #53
@jayair Yeah sure, https://github.com/AndrewWrightNZ/notes-app-api/blob/master/serverless.yml

[2017-09-13 06:50] johan-steffens commented on #128
@jayair Sure, the contents are:

{
  "name": "notes-app-client",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "amazon-cognito-identity-js": "^1.19.0",
    "aws-sdk": "^2.112.0",
    "crypto-js": "^3.1.9-1",
    "react": "^15.6.1",
    "react-bootstrap": "^0.31.2",
    "react-dom": "^15.6.1",
    "react-router-dom": "^4.2.2",
    "react-scripts": "0.9.5"
  },
  "devDependencies"

[2017-09-13 15:34] jeffthefate commented on #65
I'm not sure if this was just because I had to move a domain from one AWS account to another, but my domain and hosted zone didn't have the same name servers. Once I synced those up, everything was magic.

[2017-09-13 18:51] jayair commented on #53
@AndrewWrightNZ Yeah that looks okay.

In a previous version of the tutorial we were sending the `userToken` in each of the `invokeApig` calls. Can I see your `Home.js`?

[2017-09-13 18:54] jayair commented on #128
@johan-steffens The one thing that sticks out here is that `react-scripts` is using `0.9.5`. There was a major update to create-react-app (and `react-scripts` as a consequence) recently. You should try updating it and then try again. Here is the `package.json` from the tutorial for comparison - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/package.json.

[2017-09-13 18:55] jayair commented on #65
@jeffthefate Thanks for leaving a note. I'm not sure if that's the issue but it might help some other folks.

[2017-09-14 01:38] AndrewWrightNZ commented on #53
Yeah - https://github.com/AndrewWrightNZ/notes-app-client/blob/master/src/containers/Home.js

From a quick google search it may be AWS config related?

[2017-09-14 12:35] johan-steffens commented on #128
@jayair Thanks so much for your time. I tried what you suggested and it also didn't work. It gave a similar error to if I try using serve to host it locally.

I decided to uninstall and reinstall both node and npm, and after that tried to run the build with the updated ```package.json``` as you suggested. All of a sudden it worked, and when I synced it to S3 it also worked in the statically hosted

[2017-09-14 12:35] #128 closed

[2017-09-14 18:22] jayair commented on #53
@AndrewWrightNZ Not sure if this is the right version but I tried your repo and the `invokeApig` call in `Home.js` is making a request to the wrong API endpoint? And there is no `Notes.js`? If you push the updated version I'll take a look.

[2017-09-15 02:19] hmartus commented on #23
I'm not sure if it is me. I did initially get status 500 but after 16 hours or so I now got status 200 and I'm able to see an item in dynamodb. It is really weird.

[2017-09-15 17:08] jayair commented on #23
@hmartus That's really strange. Is this on a completely new AWS account?

[2017-09-15 21:10] jayair opened #130 "Update with Serverless Webpack v3"
**We just rolled out a new version of the tutorial with an update to Serverless Webpack v3. Only the backend API has been updated. If you are looking for the older version of the tutorial, we have a hosted version [here](https://59a70f9b0752d02b19c62a85--serverless-stack.netlify.com/).**

### Updates

- Upgraded to use [Serverless Webpack v3](https://github.com/serverless-heaven/serverless-webpack

[2017-09-15 22:24] AndrewWrightNZ commented on #53
@jayair awesome, just reviewed all of the routes and its working 💯

[2017-09-15 23:00] samxi commented on #112
I am running the following command and getting an error:
`apig-test \
--username='admin@example.com' \
--password='Passw0rd!' \
--user-pool-id='us-west-2_*********' \
--app-client-id='*****************************' \
--cognito-region=‘us-west-2’ \
--identity-pool-id='us-west-2:***************************************' \
--invoke-url='https://***********.execute-api.us-west-2.amazonaws.com/prod' \
-

[2017-09-15 23:23] jayair commented on #112
@samxi Hmmm that seems strange. The only thing I can think of here is to double check the Cognito id's that are being set and make sure that the region info for them is correct.

[2017-09-16 06:08] Spartano commented on #112
@samxi there is no space after each comand correct: "apig-test/space"
 not vorrect:"apig-testspace/space"

[2017-09-18 10:39] QuantumInformation opened #132 "Would it be useful to have Gitter/Discord/Slack room for this book?"

[2017-09-18 10:47] QuantumInformation opened #133 "Cannot perform specific action because there does not exist a valid use pool domain"
I tried this
[code]
but get this error

An error occurred (InvalidParameterException) when calling the SignUp operation: `Cannot perform specific action because there does not exist a valid use pool domain associated with the user pool`

[2017-09-18 11:31] QuantumInformation commented on #18
I solved the OP issue, but this is what I got next:
 https://github.com/AnomalyInnovations/serverless-stack-com/issues/133

[2017-09-18 12:06] QuantumInformation commented on #133
Solved, had to make a domain in app integration, should this be added to the docs?

[2017-09-18 12:06] #133 closed

[2017-09-18 13:56] QuantumInformation commented on #127
What was your solution?

[2017-09-18 13:57] QuantumInformation commented on #127
If you created the user then the password must already have been accepted.

I have the same error ATM.

[2017-09-18 17:37] samxi commented on #112
@jayair @Spartano

I removed the space before \ on my invoke command and got a new error:
`Authenticating with User Pool
Getting temporary credentials
Making API request
{ status: 403,
  statusText: 'Forbidden',
  data: { Message: 'User: arn:aws:sts::904892619278:assumed-role/Cognito_notesidentitypoolAuth_Role/CognitoIdentityCredentials is not authorized to perform: execute-api:Invoke on resource:

[2017-09-18 18:26] bharloe commented on #132
Yes

[2017-09-18 20:41] vaughanhale commented on #127
I was using the wrong value for userPoolId.

[2017-09-19 07:43] Spartano commented on #112
@samxi  the syntax of --invoke  is wrong, and double check the .yml syntax with the one from the guide.

[2017-09-19 11:50] designpressure commented on #49
@fwang I've the same 403 error. I've verified my IAM roles policy and it is exactly as requested but I still have the problem.... what should I check?

[2017-09-19 13:52] QuantumInformation opened #134 "Web version instead of PDF?"
Just to make it easier to copy-paste code?
![image](https://user-images.githubusercontent.com/216566/30595776-1424471e-9d4a-11e7-99f9-4c9fdad7e954.png)

[2017-09-19 15:48] samxi commented on #112
@jayair @Spartano

Rolling through all of the files/settings again I found a couple discrepancies and was able to get things working properly. Reading through these comments and all of your suggestions has helped me better understand the whole system and improve my troubleshooting skills.

Thank you both for your quick responses and help!

[2017-09-19 18:24] jayair commented on #132
Yeah we have gotten a few requests for this. We'll be creating one soon!

[2017-09-19 18:25] jayair commented on #133
@QuantumInformation Can you show me what you had to do to get this to work? A screenshot possibly.

[2017-09-19 18:28] jayair commented on #127
@QuantumInformation I'm not sure if you noticed this, but the userPoolId is not the user id of the user. But the ID of the User Pool itself.

[2017-09-19 18:34] jayair commented on #49
@designpressure That CORS block that you posted is the default one. The one we use in the tutorial (https://serverless-stack.com/chapters/create-an-s3-bucket-for-file-uploads.html) looks like this:

[code]

Not sure if you missed it but give that a try.

[2017-09-19 18:35] jayair commented on #134
@QuantumInformation The tutorial is web based. We just compiled it into the PDF recently. Here is the chapter you are looking for - https://serverless-stack.com/chapters/add-a-create-note-api.html

[2017-09-20 19:06] QuantumInformation commented on #133
In this section in user pools:

![image](https://user-images.githubusercontent.com/216566/30662451-0e2b8980-9e3f-11e7-9a98-3b3a2bc7ff40.png)
![image](https://user-images.githubusercontent.com/216566/30662482-24bdcd34-9e3f-11e7-8491-d0a1891bf2c2.png)

[2017-09-20 20:55] jayair commented on #133
@QuantumInformation Thanks for that. I'll take a look.

[2017-09-21 06:38] designpressure commented on #49
Yeah, that was the problem, now it uploads fine, thanks.

[2017-09-21 13:20] designpressure commented on #52
I'm facing with a strange behaviour on notesId. Currently i'm retrieving the list of notes properly (can be seen by console.log(notes) but it does not render href and key:

[code]
this is my home.js
[code]
any clue about this matter?

[2017-09-21 15:23] samxi commented on #46
I noticed that the verification code comes from noreply@verificationemail.com. Where is this address set? Not seeing it in the code so I'm guessing in AWS somewhere?

[2017-09-22 01:08] jayair commented on #52
@designpressure It could be the format `notes` are in. What does `console.log(notes)` show?

[2017-09-22 08:37] tschmidleithner commented on #15
Since serverless-stack.com updated to AWS_IAM auth, a row in a DynamoDB table contains a HASHKEY of the _cognitoIdentityId_ to link a user to a specific table entry now. I think before migrating to AWS_IAM, the HASHKEY for a table row was `context.authorizer.claims.sub`, right?

The point is that I don't see a chance now to use AWS specific fine-grained access control to restrict access to a table

[2017-09-22 09:36] designpressure commented on #52
[code]

[2017-09-22 12:50] QuantumInformation commented on #134
Great thx

[2017-09-22 12:50] #134 closed

[2017-09-22 13:06] QuantumInformation commented on #23
I get the 500 when invoking locally, maybe I should have moved this issue here:
https://github.com/AnomalyInnovations/serverless-stack-demo-api/issues/5

[2017-09-22 16:28] nvallepalli commented on #51
cannot find the existing notes.
![screenshot](https://user-images.githubusercontent.com/23063546/30754667-37b11b3a-9f89-11e7-8b22-c8d943b42cc1.PNG)

[2017-09-22 16:33] nvallepalli commented on #51
and also invoking create API works for creating notes. But, not able to create a note through the web app.
I mean I cannot find data in dynamodb table which I tried to insert using the web app.

[2017-09-22 20:52] jayair commented on #15
@tschmidleithner We do one level of this access control when we assign an IAM role to a federated identity as shown in this chapter - https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html. We use the `cognito-identity.amazonaws.com:sub` as the substitution variable for the user id.

For DynamoDB it is a bit different because the role that we use there is defined by the one we a

[2017-09-22 20:55] jayair commented on #52
@designpressure I'm not sure if it's a typo but the returned data has `notesId` but in the code we look for `noteId`.

[2017-09-22 21:01] jayair commented on #51
@nvallepalli So this chapter (https://serverless-stack.com/chapters/test-the-apis.html) worked for you. But you could not get it to work on the web? Can you check if the console is displaying any errors and if the request to create a note worked properly?

[2017-09-22 21:29] tschmidleithner commented on #15
@jayair Thanks for your fast response.

Yes, that is correct with S3 but `cognito-identity.amazonaws.com:sub` is stated in the role which is generated by Cognito Federated-Identities. But the DynamoDB table resources are invoked from lambda functions and therefore the DynamoDB policy would be stated in the lambda role. You could simply change the existing IAM lambda role with the DynamoDB table de

[2017-09-23 02:03] nvallepalli commented on #51
yeah this chapter (https://serverless-stack.com/chapters/test-the-apis.html) worked for me, but i could not get it on web.

[2017-09-23 17:23] nvamshik commented on #112
@jayair I am getting following error:
Authenticating with User Pool
Getting temporary credentials
Making API request
{ status: 403,
  statusText: 'Forbidden',
  data: { message: 'Forbidden' } }
I've tried everything (double checking my .YML file, policy, policy simulating, etc) but nothing works for me. Can you please help me with this issue? Following is my github repo:
https://github.com/nvamshi

[2017-09-23 17:34] Spartano commented on #112
@nvamshik what OS are you using?

[2017-09-23 17:37] nvamshik commented on #112
@Spartano I'm using Windows 8.1

[2017-09-23 17:50] Spartano commented on #112
Did you use the syntax for windows users from the guide? Can you paste it here please.

[2017-09-23 18:02] nvamshik commented on #112
I used the windows syntax.
apig-test --username admin@example.com --password Passw0rd! --user-pool-id us-east-1_TXj0SxE --app-client-id 3201ojaiiav0k0p5ais0op3m --cognito-region us-east-1 --identity-pool-id us-east-1:c3c3e453-c386-4e59-b689-525bebc07 --invoke-url https://knl827x1si.execute-api.us-east-1.amazonaws.com/prod --api-gateway-region us-east-1 --path-template notes --method POST --body "{

[2017-09-23 20:40] ocrickard commented on #34
This is maybe a stupid question, but at what phase was the registerServiceWorker.js file supposed to be created? I see it in the repo here for this step, but my working copy doesn't have one and I can't seem to find a mention of it in the tutorial.

[2017-09-24 01:29] jayair commented on #51
@nvallepalli Does the request to create the error succeed when you try it on the web?

[2017-09-24 01:31] jayair commented on #112
@nvamshik I'm not sure if it's a typo but the `--path-template` that we use in the tutorial is `/notes` not `notes`.

[2017-09-24 01:37] jayair commented on #34
@ocrickard This might depend on the version of Create React App you had used when you first created the project. I think the older version did not add that file. For the sake of the tutorial the file doesn't matter but it's good to update your Create React App and `react-scripts` as well if you haven't.

[2017-09-24 01:44] jayair commented on #15
@tschmidleithner Maybe you already know this but the reason why the S3 bucket in our case and the blog post that you linked to for DynamoDB need that level of security is because the clients are talking directly to those AWS resources. In the case of Lambda for the tutorial we authenticate and secure our resources before it gets there. This is why we are comfortable in giving the level access (aft

[2017-09-25 07:32] designpressure commented on #52
Oops, I've used throughout the examples ``notesId`` instead of ``noteId``... solved, thanks

[2017-09-25 08:04] designpressure commented on #63
when trying to sync I received this message
[code]
a couple of thing I don't understand:
- what is this ``?prefix=&encoding-type=url``
- why ``s3.Frankfurt.amazon`` while up to now all regions where in the form ``eu-central-1``?
As a matter of fact I don't know where to start troubleshooting... if someone can help...

[2017-09-25 08:24] designpressure commented on #63
Ok, so maybe this can help somebody else. I created the notes-app-client folder inside the notes-app-server. I thought it should inherit the login credential but it didnt, so I simply reconfigure awscli with a new accesskey and secretId.

[2017-09-26 05:30] tschmidleithner commented on #15
@jayair Yes, I know that. But beside from directly invoking the AWS resources, it made sense to me to use this built in security feature from IAM to better secure my application.

[2017-09-26 10:42] QuantumInformation commented on #112
I also get `IdentityPool not found`

Authentication is fine:

[code]

On AWS my pool is:

[code]

[2017-09-26 11:25] QuantumInformation opened #137 "Sponsors to support this"
Given this is the best tutorial to help people learn AWS + Seerverless, I think you could ask for sponsors.

[2017-09-26 11:41] QuantumInformation commented on #112
I moved the Id pool to eu-west-2 and new error: `Invalid identity pool configuration. Check assigned IAM roles for this pool.` I will investigate and report back

[2017-09-26 12:31] QuantumInformation commented on #112
this is my permissions for the role assigned to this Id pool:

![image](https://user-images.githubusercontent.com/216566/30860410-f2ad6cbc-a2be-11e7-9c1b-218b7542c135.png)

[2017-09-26 22:20] jayair commented on #15
@tschmidleithner Yeah we'd need to test it out. I'm not exactly sure why one is supported and the other isn't.

[2017-09-26 22:23] jayair commented on #112
@QuantumInformation Can you following the steps in this comment (https://github.com/AnomalyInnovations/serverless-stack-com/issues/112#issuecomment-317204545) to see what the policy is for your Identity Pool?
And post it here.

[2017-09-26 22:24] jayair commented on #137
@QuantumInformation That's a good idea. A few others have suggested something similar as well. I think I might set up a Patreon page for this.

[2017-09-27 08:36] QuantumInformation commented on #112
Sure
The Policy:

[code]
I tested the policy against the s3 bucket, but it said access is denied:
![image](https://user-images.githubusercontent.com/216566/30903623-4ae0293a-a367-11e7-8252-184c5939f68b.png)

[2017-09-27 08:37] QuantumInformation commented on #137
Patreon is a good idea, I would sign up.

[2017-09-27 08:38] QuantumInformation commented on #137
Heres where I want to get sponsors for my less well know project:

https://github.com/QuantumInformation/test-recorder#sponsors

[2017-09-27 13:05] QuantumInformation opened #138 "[For discussion] Examples of how you could move more resources into serverless"
I don't recommend this being included in the tutorial but it could be useful at the end of the tutorial to explain how things such as identity roles to be configured in serverless yaml instead of manually doing so on the AWS console.

Could also consider explaining how/if s3 buckets,cognito pool and dynamo DB inside serverless.

[2017-09-27 17:19] vmundhra opened #139 "Direct path/route to pages not working"
Hello,

When I load http://localhost:8080, the app loads but when I copy paste http://localhost:8080/signup or http://localhost:8080/login into a separate tab or even refresh while on the respective page, I get "Cannot GET /signup"

Best,
Vishal

[2017-09-27 23:55] ahansson89 opened #140 "Message or no route to /login and /signup if already logged in and already signed up"
Going throught his torturial right now. It is great.

I saw that a logged in user can still access /login and /signup even though they are already logged in. Displaying a message if logged in is easy, but I would also like to see an example on how to do conditional routing.

Here is how I show a message in the render method:
[code]

Thanks!

[2017-09-27 23:58] ahansson89 opened #141 "Set isLoading state of LoaderButton to false if incorrect username and password"
I added this inside the catch(e) of handleSubmit:

`this.setState({isLoading:false})`

[2017-09-28 03:00] ahansson89 commented on #140
Oh. Did not see that this was part of the tut: https://serverless-stack.com/chapters/use-the-redirect-routes.html

[2017-09-28 03:00] #140 closed

[2017-09-28 05:51] ahansson89 opened #142 "Forgotten Password Page"
I would love to see a forgotten password method.

[2017-09-28 05:54] ahansson89 commented on #138
#107

[2017-09-28 06:38] tommedema commented on #15
When I try to create the DynamoDB instance, it warns that I don't have privileges for auto-scaling. This does not appear to be the case in the guide.

Strange thing is, I believe I am logged in as the root user. So how can I not have permissions?

<img width="949" alt="screen shot 2017-09-28 at 14 37 46" src="https://user-images.githubusercontent.com/331833/30952513-c6af1eaa-a3ed-11e7-9d24-830ba7b

[2017-09-28 09:14] QuantumInformation commented on #138
thx mate!

[2017-09-28 09:14] #138 closed

[2017-09-28 19:19] jayair commented on #138
@QuantumInformation Yeah we are working on a chapter that we will add to the "Extra Credits" section.

[2017-09-28 19:22] jayair commented on #137
Thanks for that. Yeah I'll look into Patreon soon.

[2017-09-28 19:30] jayair commented on #112
@QuantumInformation I might be a little confused here, so your React app is able to make requests to your API but you are not able to upload files to S3?

[2017-09-28 19:33] jayair commented on #139
@vmundhra Have you completed the tutorial or are you still working through it? This should work, you can verify it by trying it @ https://demo.serverless-stack.com.

[2017-09-28 19:36] jayair commented on #141
@ahansson89 Are you referring to this line - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/containers/Login.js#L60?

[2017-09-28 19:37] jayair commented on #142
@ahansson89 Yeah I might add it as an "Extra Credit" chapter. It's weird that these are not well documented on the AWS side.

[2017-09-28 19:39] jayair commented on #15
@tommedema The auto-scaling update is recent. So I wonder if things have changed. We'll need to try it and get back to you. Thanks for letting us know.

[2017-09-28 21:07] vmundhra commented on #139
@jayair I have. My app is working, except this part. Did I miss anything? Can you point me to the page in tutorial or the code/configuration that enables this feature? Would really appreciate your help.

[2017-09-28 22:12] clarkgrg commented on #112
@jayair - I think some of these 403 and 500 errors are related to having aws profiles different than the default profile.  I've redone this backend for the 3rd time today.  First 2 goes I was not using the default profile in aws.  This last time I set the aws configuration as the default.  This time I didn't have a problem.

I hope this helps someone.  Great tutorial really learning incredible amo

[2017-09-29 08:24] QuantumInformation commented on #112
So the error i was having was due to the role not having the correct trusted entity or smth. Now I am getting:

[code]

[2017-09-29 09:01] QuantumInformation commented on #112
@clarkgrg does apig-test use your profile?

[2017-09-29 13:56] QuantumInformation commented on #112
Detailed error: I think I can fix this:

message: 'User: arn:aws:sts::180971085012:assumed-role/notes-app-api-prod-eu-west-2-lambdaRole/notes-app-api-prod-create is not authorized to perform: dynamodb:PutItem on resource: arn:aws:dynamodb:us-east-1:180971085012:table/notes',

[2017-09-29 15:21] samxi commented on #55
After completing this chapter I was getting a compile error that s3Upload was not part of awsLib.js. I took a look at the front end source in github for this chapter and noticed that method in the file there so I added it to my local file.

After this I am getting an error when trying to save my existing note with a new attachment "TypeError: Cannot read property 'BUCKET' of undefined".

Not sure

[2017-09-29 15:31] ahansson89 opened #143 ""Remember Me" option on login page"
Would be nice to have a remember me checkbox on the login page.

[2017-09-29 15:31] ahansson89 commented on #141
Yes. It was not part of the tutorial

[2017-09-29 17:07] QuantumInformation commented on #112
Ok I fixed it and its working now!

[2017-09-29 17:36] jayair commented on #139
This should work almost right after we create the routes. And we should display 404s after this chapter - https://serverless-stack.com/chapters/handle-404s.html. You could compare your `index.js` to the one from the repo (https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/index.js) and also your `package.json` to this one (https://github.com/AnomalyInnovations/serve

[2017-09-29 17:38] jayair commented on #15
@tommedema Yeah we just tested it. If you are doing this for the first time you would need to use a different option and not the **Use default settings** one. You can read more about it here - http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/AutoScaling.Console.html#AutoScaling.Console.NewTable.

We'll be updating the tutorial soon.

[2017-09-29 17:41] jayair commented on #112
@QuantumInformation Do you mind leaving a comment saying what the issue you were seeing was and what you fixed. I think it'll help other folks. Thanks.

[2017-09-29 18:06] jayair commented on #55
@samxi Hmm it sounds like you missed the start of this chapter? https://serverless-stack.com/chapters/upload-a-file-to-s3.html. We add the `s3Upload` method there. I have a feeling you might have missed some steps here.

[2017-09-29 18:08] jayair commented on #143
@ahansson89 Hmm.. the app does this by default. This is because of the way we are handling the sessions. We refresh the session when the app loads. Maybe you are seeing something different or maybe it isn't working for you?

[2017-09-29 18:10] jayair commented on #141
@ahansson89 It's here in this chapter - https://serverless-stack.com/chapters/give-feedback-while-logging-in.html.

[2017-09-29 18:10] ahansson89 commented on #143
I am thinking more like a checkbox that makes it optional to remember the session if the browser is closed and session is ended

[2017-09-29 18:16] QuantumInformation commented on #112
Will do, btw I'm live streaming this tut: https://go.twitch.tv/quantuminformation#

[2017-09-29 18:19] jayair commented on #15
@tommedema Updated with the new instructions - https://github.com/AnomalyInnovations/serverless-stack-com/pull/144.

[2017-09-29 18:25] jayair commented on #143
Right, yeah I see what you are saying.

[2017-09-29 18:26] jayair commented on #112
@QuantumInformation That's awesome. I'm going to tweet it out.

[2017-09-29 18:32] QuantumInformation commented on #112
to fix my error I just had to update the policy file with the new location of the dyn DB table as it was the wrong region.

[2017-09-30 17:12] clarkgrg commented on #112
I don't believe apig-test uses your profile.  I think only serverless deploy.  If you use profiles serverless deploy has a --profile (or --profile-name) option, but I struggled to get that going.

[2017-10-04 13:09] rafapetter commented on #115
@jayair I'm sorry for the long delay.

To your question, yes I do. I was just trying to avoid an additional query on DynamoDB for every call made to the API.

I'm currently reading into the newest updates from your tutorial. The session expiration was definitely a hard problem, thanks for finding a solution.

[2017-10-05 21:53] QuantumInformation commented on #49
Note if you get an error that says AccessDenied, your police for the auth role is likely incorrect, for me it was the wrong bucket setting.

[2017-10-05 21:55] QuantumInformation commented on #113
Anyone know why AWS passes over to the user all this complexity (signing etc) instead of handling it with the sdk, kinda like what firebase does? I'm sure there are good reasons.

[2017-10-05 22:00] QuantumInformation commented on #50
Can we close this?

[2017-10-06 10:09] QuantumInformation opened #145 "[future ideas] social networking"
Might be interesting on how to allow users to see each other's notes. Could borrow some ideas from https://github.com/Qolzam/react-social-network

[2017-10-06 10:11] QuantumInformation commented on #145
Although I don't think dynamo db would be enough for this, probably SN stuff would need to sit on RDS + psql

[2017-10-06 10:12] QuantumInformation commented on #132
Its tricky cause the issues are better for google indexing.

[2017-10-06 13:46] QuantumInformation commented on #107
@AcidLeroy How would you create the s3 bucket for serving the site in your yaml?

[2017-10-06 15:29] QuantumInformation commented on #63
Don't forget to use `--profile personal` when uploading if you have profiles otherwise you will get

[code]

[2017-10-06 16:55] jayair commented on #50
@QuantumInformation You mean this issue? It's the comments thread for this chapter.

[2017-10-06 17:01] jayair commented on #145
@QuantumInformation We have been thinking about how to extend this into other concepts. I'll take a look at the repo.

[2017-10-06 17:02] QuantumInformation commented on #50
oops, sorry )

[2017-10-06 17:54] jayair commented on #132
Yeah it definitely easier to find and reference.

[2017-10-06 18:00] QuantumInformation commented on #145
One of the things I've been trying to decide is whether to extend this into a social network for my own use by using more dynamo tables or RDS.

I could imagine using dynamo as follows:

A user profile table (unless I can store arbitrary info in the user pool)

{profileID, customField1 etc}

But I'm not to share how to structure a table to map user profiles to other user profiles.

I also would ne

[2017-10-06 18:11] jayair commented on #113
@QuantumInformation I think the Firebase equivalent would be if you used the Cognito User Pool on it's own and instead of IAM as the authorizer use the User Pool as the authorizer. Unfortunately you still need to work with IAM roles and such when you need to work with S3 or other AWS resources.

One of our older versions covers this setup - https://59caadbd424ef20abdc342b4--serverless-stack.netlif

[2017-10-06 21:53] QuantumInformation commented on #113
lol I thought we used the User Pool as the authorizer

[2017-10-06 22:38] jayair commented on #113
@QuantumInformation AWS is pretty confusing but I should have been more clear, we are using IAM as an authorizer for API Gateway. But to talk to API Gateway we generate a set of temporary credentials through Cognito Federated Identities where the User Pool is the authentication provider.

[2017-10-06 22:39] jayair opened #146 "Comments: API Gateway and Lambda Logs"
Link to chapter - https://serverless-stack.com/chapters/api-gateway-and-lambda-logs.html

[2017-10-06 22:39] jayair opened #147 "Comments: Debugging Serverless API Issues"
Link to chapter - https://serverless-stack.com/chapters/debugging-serverless-api-issues.html

[2017-10-06 22:39] jayair opened #148 "Comments: Serverless environment variables"
Link to chapter - https://serverless-stack.com/chapters/serverless-environment-variables.html

[2017-10-06 22:39] jayair opened #149 "Comments: Stages in Serverless Framework"
Link to chapter - https://serverless-stack.com/chapters/stages-in-serverless-framework.html

[2017-10-06 22:40] jayair opened #150 "Comments: Configure multiple AWS profiles"

[2017-10-07 00:00] teejK commented on #40
Hey, I'm new to javascript, so maybe this is a noob question.
But, we seem to define componentDidMount without calling it?

Do async class methods get called automatically? I can't seem to suss out where it gets called.

[2017-10-07 01:38] jayair commented on #40
@teejK No worries. Yup part of the React component lifecycle.

[2017-10-07 08:28] QuantumInformation commented on #137
Good work, I signed up.

[2017-10-07 08:28] #137 closed

[2017-10-07 22:36] jayair commented on #137
@QuantumInformation Thanks for the support and the idea itself!

[2017-10-08 08:33] QuantumInformation commented on #46
When a user signs up I get this screen

![image](https://user-images.githubusercontent.com/216566/31315194-532f84ee-ac0b-11e7-8396-3adbbdb741d5.png)

But I get an email link instead:

![image](https://user-images.githubusercontent.com/216566/31315209-8c26dd9c-ac0b-11e7-833c-4d99c2f9cbd6.png)

which takes me to this page

![image](https://user-images.githubusercontent.com/216566/31315211-962e8290-a

[2017-10-08 08:42] #132 closed

[2017-10-08 14:14] triunm commented on #71
This is the best material to get started w/ serverless in aws. Thank you guys!

[2017-10-09 10:44] QuantumInformation commented on #46
I rechecked my pool with the advice in https://serverless-stack.com/chapters/create-a-cognito-user-pool.html but it seems the same to me.

[2017-10-09 12:47] QuantumInformation opened #152 "[Offer videos] Youtube"
I was thinking of making some videos to give an overview of this project if you think that would be useful.

https://www.youtube.com/c/quantuminformation

[2017-10-09 14:32] QuantumInformation commented on #80
I could be a lot of work to keep this uptodate with redux.

[2017-10-09 23:10] jayair commented on #46
Hmm can you check this setting?

<img width="1024" alt="screen shot 2017-10-09 at 7 06 20 pm copy" src="https://user-images.githubusercontent.com/53023/31362215-51c8cb18-ad25-11e7-88fe-4002329a67d3.png">

It should have defaulted to **Code** instead of **Link**.

[2017-10-09 23:12] jayair commented on #152
@QuantumInformation Yeah totally, we would love to feature them on here somehow.

[2017-10-09 23:13] jayair commented on #80
Yeah I agree, I think doing an "Extra Credit" chapter on it could work or we could link to a repo that has a Redux version put together.

[2017-10-10 08:53] sean9keenan commented on #108
Regarding this change, the size of the bundle was driving me a bit nuts - so I went and figured out how to minimize the bundled size of the aws-sdk. It should shave off over half of the size of the application bundle.

https://github.com/AnomalyInnovations/serverless-stack-demo-client/pull/15

[2017-10-10 13:21] zacacollier commented on #113
@jayair first of all thank you for writing this section, it is super helpful. I was surprised at how hard it was to find a straightforward, pluggable solution for signing requests on the client (most of what I came across was intended for serverside use)

just wanted to point out that the rawgit link to the *sigV4Client.js* is out of date, I encountered an issue while trying to sign a request, but

[2017-10-10 20:25] aidaamp commented on #112
@jayair @marshallbunch I was able to run the apig-test on Windows PowerShell. I used the following code and it worked:
apig-test --username admin@example.com --password Passw0rd! --user-pool-id YOUR_COGNITO_USER_POOL_ID --app-client-id YOUR_COGNITO_APP_CLIENT_ID --cognito-region YOUR_COGNITO_REGION --identity-pool-id YOUR_IDENTITY_POOL_ID --invoke-url YOUR_API_GATEWAY_URL --api-gateway-region YOUR

[2017-10-10 22:43] JohnTigue commented on #45
Excellent work on this tutorial. Really, a classic.

I made it all the way to this chapter before any hiccups, and admittedly this is a small one. The follow is where things went ever so slightly wrong:

There is no `123456` and I don't see from the code how there could but this is my first React experience so what do I know.

Nonetheless, I ignored the above and moved on to the next chapter witho

[2017-10-11 15:29] TomYeoman opened #153 ""serverless deploy" command fails"
I'm unable to progress past chapter : https://serverless-stack.com/chapters/deploy-the-apis.html

![image](https://user-images.githubusercontent.com/14075632/31450402-3a95dc88-aea1-11e7-8c6b-f37ecd198fff.png)

OS: Windows 10
Node version : 8.0.0

No idea what this error is about, could any one help?

e/ Upon retrying to with node v6.1.0 this works fine, perhaps disclaimers should be included if it

[2017-10-11 17:13] jayair commented on #113
@zacacollier Thank!

For the *sigV4Client.js*, I'm not sure I see the issue you are talking about because that file has never been edited (if you check the history, https://github.com/AnomalyInnovations/serverless-stack-demo-client/commits/master/src/libs/sigV4Client.js). I wonder what didn't work for you.

[2017-10-11 17:21] jayair commented on #45
@JohnTigue Ah, I see what you mean. Yeah it's not very clear from the instructions there. But you as a user, can ensure that the form sorta "works" by filling out the fields and typing in a confirmation code (in the screenshot I used `123456`) and hitting enter.

[2017-10-11 17:27] jayair commented on #153
@TomYeoman That's a weird issue. I'm personally using Node 8.4.0 and a bit of searching turned this up - https://github.com/serverless/serverless/issues/3723.

So it's a Node related issue I'm guessing.

[2017-10-11 23:51] bharloe commented on #52
The end of this page is a bit unclear where it says "And if you click on the links they should take you to their respective pages". After completing this page should I be able to click on the note and go to a  new page? Currently for me the notes are displaying fine however if I click one is routes me to http://localhost:3000/notes/undefined, not to the notes' respective pages. Is that an error on

[2017-10-12 12:19] elnbado commented on #46
In   handleSubmit = async event =>

I get the following Warning when calling:
  this.setState({
        newUser: newUser
          });

Warning: Can only update a mounted or mounting component. This usually means you called setState, replaceState, or forceUpdate on an unmounted component. This is a no-op.

Please check the code for the Signup component.

Anyone else has this problem? Any ideas to

[2017-10-12 18:40] jayair commented on #46
@elnbado This happens usually when you make the `setState` call after you move away from the page. Is your app redirecting after you hit the Signup button?

[2017-10-12 23:34] lbybill commented on #22
I need help on: I am using ubuntu 16.04
$ serverless invoke local --function create --path mocks/create-event.json
Serverless: Bundling with Webpack...
Time: 587ms
    Asset  Size  Chunks             Chunk Names
create.js  5 kB       0  [emitted]  create
   [0] ./create.js 2.16 kB {0} [built]
   [1] external "babel-runtime/core-js/json/stringify" 42 bytes {0} [not cacheable]
   [2] external "uuid"

[2017-10-13 08:06] TomYeoman commented on #153
Oh yeah, good spot @jayair, I'll close this and update the post then, so it's just node 8.0 that's the issue then how strange.

Well if anyone could close this ticket and perhaps look to update that chapter with a warning about node 8.0 that would be great :)

[2017-10-13 08:06] #153 closed

[2017-10-13 16:27] QuantumInformation commented on #152
Ok hope to make some starting next week.

[2017-10-13 17:02] jayair commented on #22
@lbybill What's the issue?

[2017-10-13 17:03] jayair commented on #152
Looking forward to it!

[2017-10-13 18:03] lbybill commented on #22
@jayair The process stops here. I thought this, "[not cacheable]", is a error.

[2017-10-13 18:30] jayair commented on #22
@lbybill Oh no those messages are fine. But it looks like your `create` function did not print anything out. Have you completed this chapter - https://serverless-stack.com/chapters/add-a-create-note-api.html?

[2017-10-13 18:54] lbybill commented on #22
@jayair Yes. I followed and finished this chapter.

[2017-10-13 19:44] jayair commented on #22
@lbybill You can follow the `console.log` to debug what is going on. We talk about it briefly at the bottom the chapter - https://serverless-stack.com/chapters/add-a-create-note-api.html#common-issues.

[2017-10-13 23:01] lbybill commented on #22
@jayair I got this error. I am behind a firewall. I setup proxy already.
aws dynamodb scan --table-name notes --region us-east-2 in command line works for me.
I am wondering if sls need proxy too?
{ [TimeoutError: Connection timed out after 120000ms]
  message: 'Connection timed out after 120000ms',
  code: 'TimeoutError',
  time: Fri Oct 13 2017 15:01:17 GMT-0700 (PDT),
  region: 'us-east-2',
  h

[2017-10-14 07:42] copperspeed commented on #51
How is `this.props.isAuthenticated` set? It's always undefined for me? I do have a token but when console.log `this.props`. `isAuthenticated is not there.

[2017-10-14 22:30] jayair commented on #22
@lbybill I haven't come across this error before but on local the AWS SDK is being used to make calls to DynamoDB. So technically if the AWS CLI works then this `sls invoke local` should work as well. At least I think it should.

[2017-10-15 02:03] jayair commented on #51
@copperspeed It's set in these chapters - https://serverless-stack.com/chapters/add-the-session-to-the-state.html & https://serverless-stack.com/chapters/load-the-state-from-the-session.html. It's pretty much right at the beginning.

[2017-10-16 03:21] tmaxxman commented on #48
For future readers... I also had the "Failed to fetch" CORS issue.  It seems like this can be caused by any issue with the inputs provided to sigV4Client or a misconfigured Serverless deployments.  sigV4Client is a bit tricky b/c it will always sign your requests with the information you provide it, even if that is the wrong information.  I was able to debug my situation by returning to the "Test

[2017-10-16 15:15] QuantumInformation commented on #152
Here it is.
https://www.youtube.com/watch?v=IeWWkhNX79I

[2017-10-17 17:09] jayair commented on #48
@tmaxxman Thanks for sharing your debugging details. It'll be pretty helpful.

[2017-10-17 17:24] jayair commented on #152
@QuantumInformation This is really good. I think the video format helps people get more comfortable with the concepts in a way the text based version cannot.

Definitely going to add a link to it from the homepage and we'll send it out to everybody via the newsletter.

Thanks for making these!

[2017-10-17 17:52] QuantumInformation commented on #152
happy to help

[2017-10-17 17:52] #152 closed

[2017-10-17 18:37] jayair commented on #152
@QuantumInformation Also, let me know when you post the second part of the series.

[2017-10-17 19:48] fwang commented on #152
@QuantumInformation Awesome video! You covered many nitty gritty details that wouldn't be possible otherwise through the pure textual format. This is a great supplement to the current tutorial.

[2017-10-17 22:55] triunm commented on #38
Great tutorial! I've been through all the content and now building my app by customising the code produced in this tutorial. I just have question on how we can dynamically configure the app to use specific config.js file for different stages. I'm using the created config.js in this tutorial for production environment. Config.js should be different on dev or test environment like the user pool & ap

[2017-10-18 07:18] tommedema commented on #113
Hi all. I'm confused as to why we need to deal with IAM role creation and Policy Documents like these:

[code]

Isn't serverless.com supposed to take care of this complexity, and automatically create and assign roles when necessary?

My biggest pain in following the guide is how specific it is to AWS and how much knowledge is required on the specifics on AWS services. I had expected these to all b

[2017-10-18 07:39] bestwestern commented on #90
Thank you very much for this. I am looking for a way to preload some routes (without react-loadable).
Right now I simply call
`    componenDidMount(){
          import("./containers/Login"));
}`
which seems to do the trick

[2017-10-18 09:51] QuantumInformation commented on #113
You'll never be able to completely abstract away AWS otherwise you will end up with more complexity. My next video will cover this policy file as it isn't that hard once you get it.

[2017-10-18 14:10] QuantumInformation commented on #152
thanks @fwang

[2017-10-18 17:00] Kalaborative commented on #23
Still stuck on the `SyntaxError: Unexpected token import` error... Not sure what it could be, I've updated everything. It honestly doesn't even look like serverless ran at all, it just spits out this error:

`(function (exports, require, module, __filename, __dirname) { import uuid from "uuid";
                                                              ^^^^^^

SyntaxError: Unexpected token impo

[2017-10-19 05:23] tommedema commented on #35
@jayair would it be an idea to elaborate on this more? Honestly I find it rather confusing that we are defining a `Route` in a place where we are actually needing a `Link`? The only difference with this `Route` and the ones in the Router are that this one has a `children` parameter and the others have a `component` parameter. But why does this make sense and why not use a `Link`? We're trying to l

[2017-10-19 13:47] tommedema commented on #64
This seems like a deal-breaker for production / corporate purposes. Instead of saying there is no way around this, perhaps we should explore serverless alternatives to using cloudfront + S3?

For example, what about serving the application directly from Lambda with a simple node HTTP server?

[2017-10-19 15:58] sashafklein commented on #23
First off, thanks so much for the **amazing** tutorial. SOOO helpful. Really a great intro to this set of technologies. I used to teach web dev online, and I am **really** impressed by how well you guys have put this together.

-------------------

I'm running into a weird/problematic error in an app that uses an API modeled directly off of this one. This is the first chapter suggesting the patter

[2017-10-19 17:23] jayair commented on #38
@triunm I was planning on writing on this but a simple way to handle this is as follows.

In your `config.js` use something like this:

[code]

And in your `package.json` set your scripts as:

[code]

You can extend this idea to have other environments. This is based on the idea of [custom environment variables in Create React App](https://github.com/facebookincubator/create-react-app/blob/master/

[2017-10-19 17:35] jayair commented on #113
@tommedema It's an interesting thought for sure. One of the unwritten aspects of the serverless approach is that you are investing more in the specific cloud provider's services and methods.

Serverless Framework (or potentially any other framework) could abstract these out but then you'll be relying heavily on which features of the cloud provider they expose to you. Serverless Framework has decid

[2017-10-19 17:44] jayair commented on #35
@tommedema Yeah I can expand on this in the chapter. The issue partly is that in React Router v4, the `Route` component is used for conditional rendering and not just registering a route.

[2017-10-19 18:00] jayair commented on #64
@tommedema It depends what your client side app is for. If your app is a dashboard and the "routes" are purely for client side use then this isn't as much of an issue. However, if you are using it to serve content publicly then using a Create React App is probably not the best solution anyway.

Lambda + HTTP does work for cases but you need to decide if a cold start is okay for your use case.

For

[2017-10-19 18:17] jayair commented on #23
@sashafklein This should not really happen. One way to check what is going on is to look up the users you have in your User Pool and the Identity Pool. And use the login credentials to see which User Pool user is being picked up. At the same time use the `event.requestContext.identity.cognitoIdentityId` to look up Identity Pool user that it is picking up.

Also, I'd be curious to hear what https:/

[2017-10-19 18:41] bharloe commented on #64
@jayair Could you explain why Create React App is not a good solution for serving content publicly? I can't really think of any deal breakers. Maybe it would be good to have a "use cases" page for this serverless stack?

[2017-10-19 23:56] jayair commented on #64
@bharloe That's a good point. We cover a specific use case for building a client side app in React but we are noticing more folks extending the use cases.

For public content pages, SEO would be my biggest concern (even though Google does index client side JS). I would feel more comfortable using some sort of a static site generator (like [Gatsby](https://www.gatsbyjs.org) perhaps).

I'm not sure

[2017-10-20 03:33] millergd commented on #46
For some reason, my signup() method did not work until I added an attribute list to the userPool.signUp() call. Is this out of date?

this is what my working code looks like:
`signup(email, password) {
        const userPool = new CognitoUserPool({
            UserPoolId: config.cognito.USER_POOL_ID,
            ClientId: config.cognito.APP_CLIENT_ID
        });
        const attributeList = [];

[2017-10-20 04:40] tommedema commented on #64
@jayair Gatsby is a good recommendation. I'll give it a go.

[2017-10-20 06:23] tommedema commented on #49
Talking about security and validation: currently the size based validation is only running on the frontend:

[code]

[2017-10-20 06:46] tommedema commented on #53
Is there any reason why some async functions are not defined as async. Is this deliberate?

I.e.

[code]

instead of

[code]

[2017-10-20 12:22] QuantumInformation commented on #152
Next video guys: https://www.youtube.com/watch?v=dnD_f_brSao

[2017-10-20 16:32] dbeja commented on #41
I'm logging in with Facebook using the federated user pool.
Do you know how do I clear the session for this pool?

Thanks

[2017-10-20 16:39] dbeja commented on #20
I was able to add Google/Facebook login using the federated user pool but I'm finding hard how do I clear the session or how do I check if user is logged in using the Identity pool.
Anyone found out how to do it?

Thanks!

[2017-10-20 16:51] jayair commented on #46
@millergd The tutorial had been updated a while back to set the email as the username in the User Pool. This makes it so that you don't have to set the attribute. You can read more about it here - https://github.com/AnomalyInnovations/serverless-stack-com/issues/123.

[2017-10-20 17:03] millergd commented on #46
@jayair yeah it looks like I was using an older version of the tutorial and setting up the userpool different.

However, I don't really understand the changes. Can you clarify what was the norm before and after the update?
[code]

[2017-10-20 17:24] jayair commented on #152
@QuantumInformation Nice! Do you have a sense of how many videos there are going to be?

[2017-10-20 17:31] QuantumInformation commented on #152
Prob another 2 or 3

[2017-10-20 17:33] jayair commented on #41
@dbeja I'm not entirely sure which pool you are talking about. By federated user pool do you mean federated identities?

[2017-10-20 17:37] jayair commented on #20
@dbeja There isn't really a concept of logging in to the Identity Pool. We use the AWS JS SDK on the frontend to generate temporary credentials for a user pool authenticated user. And using these temporary credentials we are able to make calls to our AWS services.

When a user logs out we clear these credentials here - https://serverless-stack.com/chapters/clear-aws-credentials-cache.html

[2017-10-20 17:43] dbeja commented on #20
Yes, but when I use an Identity Pool, instead of a Cognito User Pool, so that I can login with Facebook, I get my credentials in a different way (AWS.CognitoIdentityCredentials), so I don't have the object CognitoUserPool (because it's for a User Pool) and so I don't have the signout method.

What I need is to login on my application with social login and Identity Pool allows me to do that but I d

[2017-10-20 18:04] jayair commented on #53
@tommedema Not all functions that return Promises need to be marked as async. The better way to think about this is; mark a function as async if you need to use await, as that is the purpose of the async keyword.

There are other advantages to doing things this way, especially if you intend to act on those promises differently. But in the case we aren't doing anything special with the promise, so

[2017-10-20 18:43] jayair commented on #49
@tommedema Yeah we don't cover this in detail but I think we could. There is a way to limit this but not through the policy that you set in the AWS Console. Instead you've to generate a pre-signed with the `content-length-range` header.

[2017-10-20 18:48] jayair commented on #20
@dbeja I know folks that have extended the tutorial to use social logins and we might cover it in the future. But if you are using a separate identity provider then you would need to use their SDK to get the user info and to clear the session.

[2017-10-20 18:54] jayair commented on #46
@millergd Yeah the issue with setting the email as the username manually (as we were doing before) was that the username in Cognito cannot be changed. So you would need to work around this in case your users need to change their email.

But with the new email as username setting that's been introduced recently, the User Pool sets a unique string as the username internally. This allows you to chang

[2017-10-20 22:16] KelpDuNord commented on #18
aws cognito-idp admin-confirm-sign-up --region us-east-1 --user-pool-id us-east-1_fdlHwCS7x --username admin@example.com just returns "User pool us-east-1_fdlHwCS7x does not exist." I can see the user created with aws cognito-idp sign-up in the user pool with a status of UNCONFIRMED. I've recreated the user pool three times with the same result.

[2017-10-20 22:28] QuantumInformation commented on #18
You probably created the pool in the wrong region.

[2017-10-20 22:34] bharloe commented on #64
@jayair I see, yeah those are important considerations. As someone who was coming at this with more serverless experience and basically zero react experience these problems are news to me, and I would really appreciate a page that explains potential pitfalls like this somehow. But overall I love this tutorial (seriously, one of the best I've ever taken), and I know you have to draw the line somewh

[2017-10-21 01:51] dailenspencer commented on #114
@CharithW @jayair Any luck on this? i'm having the same issue in my app.

[2017-10-21 01:51] dailenspencer commented on #114
@CharithW @jayair Any luck with this? I'm having the same issue as well.

[2017-10-21 07:04] tommedema commented on #49
@jayair I don't understand. The headers would still be controlled by the client, and therefore cannot be trusted. The enforcement necessarily has to come from the server-side. Since we don't have a server, the only way (from my perspective) would be to define it in a policy document. Am I missing something?

[2017-10-21 09:07] tommedema opened #155 "Infrastructure as code"
I have written this down more elaborately on [StackOverflow](https://stackoverflow.com/questions/46861678/serverless-framework-ways-to-achieve-full-infrastructure-as-code), but am curious about your view on this.

There is a lot of manual clicking in GUIs (mostly Amazon's console interface) involved when setting up the infrastructure of this app. I.e. the setup is not version controlled and is not

[2017-10-21 11:13] tomekrychtyk commented on #155
Maybe AWS CloudFormation would be a good place to start looking for a solution for this? Although it's quite a huge topic...

[2017-10-21 13:26] mikepatrick commented on #155
Documenting this would be an excellent addition to the tutorial.  Perhaps a section under "Extra Credit", explaining how[ `resources` and CloudFormation](https://serverless.com/framework/docs/providers/aws/guide/resources/) can help us define even more of our infrastructure as code?

[2017-10-21 23:33] jayair commented on #18
@KelpDuNord Hmm that's really weird. So `aws cognito-idp sign-up` works but `aws cognito-idp admin-confirm-sign-up` does not work?

[2017-10-21 23:45] jayair commented on #64
@bharloe Thanks!

Yeah the app we are creating in the tutorial is rendered completely on the client side. But React does support server side rendering as well. So when you request a URL it responds with the complete content as the HTML (as opposed to returning the bare minimum HTML and making API requests after). And I know Google does execute client side JS (I think Bing doesn't) and I wouldn't f

[2017-10-21 23:51] jayair commented on #114
@dailenspencer I think this is an import related issue. Can you compare your `awsLib.js` and `sigV4Client.js` to the one in the tutorial - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/awsLib.js & https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/sigV4Client.js.

[2017-10-21 23:59] jayair commented on #49
@tommedema It does require an API on the backend to sign these headers. Here is one way AWS docs show this - https://aws.amazon.com/articles/browser-uploads-to-s3-using-html-post-forms/.

[2017-10-22 00:06] jayair commented on #107
@QuantumInformation Just noticed your comment. This section that @AcidLeroy has is only for the backend and is created when you run `serverless deploy`. You could add the React part here as well but it might be better to have that in a separate stack, just to separate things.

[2017-10-22 00:07] jayair commented on #155
Yeah this is definitely on the list. A couple of our readers have taken some swipes at it - https://github.com/AnomalyInnovations/serverless-stack-com/issues/107.

The reason why we haven't done it yet is because CloudFormation does not support the "Email as Username" setting that we use in the Cognito User Pool. It's a new feature and I guess it hasn't been added yet. Though AWS is usually pretty

[2017-10-22 00:37] bharloe commented on #107
@QuantumInformation You might try using cloudformer to figure that out

[2017-10-22 00:41] dailenspencer commented on #114
@jayair

sigV4Client.js is identical. My application is being used differently that this tutorials purpose so its hard to compare awsLib.js to my file. I've added you as a collaborator to the project. If you want, take a look at helpers/aws/index.js  <- this is the only other file thats calling the aws functions in a similar fashion. The error only occurs every so often :/

[2017-10-22 02:36] jayair commented on #114
@dailenspencer Hmm I don't see the invite for some reason. Can you check the version of `react-scripts` in your `package.json`?

[2017-10-22 02:45] dailenspencer commented on #114
@jayair I dont have react-scripts in my package.json. Adding that now and will update you. Here is the invite link

https://github.com/dailenspencer/Element/invitations

[2017-10-22 03:00] dailenspencer commented on #114
react-script installation didnt have an effect

[2017-10-22 09:29] chaosdarky commented on #112
Can someone help me? I'm not sure where did I go wrong but when I run apig-test, I'm getting a 500 error failed status. Upon checking the console log, i'm getting this  validation error:

  message: 'One or more parameter values were invalid: Type mismatch for key userId expected: S actual: NULL',
  code: 'ValidationException',
  time: Sun Oct 22 2017 09:17:00 GMT+0000 (UTC),
  requestId: 'G4GBGG9

[2017-10-22 14:27] HeyMarcy commented on #18
This is my second attempt and I get the same error:
`An error occurred (IncompleteSignatureException) when calling the AdminConfirmSignUp operation: 'key' not a valid key=value pair (missing equal-sign) in Authorization header...`

[2017-10-22 14:59] jayair commented on #112
@chaosdarky Is it the `event.requestContext.identity.cognitoIdentityId` that is null for you? Can you try to `console.log` and check which part of the event object is null?

[2017-10-22 15:54] akolybelnikov commented on #26
Thank you for the great material! It's very easy to follow and understand.
However, I am getting status 500 with the update API and I cannot find where the error is coming from because all I get to see in response is "status":"false". All other API are working and I can create, delete and list the mocked objects.

[2017-10-22 16:51] akolybelnikov commented on #28
I'm getting all kinds of errors whily trying to run the ```serverless deploy``` command. If I set the"SLS_DEBUG=" env var to ```true```, I can see a WARNING in the log:
[code]
All errors start with:
```ENOENT: no such file or directory ...``` followed by various file paths.
Has enyone already encountered that and how to deal with this isse?

[2017-10-22 23:27] sashafklein commented on #23
Thanks @jayair! I'll be sure to update you if/when I hear back. It is weird. There are only 4 users in my user pool, and the creds connecting each local developer to the right user/identity pools are identical, because the file with the creds is checked into source control. That's also how I'm accessing the cognitoIdentityId, so it looks like I'm not grabbing the wrong attribute. May have somethin

[2017-10-23 12:39] akolybelnikov commented on #28
I have resolved this issue by going over to Windows: I have tried to deploy on WSL first.

[2017-10-23 12:49] akolybelnikov commented on #112
Would someone help to debug an error? I have tried debugging, going through the whole process time after time, searching for solutions with AWS forums, but I'm still stuck on this one. I am getting
[code]
response. here is the error from the log:
[code]
(I have called my table and the app differently than in the tutorial).
What am I missing and where is this coming from? The API are working locall

[2017-10-23 12:52] chaosdarky commented on #112
@jayair yes, the event.requestContext.identity.cognitoIdentityId is null. I tried to console log the event and the cognitoId there is null.

[2017-10-23 17:23] lucasgonze commented on #18
Thanks for this discussion. It led me to the solution. I looked up the correct region by going to the Cognito home page (e.g. at https://us-east-2.console.aws.amazon.com/cognito/home), clicking "Manage your user pools", selecting the user pool I created for the tutorial, and looking at the Pool ID.

[2017-10-23 17:49] KelpDuNord commented on #18
I just tried again, and yes, the signup worked but confirm did not. After running aws configure (I may have missed this before?), the confirm was successful.

[2017-10-23 20:44] akolybelnikov commented on #112
I resolved the AccessDeniedException by attaching a new inline policy for DynamoDB to my lambda function. The response status is 200 now.
However, the issue with the status: 502 persists. I'm pretty sure that I have the same callback as in the tutorial and parsing JSON, but I am having the ```Execution failed due to configuration error: Malformed Lambda proxy response``` in the CloudWatch and cann

[2017-10-24 20:55] lucasgonze commented on #23
I am one of the people getting a 500. I have debugged the issue and found that if I change the parameter noteId to noteID the issue goes away. Since the source for the "noteId" version is the canonical stuff in https://serverless-stack.com/chapters/add-a-create-note-api.html, this is a mite confusing. Any ideas would be welcome.

[2017-10-24 21:29] lucasgonze commented on #23
Found it - the field was mistyped in DynamoDB as noteID rather than noteID.

[2017-10-25 06:03] sanjosedennis7593 commented on #110
Hi,

I already did the facebook login, i just want to asked, how to handle session using facebook login? What i mean is that when i refreshed the page, it will maintain the session state of the current user.

[2017-10-25 17:04] jayair commented on #18
@KelpDuNord Thanks for reporting back. Can you tell me what you set in the `aws configure` command?

@lucasgonze Thanks for sharing your experience.

@HeyMarcy Can you show me the full command you used?

[2017-10-25 17:07] jayair commented on #23
@lucasgonze Ah yeah, that is an annoying issue.

[2017-10-25 17:07] jayair commented on #110
@sanjosedennis7593 Are you using the FB SDK?

[2017-10-25 17:32] jayair commented on #112
@akolybelnikov That usually happens when the response object is not formatted properly. You can debug this by logging what this line returns - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/create.js#L20.

[2017-10-25 20:40] bbskuo commented on #19
Hi - I see documentation for the authenticated user policy but not for the unauthenticated user. Is there a specific setup for that? Thanks!

[2017-10-25 21:03] jayair commented on #19
@bbskuo For this tutorial, the app and it's resources are behind a login. That's why we only show the authenticated user policy here.

[2017-10-26 02:13] MatthewTighe commented on #112
Re: Unexpected input for JSON body argument on Windows. Here's what worked for me:

'{\"content\":\"hello-world\",\"attachment\":\"hello.jpg\"}'

Doesn't seem to like the space in 'hello world'. I'm sure there's a way to escape it though.

[2017-10-26 05:16] ahansson89 opened #157 "Edit user page"
I would love to see an example on how to edit userdata, such as email, address, phone number as well as a custom field, like favorite color.

The reason that I would like this example is to do more comprehensive stuff with the Cognito user table.

[2017-10-26 06:11] sanjosedennis7593 commented on #110
Yes, i'm using FB SDK, once i logged in, i get the credentials using the AWS.config.credentials, unfortunately, when i tried to refresh the page, it clears the value in the AWS.config.credentials object.

[2017-10-26 17:01] jayair commented on #157
@ahansson89 Yeah I can see that as a good topic for an "extra credit" chapter.

For the time being, if you want to use the attributes in Cognito the **Use case 8** in this page can help you https://github.com/aws/amazon-cognito-identity-js.

[2017-10-26 17:05] jayair commented on #110
This is true even for our current tutorial. We call `authUser` every time the page is refreshed - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/App.js#L21.

I think you'll need to do the same for FB. Check if the user is logged in using FB when the page loads and get a set of temporary credentials.

[2017-10-26 17:10] #110 closed

[2017-10-27 20:45] akolybelnikov commented on #112
@jayair While testing locally, it returns the 200 status like so:
[code]
It's when I'm testing it remotely that I get this back:
[code]
The thing is that the data is being posted in the DynamoDB: I can see it. I have tried a lot of things, but I cannot get to the root of the problem. What's the way to see what exactly causes this behaviour? I don't get to see much more info at the CloudWatch eithe

[2017-10-27 21:22] jayair commented on #112
@akolybelnikov So using a `console.log` before the data is returned does not show anything in the CloudWatch logs?

[2017-10-27 21:27] akolybelnikov commented on #112
Hi @jayair
here's what I get in CW:
[code]
[code]
[code]
[code]
It's 200 followed by 502.

[2017-10-27 21:35] jayair commented on #112
@akolybelnikov If you check the tutorial, the `headers` need to be a JSON object not a string - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/libs/response-lib.js#L12

[2017-10-27 21:38] akolybelnikov commented on #112
@jayair I must have have changed that line trying to reformat the code, and didn't change it back. I have changed the line back to the JSON object, it doesn't change anyhting, still getting the 502. We don't have to re-deploy once we change the code locally, do we?

[2017-10-27 22:54] akolybelnikov commented on #112
issue resolved. I did not re-deploy after local changes. what was I thinking? don't ask me. getting proper response now.

[2017-10-29 05:36] chaosdarky commented on #112
Hi, i’m still getting the error. Hope someone can help to debug it.

[2017-10-29 13:58] leonardreidy commented on #23
For anyone experiencing a persistent 500 error, the issue may be with how you are using your promise library. In the code in this chapter, the promise method is invoked on DynamoDB as we are returning the action, like so:

`export function call(action, params){
  const dynamoDB = new AWS.DynamoDB.DocumentClient();
  return dynamoDB[action].promise();
}`

In my environment, this throws a 500. If, o

[2017-10-29 14:20] kamipatel opened #158 "Built-in Cognito sign-up and sign-in hosted authentication UI"
Is it possible to use Built-in Cognito sign-up and sign-in hosted UI? That will be so much cool.

Thanks a lot.

[2017-10-29 14:50] akolybelnikov commented on #46
I'm running into a weird compilation error:
[code]
Has anyone else encountered that while using amazon-cognito-identity-js in a CRA project?

[2017-10-29 21:33] jayair commented on #112
@chaosdarky Can you check your Cognito User Pool and Identity Pool to check it there is a user in there? In the User Pool there should be a user with the email `admin@example.com`.

[2017-10-29 21:38] jayair commented on #23
@leonardreidy That's interesting. I'm not sure what is different in your environment but the docs have it as `promise()` - http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Request.html#promise-property

[2017-10-29 21:39] jayair commented on #158
@kamipatel We are still looking into if we are going to cover those in the tutorial since they aren't very customizable. But thanks for letting us know.

[2017-10-30 09:04] roxy-target commented on #23
Hi,

I used this guide before to create the note app and it all worked pretty easily. Now I am trying to use this guide to make a different app, the main difference is the DynamoBD table has a lot more items than the notes one had. But no matter how much I try I cannot get it to work it keeps coming up with this issue. (I am on the "Add a Create Note API" part):

Serverless: Bundling with Webpack.

[2017-10-30 14:12] kamipatel commented on #158
I would really appreciate if that can be added as a bonus chapter. Thanks!

[2017-10-30 17:01] dailenspencer commented on #113
Still receiving the following error if anyone has any thoughts :)

[code]

[2017-10-30 17:17] mcgarrah commented on #23
@Kalaborative I'm assuming you are doing a local invoke when getting the error:

`$ AWS_PROFILE=aws_profile_name sls invoke local --function create --path mocks/create-event.json`

I get the same error for the above but...

`$ AWS_PROFILE=aws_profile_name sls webpack invoke --function create --path mocks/create-event.json`

This works fine for me when not invoking locally. I was hoping that the is

[2017-10-30 21:01] jayair commented on #113
@dailenspencer Can I try your project somehow? I want to see what is going.

[2017-10-30 21:08] dailenspencer commented on #113
@jayair yes, if you click on this link you should be able to have access
https://github.com/dailenspencer/Element/invitations

[2017-10-30 21:09] jayair commented on #23
@roxy-target If you try to debug the error using these instructions (https://serverless-stack.com/chapters/add-a-create-note-api.html#common-issues) what do you see?

[2017-10-30 21:10] jayair commented on #23
@mcgarrah So `sls web pack invoke` works for you but `sls invoke local` does not?

[2017-10-30 21:12] jayair commented on #113
@dailenspencer Got it. How to I reproduce the error again?

[2017-10-30 22:41] dailenspencer commented on #113
Steps to reproduce

1. Run yarn install
2. Run yarn start and wait for app to load at localhost:3000
3. Head to localhost:3000/signin and login with the following credentials

username: dailenspencer@gmail.com
password: Sodacan123!

[2017-10-30 22:42] dailenspencer commented on #113
I've just pushed an update so you may want to re-pull if you've already cloned the project

[2017-10-30 22:48] mcgarrah commented on #23
@jayair Yes but I've since found an issue with my iam permissions that might be part of the issue. I'll retest and report back. I'm building all the resources from the serverless.yml file including the policies and roles.

[2017-10-31 02:05] chaosdarky commented on #112
@jayair there are user there. I was able to authenticate and Identity Pool shows that i have 1 new identity so its working but I don’t know why I am still getting a null CognitoIdendityID

[2017-10-31 12:30] toyeebgodo commented on #82
Changing the location to us-east-2 solved my problem.

[2017-10-31 12:34] toyeebgodo commented on #18
@Hollow27 , were you able to solve your issue? I had the same issue, however changing region to us-east-2  (--region us-east-2 )worked for me.

[2017-10-31 23:46] jayair commented on #113
@dailenspencer This is `element-app-client` correct?

I logged in an everything seems fine. I'm using NPM but it seems curious that your `package.json` does not have the `aws-sdk` like the one we have - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/package.json#L7

Any idea why it's not in there?

<img width="998" alt="screen shot 2017-10-31 at 7 44 31 pm" src="htt

[2017-10-31 23:47] jayair commented on #112
@chaosdarky And this happens even if you tried it as a new user? As in, create another user and try it again?

[2017-11-01 01:15] toyeebgodo commented on #23
I am getting this error please help:

`Toyeeb notes-app-api $ serverless invoke local --function create --path mocks/create-event.json
Serverless: Bundling with Webpack...
Time: 1387ms
    Asset     Size  Chunks             Chunk Names
create.js  4.97 kB       0  [emitted]  create
   [0] ./create.js 2.13 kB {0} [built]
   [1] external "babel-runtime/core-js/json/stringify" 42 bytes {0} [not cachea

[2017-11-01 09:36] jonsaw commented on #17
Question: Update tutorial to use Serverless to setup Cognito?

Like how it's done [here](https://github.com/bsdkurt/aws-node-custom-user-pool)?

😄

[2017-11-01 15:43] KelpDuNord commented on #39
When running a Jest test against App.js, I get "Unexpected token" at the = after userHasAuthenticated in
userHasAuthenticated = authenticated => {
this.setState({ isAuthenticated: authenticated });
}
The syntax seems correct according to the React docs. Anyone have a clue? Thanks.

[2017-11-01 16:37] dougharling commented on #23
First off, awesome tutorial... learning tons.

My initial local invoke generated a 500 error. I have since fixed with key/column name confusion with my DynamoDB table. I made the columns UserId and NoteId and the create.js was doing something different.

So now my local invoke generates a 200 error, but I still get the webpack errors.
[code]

[2017-11-01 17:07] dailenspencer commented on #113
@jayair Apologies. The correct folder is isomorphic/

[2017-11-01 17:35] jayair commented on #17
@jonsaw I see what they are doing but I'm not entirely clear on how we should use it in the tutorial. Could you elaborate a bit?

[2017-11-01 17:38] jayair commented on #39
@KelpDuNord Yeah the syntax looks fine. I'm not sure why it's complaining.

[2017-11-01 17:40] jayair commented on #23
@dougharling I think this looks okay. These are just debug messages the `serverless-webpack` plugin is generating. As long as the response is `200` we should be good.

[2017-11-01 17:46] jayair commented on #113
@dailenspencer I'm not sure how much I can help you with your Isomorphic app. This isn't a project based on `create-react-app` so my experience is a little limited here. But I noticed the `aws-sdk` is not in your `package.json` in this project either. Any idea why?

[2017-11-02 14:20] toyeebgodo commented on #112
Got a 403 response
Authenticating with User Pool
Getting temporary credentials
Making API request
{ status: 403,
  statusText: 'Forbidden',
  data: { message: 'Forbidden' } }

Then I followed @bradodarb's idea:

I changed this:
--invoke-url='https://xxxx.execute-api.us-west-2.amazonaws.com/prod'
--path-template='/notes'

to

--invoke-url='https://xxxx.execute-api.us-west-2.amazonaws.com/prod/notes

[2017-11-02 18:49] jayair commented on #112
@toyeebgodo Hmmm that's weird. But thanks for reporting!

[2017-11-02 23:15] bharloe commented on #62
Hi @jayair
In most tutorial I've done using AWS to create serverless websites, I've had to name the s3 bucket identically to the domain I plan to point at it. So if I wanted to use "www.example.com" as my domain, the bucket in s3 would literally be named "www.example.com". Would you be able to explain how you avoided that in this tutorial?

[2017-11-03 15:48] lwschultz opened #161 "Was getting 500 error because I named table 'Notes' instead of 'notes'"
Can not rename a DynamoDB table - either edit code or create a new table

[2017-11-03 16:52] jayair commented on #62
@bharloe You need to use the same name if your domain in Route 53 is going to be pointing to your S3 bucket directly. In our case we use a CloudFront Distribution in front so you don't need to follow the naming convention.

[2017-11-03 17:23] jayair commented on #161
Yeah you cannot rename a table.

Also, if you set this table up using the `serverless.yml`, you need to be careful when you rename it. It will drop the old table and add a new one. Essentially leading to data loss. To get around this you can use the `"DeletionPolicy" : "Retain"` flag so it doesn't remove the old table if you rename it in your `serverless.yml`.

[2017-11-05 01:00] tauren commented on #48
I was getting a 403 error on the OPTIONS request. Everything seemed configured properly, and running the `apig-test` command in *Test the APIs* chapter was fine. Turns out I had a spurious single quote in `config.js`:

[code]

Note the extra `'` at the end of the `/prod'` in the URL. Hope this helps someone else.

[2017-11-05 14:50] tommedema commented on #112
Is it possible that "something" (perhaps a serverless deploy or a bug within AWS) somehow changed the policy document of the `Auth` role associated to the federated identity we created?

For some reason, I suddenly started getting the same error as certain people above: `User: arn:aws:sts::904892619278:assumed-role/Cognito_notesidentitypoolAuth_Role/CognitoIdentityCredentials is not authorized to

[2017-11-05 23:29] jayair commented on #112
@tommedema That's really strange...

[2017-11-07 11:40] x11joe commented on #35
This chapter was the hardest for me to understand of all the chapters.  In particular I'm not sure how `export default props =>` works? and what does `{...props}` mean in the code snippet below.

[code]

Everything else makes sense after doing some research into react router apis.  I think a link to their documentation would be helpful in the article at this point.

[2017-11-07 18:49] jayair commented on #35
@x11joe Yeah I can see how this can be confusing. Let me see if I can explain it a bit better.

[code]

can be re-written as:

[code]

And for `{ ...props }` (or the spread operator) where let's say `props` is:

[code]

Which means:

[code]

Would really be:

[code]

But we are applying the props dynamically.

The spread operator in JSX can be very convenient when you are composing React component

[2017-11-07 22:59] x11joe commented on #35
Thanks so much for your response, I wasn't aware you could do that with JSX.  I'm still new to the features of JSX and only know the older Javascript really well at the moment.  I wasn't aware it could do shorthands for functions either.  Thanks for your explanation it really makes a lot more sense now.  I suppose that means `({match,history}) =>` is also shorthand for a function.  I read up on ch

[2017-11-07 23:43] x11joe commented on #35
You know what I may have answered one of my own questions if you can confirm, the code in App.js says the following `<RouteNavItem href="/signup">Signup</RouteNavItem>`, is the props referring to just href here? (in this case only one property).  I assume the reason you wrote the code as {...props} was in case we added more properties in the future so they automatically copy over.  I was experimen

[2017-11-08 09:39] x11joe commented on #39
`<RouteNavItem key={1} href="/signup">` I noticed you added key={1} but the section does not explain why (or even if the reason why is because it will be used later).  Curious what this is needed for?

[2017-11-08 17:13] hollyewhite commented on #147
Hi there!

Question for you. Might be a newbie one -

When I try to invoke the role in the policy simulator, I don't have the same options as you. Here's what I have: https://screencast.com/t/izAbP7wm Any idea why?

Trying to troubleshoot a status 403!

Thanks in advance!
-Holly

[2017-11-09 00:46] lucasgonze commented on #112
I am one of those getting a 502. I have read the discussion so far and tried relevant threads for myself. I'd be grateful for ideas about where to investigate further.
On inspecting the logs I see this error, which has not yet been discussed:
(c1dc9b55-c4e3-11e7-ba33-6db69d7dccc2) Endpoint response body before transformations:
{
    "errorMessage": "EACCES: permission denied, open '/var/task/creat

[2017-11-09 14:01] sdooley-ebsco commented on #24
When running...
serverless invoke local --function get --path mocks/get-event.json

I get the following typer error "lambda is not a function". Any thoughts on what is causing this problem?

[2017-11-09 18:21] jayair commented on #35
@x11joe Yeah that's exactly it. The reason we do `{ ...props }` is to dynamically apply all the passed in props instead of hard coding them.

[2017-11-09 18:23] jayair commented on #39
@x11joe React needs keys when you are creating a list of components. You can read more about it here - https://reactjs.org/docs/lists-and-keys.html

[2017-11-09 18:40] jayair commented on #147
@hollyewhite Yeah it looks like they've changed the interface a bit. But I tried it just now with the same instructions in the tutorial and it worked.

<img width="960" alt="screen shot 2017-11-09 at 1 39 00 pm" src="https://user-images.githubusercontent.com/53023/32623227-6d8e395a-c553-11e7-80b6-1017c282e90d.png">

We'll update the screenshots soon. But let me know if this doesn't work for you.

[2017-11-09 18:44] jayair commented on #112
@lucasgonze That's pretty strange. I haven't seen that before but some Google searching shows that maybe it's related to the file permissions of `create.js`? Here is some more info:

- https://acloud.guru/forums/aws-lambda/discussion/-KSVv58PhKhA1c6a6EZ-/errormessage-eacces-permission-denied-open-vartaskcsvreadjs
- https://github.com/danilop/LambdAuth/issues/14

[2017-11-09 18:54] jayair commented on #24
@sdooley-ebsco It might be because `get` is probably not pointing to a function? It's most likely a typo in your `serverless.yml`.

[2017-11-09 19:44] lucasgonze commented on #112
@jayair, these links are a useful clue. My permissions turn out to be 600 rather than 644, probably because of the default mask in termux/android. I will debug from this hypothesis.

[2017-11-10 00:50] jayair commented on #147
@hollyewhite Just updated the screenshots - https://github.com/AnomalyInnovations/serverless-stack-com/commit/02bb75eeb579f36397bd2402cc7f21e7295ff1ce

[2017-11-10 00:56] hollyewhite commented on #147
Thank you @jayair! I appreciate it. I ended up having a credential issue. There are so many! I might hit you up for more questions though. This is my first time building a serverless app and honestly, I don't know how I would have figured it out without this tutorial. You're a rockstar.

[2017-11-10 09:33] x11joe commented on #52
The only thing confusing for me in this chapter is this line.

` return [{}].concat(notes).map(`

If I understand correctly you need to return an array of objects so it can show the notes, but why is **concat** method needed? couldn't we just use map without concat?

[2017-11-10 19:32] jayair commented on #52
@x11joe It's a bit of a trick I guess. We want to display the **Create a new note** button as the first item on the list. So we always start with an array with one empty item in it. Inside the `map` we treat the item at index 0 as a special case and render a button.

[2017-11-11 00:21] stefaanja commented on #28
Error being thrown when calling `serverless deploy`

Below is my serverless.yml
https://gist.github.com/stefaanja/5136a9d08f3aae36c37eb39db4cb9768

[2017-11-11 01:00] jayair commented on #28
@stefaanja In this line here - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L22; notice that it is `dynamodb:DescribeTable` and not `dynamodb: DescribeTable`. There shouldn't be a space in between.

[2017-11-11 10:11] x11joe commented on #33
What is the function `registerServiceWorker();` for? I tried looking up some info on this, but not sure.  The comments in the file appear to say it has something to do with caching files? Where did you learn about this technique? Can you point me to the documentation so I can understand better.  Thank you!

[2017-11-11 12:02] x11joe commented on #66
I'm getting the following error on this step, `com.amazonaws.services.cloudfront.model.CNAMEAlreadyExistsException: One or more of the CNAMEs you provided are already associated with a different resource. (Service: AmazonCloudFront; Status Code: 409; Error Code: CNAMEAlreadyExists; Request ID: e21a6bde-c6d7-11e7-9415-837f645450a5)`, any ideas?

My bucket name is definitely different, so not sure..

[2017-11-11 13:01] akolybelnikov commented on #52
@jayair what if I needed to lay one route open to not-signed in users, for example render example notes created by the admin with his access permissions? How can I bypass the sign-in functionality and send a get request to fetch data from a DynamoDB table?

[2017-11-11 14:08] bencarlson commented on #114
I'm receiving a similar error:

TypeError: __WEBPACK_IMPORTED_MODULE_3__sigV4Client__.a.newClient(...).signRequest is not a function

Am just starting to troubleshoot.

[2017-11-11 19:35] jayair commented on #33
@x11joe That comes by default with that version of Create React App. So we didn't add it as a part of the tutorial. You can disable it if you'd like.

[2017-11-11 19:37] jayair commented on #66
@x11joe This usually has to do with a CloudFront distribution having a CNAME already listed as the one you are trying to add. On which screen are you seeing this?

[2017-11-11 19:47] jayair commented on #52
@akolybelnikov You'd need to create an API without an authorizer - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L69. And in the `awsLib.js` for the React portion, just skip signing the request and directly make a `fetch` call - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/awsLib.js#L17.

[2017-11-11 20:10] x11joe commented on #66
I am seeing this on the part where you say ... `Scroll down to the Alternate Domain Names (CNAMEs) and use the www version of our domain name here.`

It shows up at the bottom, I'll try and get a screenshot.

....

Well... this is going to sound stupid but I tried just now and its working all the sudden?? Maybe this happened because I was doing test with the domain name prior on another serverless

[2017-11-11 20:14] jayair commented on #66
@x11joe Yeah this can happen. Both the domain setting part and the CloudFront distributions take some time to apply their changes.

[2017-11-11 21:40] x11joe commented on #71
Amazing tutorial.  The amount of detail that goes into this tutorial is simply amazing.  Taking into account all the little things I wanted, like www redirects, cache, scripts to make deploying easy, serverless framework for the api, https, redirecting urls to where you need to go if your session timed out!! (you didn't even have to cover this), but its amazing that you did! Simply the best tutori

[2017-11-13 00:00] jayair commented on #71
@x11joe Thanks for the kind words and support. It means a lot!

I think adding more detail through a video would be very helpful. Especially if you can build on the tutorial and add your perspective. We would love to link to it in the tutorial. I know one of our other readers is also working on a video series. You can take a look at it if you need some ideas or inspiration - https://github.com/Ano

[2017-11-13 19:11] lucasgonze commented on #16
In the screen shot in the chapter, the owner is admin, which is the IAM user created earlier. However when I created the bucket just now the owner was based on the email for the AWS account.

This may be significant down the road, given that permissions can lead to baffling issues. If this is significant I can add a user using the name of the IAM role and grant the same permissions as in the defau

[2017-11-13 19:44] timoteoalvarenga commented on #107
Hey guys, I've made an attempt to automate the API creation with cloudFormation with the help of a bash script and a configuration file.
Unfortunately at this point CloudFormation still does not support email as User Pool username.

Here is my forked repo https://github.com/timoteoalvarenga/serverless-stack-demo-api

[2017-11-14 19:32] jayair commented on #16
@lucasgonze Ah. The **admin** is the username on the account we were using and not an AWS thing. I think for this case the default owner should be fine.

[2017-11-14 19:45] jayair commented on #107
@timoteoalvarenga Thanks for posting this here. How do I use the repo? Is it just `serverless deploy`?

[2017-11-15 18:44] hollyewhite opened #163 "Separating Cognito UnAuth from Auth - Not requiring user to be logged in to submit data"
Hi there @jayair!

First of all - **THANK YOU!** This documentation has saved my life. I've been able to implement this into my own requirements with a very short deadline which is pretty great.

This is somewhat of an urgent issue and digging through the Amazon documentation has my eyes crossed.

I was wondering if you had any words of wisdom.

So I have a front end and a backend. I'm having trou

[2017-11-15 18:51] jayair commented on #163
@hollyewhite I added a pretty short comment on this idea here - https://github.com/AnomalyInnovations/serverless-stack-com/issues/52#issuecomment-343689561

It's pretty straightforward to do. But let me know if you need any additional detail.

[2017-11-15 22:42] lucasgonze commented on #112
The EACCESS issue is very likely that permissions on create.js are 660 rather than 644 or 664. That is, only my user account and its unix group have read permission.

660 is an interaction with how zip works in termux.  The issue is specific to termux.

There may be a workaround or fix in serverless.

[2017-11-16 00:10] hollyewhite commented on #163
@jayair Thank you! I really like that idea but would love if you could elaborate a little bit more. Since I'm so far down this road, I'm a little nervous about breaking what I have in order to implement this.

Out of curiosity - If you offer consulting time, I'd be happy to pay to better understand or donate to the project (whatever you prefer). Happy to contribute as well! It's an important clien

[2017-11-16 00:51] jayair commented on #163
@hollyewhite Thanks, yeah any donations would be greatly appreciated. You can send me an email @ jay at anoma.ly and I can take a look a better look.

[2017-11-16 01:40] hollyewhite commented on #163
Hey Jay!

I just replied from holly elizabeth white at gmail com. Let me know if you
got it and if that works for you. :)

Thank you!!!

On Wed, Nov 15, 2017 at 5:51 PM, Jay V <notifications@github.com> wrote:

[2017-11-16 05:58] kaiyes commented on #22
webpack is only needed locally isn't it ? The babel runtime transpiles normal js into es6/7 syntax in lambda right ? I have `babel-preset-2015` and it seems that I can use `import` working locally. However, app breaks in lambda when deployed. So I was wondering if adding `babel-runtime` in the dependency will solve issues for me ?

[2017-11-16 06:40] kdavh opened #164 "https://serverless-stack.com/chapters/clear-the-session-on-logout.html is currently "Not Found""
Chapter is a dead link. All others before and after that I'm reading work fine.

[2017-11-16 08:51] Jaikant commented on #164
This link is not working for me, with a Not Found error:

 https://serverless-stack.com/chapters/create-a-dynamodb-table.html

[2017-11-16 16:28] jayair commented on #164
@kdavh @Jaikant That's really weird. Are you guys still seeing this? It seems to be working fine for me now.

[2017-11-16 19:00] jayair commented on #164
@kdavh @Jaikant Apparently there was an outage for our hosting provider last night. It should be fine now. Thanks for letting us know.

[2017-11-16 20:00] jayair commented on #22
@kaiyes Aside from transpiling, Babel also has a a runtime portion that is needed. It's in our `package.json` here - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/package.json#L32

[2017-11-17 00:22] jayair commented on #163
@hollyewhite I'll address the question you guys had about how to do public S3 uploads with a comment here. So it'll help if anybody else comes across it. And I'll probably turn this in to a chapter at some point.

1. Your Identity Pool needs to enable access to **unauthenticated identities**.
<img width="776" alt="screen shot 2017-11-16 at 6 53 46 pm" src="https://user-images.githubusercontent.com

[2017-11-17 19:13] jayair commented on #112
@lucasgonze Thanks for reporting back. It can be a tricky issue to track down.

[2017-11-18 02:00] kaiyes commented on #22
@jayair  thanks.  I was trying to get some answers in the forum about how webpack and bable runtime works in lambda. And I got this answer which clears it up for me.

Basically I am trying to get async-await and imports working in my current app and failing.

[2017-11-18 10:45] Jaikant commented on #18
**On running:**
aws cognito-idp sign-up  --region ap-south-1   --client-id xxxxx   --username admin@example.com   --password Passw0rd!

**I got the below error**

An error occurred (InvalidParameterException) when calling the SignUp operation: Cannot perform specific action because there does not exist a valid use pool domain associated with the user pool

I added the domain name in: User Pool ->

[2017-11-18 20:58] saurabh-vyas commented on #18
I am getting error as cognito-idp sub-cmd itself is not recognised.

vyas@gladiator:~$ aws cognito-idp sign-up --client-id <my-client-id> --username admin@example.com --password Passw0rd! --user-attributes Name=email,Value=admin@example.com --region us-east-1
usage: aws [options] <command> <subcommand> [parameters]
aws: error: argument command: Invalid choice, valid choices are:

autoscaling

[2017-11-18 21:51] jayair opened #165 "Integrate with AWS Amplify"
Hey everybody,

Just came across AWS Amplify - https://github.com/aws/aws-amplify. I haven't had a chance to play with it yet but it looks really promising. It looks fairly modular so we could even use parts of it separately in the React portion of the tutorial to simplify the following things:

- Making API Gateway requests: No need to manually add the sigv4client or sign requests
- Storing S3 fi

[2017-11-18 22:00] jayair commented on #18
@saurabh-vyas That's really weird. Are you using the latest AWS CLI?

This is my version.

[code]

[2017-11-19 05:47] l0rdr4t commented on #147
I'm currently walking through this tutorial (awesome work, by the way). My apig-test was throwing a "403 Forbidden":

`Message: 'User: arn:aws:sts::123456789012:assumed-role/Cognito_testAuth_Role/CognitoIdentityCredentials is not authorized to perform: execute-api:Invoke on resource: arn:aws:execute-api:ap-southeast-2:********5495:a1b2c3d4e5/prod/POST/notes' }
`

I had to edit the Cognito Auth_Rol

[2017-11-19 19:33] saurabh-vyas commented on #18
@jayair : seems like the older version did not had this sub-cmd. I uninstalled awscli & re-installed that ... and with version 1.11.189 .... I was able to run this succesfully

vyas@gladiator:~/Learning/Serverless/notes-app-api$ aws cognito-idp sign-up --client-id $my-client-id --username admin@example.com --password Passw0rd! --user-attributes Name=email,Value=admin@example.com --region us-east-1

[2017-11-20 00:02] lucasgonze commented on #112
Moving my code to a non-ChromeOS machine did fix the EACCESS problem.

After running serverless deploy for the first time. I got the same "CognitoIdentityCredentials is not authorized to perform: execute-api" error as @Jonarod, and solved it the same way, by creating a new Federated Identity Pool. The reason why this desparate measure works is that you can then edit the policy document, which has

[2017-11-21 11:19] johnnybigert commented on #112
Regarding @Spartano's comment #112 from above. I am using Git Bash on Windows 10 and was getting the following:

`$ apig-test
   --username admin@example.com
   --password Passw0rd!
   --user-pool-id us-east-1_VxxxM
   --app-client-id 4xxxd
   --cognito-region us-east-1
   --identity-pool-id us-east-1:fxxx1
   --invoke-url https://9xxxf.execute-api.us-east-1.amazonaws.com/prod
   --api-gateway-reg

[2017-11-21 17:11] fcostarodrigo commented on #113
@dailenspencer I am having the same issue as you.

Basically when `sigV4Config.secretKey`  is `undefined`, `sigV4Client.newClient(sigV4Config)` returns and empty object `{}` that doesn't have the `signRequest` function, causing the error you see.

This happens when we call `authUser` twice. While the first call waits for the promise in `getAwsCredentials` to resolve, the second call overwrites the

[2017-11-22 07:19] #164 closed

[2017-11-22 18:17] jayair commented on #147
@l0rdr4t In this chapter - https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html we add a line to the auth role. Is that the one you had to do?

[2017-11-22 18:18] jayair commented on #18
@saurabh-vyas Great! Thanks for reporting back.

[2017-11-22 18:30] jayair commented on #22
@rogerschlachter Yeah we have a similar service that we show later in the tutorial - https://serverless-stack.com/chapters/serverless-es7-service.html. The services themselves don't do a whole lot and for now it makes sense to show folks what they are doing. But at some point we'll switch over to this.

[2017-11-22 18:40] jayair commented on #112
@johnnybigert Thank you for this.

[2017-11-22 18:45] jayair commented on #113
@fcostarodrigo Thanks for tracking this down This one has been a tough one to reproduce. I'm going to take a better look and figure it out.

[2017-11-22 18:54] jayair commented on #71
@rtorcato We do a quick calculation on the cost of running this tutorial app in this chapter here - https://serverless-stack.com/chapters/why-create-serverless-apps.html. For very large sites Serverless can be more expensive but for small to medium it is a lot cheaper. This has been true in our experience and here is some simple analysis on this - https://www.trek10.com/blog/lambda-cost/

[2017-11-23 16:10] l0rdr4t commented on #147
@jayair Thanks for the reply, and yes -- now I know where I went wrong; user error and not the documentation!

In my project, the end user won't be uploading documents to an S3 bucket. I intentionally left out the Policy Action **s3:*** but accidentally left out Policy Action **execute-api:Invoke**, which was in the same code block.

[2017-11-24 23:30] lucasgonze commented on #39
I find this bit of code particularly baffling:

`export default ({ component: C, props: cProps, ...rest }) =>
  <Route {...rest} render={props => <C {...props} {...cProps} />} />;`

The combo of ES6 with React idioms in the context of shorthand code makes it inscrutable.

[2017-11-24 23:33] TheDagger commented on #39
@lucasgonze yeah I agree I had to spend like an hour wrapping my head around that the first time lol

[2017-11-26 17:01] sanjosedennis7593 commented on #114
Any update on this issue?

[2017-11-26 18:22] jayair commented on #147
@l0rdr4t Thanks for reporting back!

[2017-11-26 18:27] jayair commented on #39
@lucasgonze @TheDagger Yeah I can see that. Let me add more of an explanation to that section.

[2017-11-26 18:30] jayair commented on #114
We might have found a culprit here - https://github.com/AnomalyInnovations/serverless-stack-com/issues/113#issuecomment-346095708

I'm looking into a proper solution but in the mean time, there is a quick workaround in that comment.

[2017-11-26 19:04] jayair commented on #39
Just added a better explanation - https://github.com/AnomalyInnovations/serverless-stack-com/commit/6be7f67ae12dd4619c842c8b0a86a282ce628fd2

[2017-11-26 23:17] Mutley5000 commented on #40
Hi,
Just a note that there was no mention to create the userHasAuthenticated method.

  userHasAuthenticated = authenticated => {
    this.setState({ isAuthenticated: authenticated });
  }

Also I believe NavItem needs to be added back into:
  import { Nav, NavItem, Navbar } from "react-bootstrap";
which was not mentioned either.

Kind regards,
Braydon

[2017-11-27 15:09] johnnybigert commented on #66
I just registered a domain (let's call it "mysite.com") and it shows the Notes app correctly (and so does the s3 url and the cloudflare distribution). When trying to get the redirect from www.mysite.com to work, I get the following behavior:

http://www-xxx-notes-app-client.s3-website-us-east-1.amazonaws.com redirects correctly to mysite.com. However, http://www.mysite.com/ and xxx.cloudfront.net

[2017-11-27 15:37] johnnybigert commented on #66
I solved my problem: When I originally set up the the cloudfront distribution, I used the _drop-down_ to chose the origin. The origin was then set to "www-xxx-notes-app-client.s3.amazonaws.com". However, when I went back to check the url for the s3 bucket, it is actually "www-xxx-notes-app-client.s3-website-us-east-1.amazonaws.com" (note the region!). Copying the correct url solved the problem. I'

[2017-11-27 16:11] bimbo1989 commented on #25
I'm following the serverless tutorial, and when it comes to this function I get a "Cannot read property 'id' of undefined" error.
The previous tests ran just fine.
I tried to look for a solution but I found nothing. Do I need to open a new issue?

[2017-11-27 20:11] fcostarodrigo commented on #23
How do I get user's attributes from `event.requestContext.identity.cognitoIdentityId`?

[2017-11-28 08:44] bimbo1989 commented on #25
Nevermind. Tried again today without changing anything and works flawlessly. Stranger things, season 3 :)

[2017-11-28 16:19] leejh3224 commented on #38
I'm leaving a comment just because I had a hard time finding out what was a problem when I faced 502 error(cors problem).

In that case, there are three possible options.
Firstly, you can look at '/libs/response-lib.js' and check whether the function contains 'Access-Control-Allow-Origin' header or not.
Secondly, you may have miss indented serverless.yml.
Or lastly, you may have forgotten deployin

[2017-11-28 20:23] jayair commented on #66
@johnnybigert Yeah I've come across this before. I really don't know why it is that way...

[2017-11-28 20:34] jayair commented on #23
@fcostarodrigo This is a bit trickier but here is roughly how to do it:

`event.requestContext.identity.cognitoAuthenticationProvider` gives you a string that looks like this `cognito-idp.us-east-1.amazonaws.com/us-east-1_Jw5lUuxG2,cognito-idp.us-east-1.amazonaws.com/us-east-1_Jw5lUuabc:CognitoSignIn:5f24cbc9-aaaa-bbbb-cccc-eafaeced45ff`

Where `us-east-1_Jw5lUuabc` is the User Pool Id and `5f24cb

[2017-11-28 20:34] jayair commented on #25
@bimbo1989 Thanks for reporting back.

[2017-11-28 20:35] jayair commented on #38
@leejh3224 Thanks for leaving your comment here.

[2017-11-29 02:34] fpoumian commented on #112
I'm getting the following response after issuing the initial apig-test command:
[code]
Any idea what this might be?

[2017-11-29 18:14] jayair commented on #113
@fcostarodrigo I've been trying to reproduce this and I haven't been able to. Are you just refreshing the home page constantly trying to get the error? Also, if you could share your repo and the browser you are using, that would help greatly.

[2017-11-29 19:09] fcostarodrigo commented on #113
@jayair I tried to write a test to reproduce the error, but it is really hard. It depends on the order the promises are resolved.

I will create a new project in my personal account and share it with you soon. Maybe our changes introduced the bug too, who knows.

Thanks.

[2017-11-30 03:36] Ajacs commented on #71
Guys I get this message when I try to login : UnexpectedParameter : Unexpected key 'UserContextData' found in params, any idea ?

This is the version of libraries:

    "amazon-cognito-identity-js": "^1.27.0",
    "aws-sdk": "^2.157.0"

[2017-12-01 18:44] jayair opened #167 "Customize the Serverless IAM Policy"
Link to chapter - https://serverless-stack.com/chapters/customize-the-serverless-iam-policy.html

[2017-12-01 18:45] jayair opened #168 "Environments in Create React App"
Link to chapter - https://serverless-stack.com/chapters/environments-in-create-react-app.html

[2017-12-02 14:09] inventanew commented on #23
I keep getting this no matter what I do, any help would be greatly appreciated...

Johnny-B:notes-app-api johnblakley$ serverless invoke local --function create --path mocks/create-event.json
Serverless: Bundling with Webpack...
Time: 716ms
    Asset     Size  Chunks             Chunk Names
create.js  5.02 kB       0  [emitted]  create
   [0] ./create.js 2.18 kB {0} [built]
   [1] external "babel-

[2017-12-02 17:11] fcostarodrigo commented on #17
![screenshot_20171202_150830](https://user-images.githubusercontent.com/16693844/33517878-fe46c30a-d772-11e7-950c-a157a827ff0a.png)

Cognito was moved from Mobile Services to Security.

[2017-12-02 17:29] surajr opened #170 "Cognito - federated identity - how to do social login? Are there any tutorials?"
Wondering if any useful links and samples for federated identity

[2017-12-02 17:38] fcostarodrigo commented on #22
This justification does not follow the description of `webpack-node-externals` library, which is:

Meaning, we don't have to bundle the dependencies because they will be available in `node_modules`.

[2017-12-02 17:44] fcostarodrigo commented on #21
Why `aws-sdk` was installed as a `devDependencies`? Shouldn't it be installed in `dependencies` instead?

[2017-12-02 18:41] jayair commented on #112
@fpoumian Can I see the full command that you are using?

[2017-12-02 18:42] jayair commented on #71
@Ajacs Which step of the tutorial is causing this issue for you?

[2017-12-02 18:54] jayair commented on #23
@inventanew It seems like an issue with your credentials. Can you make sure you've configured your CLI - https://serverless-stack.com/chapters/configure-the-aws-cli.html?

And check your `~/.aws/credentials` to see if the info is in there.

[2017-12-02 19:02] jayair commented on #17
@fcostarodrigo Thanks. Updated it.

[2017-12-02 19:10] jayair commented on #170
@surajr Yeah it's on our list. For Federated Identity with FB (or the like) you need to add another authenticator here - https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/awsLib.js#L135

And set them up as a provider in the Identity Pool console - https://d33wubrfki0l68.cloudfront.net/d64f178a48f4c8f6c78b8b5c84e3e85373aa5b14/743a8/assets/cognito-identity-pool/

[2017-12-02 19:13] teseodemigod commented on #63
Hi all, everything was working fine until I run npm run build... I'm using babili instead of uglify... The build is complete, but when I run the project I get this error: **_Uncaught (in promise) TypeError: h.a.config.credentials.getPromise is not a function_**

Does anybody have an idea of what's going wrong?
Thanks in advance for helping.

[2017-12-02 19:22] jayair commented on #21
@fcostarodrigo This portion of the setup is weird but better explained here - https://github.com/serverless-heaven/serverless-webpack#node-modules--externals

[2017-12-02 19:23] jayair commented on #22
@fcostarodrigo Replied to this here - https://github.com/AnomalyInnovations/serverless-stack-com/issues/21#issuecomment-348713844

[2017-12-02 19:24] jayair commented on #63
@teseodemigod I'm not too familiar with your setup so I can't really help. But maybe somebody else can.

[2017-12-03 00:14] inventanew commented on #23
thanks Jayair, I cannot believe I could miss something so simple, I switched the key secret from the key itself, man I feel dumb

[2017-12-03 10:00] fcostarodrigo commented on #113
@jayair
I reproduced the bug here: https://github.com/fcostarodrigo/notes-app-client
I had to make a few changes to the original code to trigger the bug.

1. In `Home.js` you have to check if the user is logged with `await authUser()` instead of `this.props.isAuthenticated`.
2. In `App.js` you have to render even when `this.state.isAuthenticating` is `true`.

If `App.js` is the only thing checking

[2017-12-04 00:29] jayair commented on #113
@fcostarodrigo Thanks for putting this together.

Yeah I see what you mean about calling `authUser` concurrently. I'm not sure how with the original code it can happen.

[2017-12-04 00:31] jayair commented on #114
We are unable to replicate this issue with the version of the code in tutorial. Here is more info on this - https://github.com/AnomalyInnovations/serverless-stack-com/issues/113#issuecomment-348753226

If somebody has been able to replicate it, I'd like to take a look.

[2017-12-04 00:32] jayair commented on #23
@inventanew No worries. Thanks for reporting back.

[2017-12-04 11:51] fcostarodrigo commented on #21
I see. AWS already includes `aws-sdk`, so you don't need to include it again.

http://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html

[2017-12-04 11:53] fcostarodrigo commented on #113
@jayair Yes, this won't happen in the original code. It only happens if you modify it enough.

[2017-12-04 17:51] jayair commented on #21
Yup

[2017-12-04 19:49] svj13 commented on #18
Hello I am getting an error others haven't seemed to have run into. I'm very new to AWS, and Serverless is my first go at using it.

**In windows powershell:**
aws cognito-idp admin-confirm-sign-up  \
--region us-east-2 \
--user-pool-id us-east-2**********  \
--username admin@example.com \

**I get the following error:**
An error occurred (InvalidSignatureException) when calling the AdminConfirmSi

[2017-12-04 23:37] svj13 commented on #23
Does anyone have any insight in regards to getting past this error?

![image](https://user-images.githubusercontent.com/18566065/33582201-f10d9db0-d9b8-11e7-910c-463dab4adfc9.png)

[2017-12-05 03:43] Jaikant commented on #18
The time on your system is off by more than 5 minutes, which is flagging this has an error. You can use ntp to keep the time in sync.

[2017-12-05 04:09] jayair commented on #18
@Jaikant Oh that's a good catch.

[2017-12-06 18:21] svj13 commented on #112
Does anyone know where I may be going wrong?
It says tthe JSON object, but earlier when I had the JSON arg wrong, it errored out before it authenticated with the user pool etc

*This is my input*
apig-test
--username admin@example.com
--password Passw0rd!
--user-pool-id us-east-2_xxxxC
--app-client-id 7xxxe
--cognito-region us-east-2
--identity-pool-id us-east-2:7xxxxb
--invoke-url https://dnxxxxd

[2017-12-06 18:47] lucasgonze commented on #112
@svj13 There's an issue in your escaping of the --body argument. Replace the outer double quotes with singles.

[2017-12-06 19:25] svj13 commented on #112
@lucasgonze replacing with single quotes, removing/adding escape characters etc all come up with the same error

[2017-12-06 20:58] lucasgonze commented on #112
Can you modify index.js:160 to log what it's trying to parse?

[2017-12-06 23:18] svj13 commented on #112
@lucasgonze
![image](https://user-images.githubusercontent.com/18566065/33690526-c7d7f288-db48-11e7-8374-c15a15297bda.png)

[2017-12-07 11:18] markuspelnens commented on #114
You can reproduce it in IE11, and it is caused by line 231:

`let parser = new URL(awsSigV4Client.endpoint);`

IE11 doesn't support the URL interface. I fixed it by setting a host entry directly in config.js and then passing it as an argument to the sigV4Client client:

[code]

and then setting the header in sigV4Client.js directly:

[code]

[2017-12-07 19:43] inventanew commented on #54
I'm getting this error...
./src/containers/Notes
Module build failed: Error: ENOENT: no such file or directory, open

[2017-12-07 19:48] eldadmel commented on #49
I have a problem when I try to create a note with a file. I always get "AccessDenied: Access Denied" alert.
I checked the IAM role and the CORS and I think they are current. Is there anything else I can check?

[2017-12-07 19:50] eldadmel commented on #53
My note.noteId is always "undefined". Any idea what I did wrong?

[2017-12-08 16:36] davidcharlesweber commented on #112
Fellow 403 errors, check your IAM policy for Auth users.

I had included an accidental space and was getting the 403
`Cognito_notesidentitypoolAuth_Role/CognitoIdentityCredentials is not authorized to perform: execute-api:Invoke`

[2017-12-09 17:51] nicksmithr commented on #23
When calling `create` after refactoring, this code block causes an issue
[code]

[2017-12-10 21:58] TheDagger commented on #40
I have a newbie question as well, the line `!this.state.isAuthenticating &&` proceeds after the && to follow with the page to be rendered.  How is this working exactly? The way I understand return functions is they return content, true or false.  So if the state is currently authenticating it will return true && the content? How do you return both? This is the part that doesn't make sense to me.

[2017-12-10 22:20] x11joe commented on #39
I had one more question on this section, the code `<Route {...rest} render={props => <C {...props} {...cProps} />} />;` I get most of this now, but the part I don't get in particular is  `{...props} {...cProps} />}`.  My understanding is this creates the properties and the values that go with the properties.  This makes sense except for one thing.  My understanding of attributes is it has to be fo

[2017-12-11 06:42] littleredshack commented on #65
Hmm.  When I start this section on Creating Hosted Zones I get the following screens:

![image](https://user-images.githubusercontent.com/11097799/33818713-90d27a10-de9a-11e7-9187-7c98f66312b5.png)

![image](https://user-images.githubusercontent.com/11097799/33818727-a4f54036-de9a-11e7-9bfd-215b3ab68602.png)

[2017-12-11 11:41] jayair commented on #114
@markuspelnens Oh interesting. I'm not sure if this is the same issue other folks are having but let me take a look into it. Thanks for digging into it.

[2017-12-11 11:43] jayair commented on #54
@inventanew Seems like that file might not be in the right location?

[2017-12-11 11:45] jayair commented on #49
@eldadmel Can you see the full error in the browser console?

[2017-12-11 11:46] jayair commented on #53
@eldadmel You can try to `console.log(results)` to see what you are getting back from the API.

[2017-12-11 11:50] jayair commented on #23
@nicksmithr Hmm we set this up in this chapter - https://serverless-stack.com/chapters/add-support-for-es6-es7-javascript.html

Can you double check if you completed that step?

[2017-12-11 11:59] jayair commented on #40
@TheDagger Yeah that line is basically using [short-circuit evaluation](https://en.wikipedia.org/wiki/Short-circuit_evaluation) to conditionally render our component.

So if `!this.state.isAuthenticating` is true then render our component (return the JSX) or just return false.

Hopefully that makes sense.

[2017-12-11 12:03] fcostarodrigo commented on #23
@nicksmithr Did you put the keyword `async` in the beginning of the function? You are only allowed to use `await` in `async` functions.

[2017-12-11 12:09] jayair commented on #39
@x11joe I agree this part is pretty confusing. And JSX has not been my favorite feature of React but it ends up being fairly convenient in practice.

In this specific case, your idea is right. The spread operator `{...props}` does it for you. Here is more info on it - https://reactjs.org/docs/jsx-in-depth.html#spread-attributes. The entire chapter is worth a read if you want to get a better unders

[2017-12-11 13:47] jayair commented on #65
@littleredshack Thanks for the comment and the screenshots. I added a small note to the chapter about it.

[2017-12-11 14:29] nicksmithr commented on #23
@jayair @fcostarodrigo Ah yes, I didn't have ES7 configured. Thanks both!

[2017-12-11 14:35] roxy-target commented on #63
Hi,

I created my S3 bucket and went to do npm run build and I deployed the build/ file to the S3 bucket I created.
In AWS the bucket shows up with all the files created in the build file, however when I go to the endpoint, the url where my app should be live, it shows up with the favicon icon but the screen is blank and the error i get from the console is:
Failed to load resource: the server resp

[2017-12-12 02:32] SpencerGreene commented on #22
[code]

[2017-12-12 05:43] littleredshack commented on #65
Stuck on this one guys.  I have set DNS servers the same for domain and hosted zone as per comment above.  But when I try to open a browser to my domain I get:

![image](https://user-images.githubusercontent.com/11097799/33869190-93b4ba42-df5b-11e7-9437-443c9cf3374c.png)

Any ideas ?

[2017-12-12 05:47] littleredshack commented on #65
Hmm.  Looks like it is my service provider DNS that has not updated:

![image](https://user-images.githubusercontent.com/11097799/33869305-18aa5e64-df5c-11e7-8e8f-58231557f70d.png)

[2017-12-12 05:54] littleredshack commented on #65
Yup.  Fixed.  Changed my DNS server on my laptop to point to google DNS

[2017-12-12 17:49] jayair commented on #63
@roxy-target Can you ensure the permissions for the S3 bucket are set right? Thor CORS and permission section in this chapter - https://serverless-stack.com/chapters/create-an-s3-bucket-for-file-uploads.html

[2017-12-12 17:52] jayair commented on #22
@SpencerGreene Thanks for letting us know I'll switch over to it.

[2017-12-12 17:53] jayair commented on #65
@littleredshack Ooof glad you figured it out.

[2017-12-12 18:22] SpencerGreene commented on #23
In the top section ("Add the Function"), I wonder if the two appearances of JSON.stringify are superfluous?  When I run the code exactly as written in the tutorial, I get extra escapes:
`{
    "statusCode": 200,
    "headers": {
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Credentials": true
    },
    "body": "{\"userId\":\"USER_SUB-1234\",\"noteId\":\"15e55280-df69-1

[2017-12-12 22:24] MB34 opened #174 "Another container besides AWS?"
Do you have experience doing this in another container such as Docker or Heroku?

[2017-12-12 22:26] littleredshack commented on #67
There is a second step in AWS Certificate Manager to validate either via DNS or email:

![image](https://user-images.githubusercontent.com/11097799/33911785-8c63866a-dfe7-11e7-9fae-b036c963181f.png)

![image](https://user-images.githubusercontent.com/11097799/33911807-a6f2e868-dfe7-11e7-885e-2126ce6bf6c0.png)

[2017-12-12 23:09] evangow commented on #112
Have you considered using making aws-api-gateway-cli-test a local dev dependency and then invoking the local package using 'npx'? For people who are hesitant to install packages globally, this would be a nice tweak to the tutorial

[2017-12-13 02:02] x11joe commented on #149
How do you do staging for the S3 Website side of things, or the React App itself?

[2017-12-13 06:13] littleredshack commented on #70
Strange one.  I have got all the way through the process and all working fine.  But when I try to redeploy to S3 I get an error about my AWS key being invalid.

C:\Users\gstokes\Documents\Personal\Coding\Serverless\notes-app-frontend\notes-app-client>aws s3 sync build/ s3://gbs-notes-app-client
fatal error: An error occurred (InvalidAccessKeyId) when calling the ListObjects operation: The AWS Acce

[2017-12-13 06:53] littleredshack commented on #70
I just went into IAM and then in the user that I had originally created I chose the option to create a new Access Key.  I used that and it is working. No idea why the previous suddenly stopped.

[2017-12-13 15:04] roxy-target commented on #63
@jayair I manage to get it working ! So thank you for the help :)

[2017-12-13 19:23] johanseland commented on #18
I also got the InvalidSignatureExceptionError when trying to run admin-confirm-sign-up step. Strangely the sign-up step worked as expected, so there must be a difference in how these two commands escapes the secret key.

I am adding this here in case someone else runs into problems, as this issue pops up on top of the Google search.

The error:
[code]
This was caused by my secret key containing a

[2017-12-14 13:22] zwik opened #175 "apig-test behind corporate proxy with MITM SSL certificates"
Hey guys,

We're doing a POC with AWS and the tutorial is amazing! Great job! Because we are behind a proxy that also use some MITM SSL certificate magic we're kind stuck at the following chapter: https://serverless-stack.com/chapters/test-the-apis.html

For all the tooling before we found ways to set a proxy, disable SSL certificate checking etc. but for apig-test we can't find anything yet.

For

[2017-12-14 13:59] zwik commented on #112
I only figured this one out now, i'm having difficulties with our proxy but already created a new ticket for it: https://github.com/AnomalyInnovations/serverless-stack-com/issues/175

[2017-12-14 14:29] d0ruk commented on #112
In case this might help somebody;

[code]

[2017-12-14 19:51] ohenneken commented on #38
Hi,

I have reached a point in the splendid tutorial where a first time app-client user should login in for the first time, having his email already verified.

The login function from the Login.js is executed and comes back with a new challenge  'NEW_PASSWORD_REQUIRED'.

The tutorial says nothing about this and assumes the login succeeds?

So I added a function newPasswordRequired: function(userAt

[2017-12-14 20:32] mictian commented on #19
Hi,
First of all, very nice tutorial, thank you very much!
There is a small point that I dont get it yet (more AWS related that serverless perhaps - sorry for this)
**Under which role are the lambdas executed?**

I mean, you have defined an IAM role in the serverless.yml, and now a new set of permissions for authenticated users. Is it needed both roles/permissions? Why?

Thank you in advance,
Mict

[2017-12-15 09:24] lepirlouit commented on #68
Why is it required to clear the cache of the redirecting cloudfront ?
The redirected page url in S3 didn't change. Isn't it ?

[2017-12-15 16:58] jayair commented on #23
@SpencerGreene What is returned on AWS is the body portion as a JSON string. That is why it is encoded and why it appears double encoded on local.

It looks a bit confusing on local because it is mocking the response you would normally get on AWS.

[2017-12-15 16:59] jayair commented on #174
@MB34 Hmm I'm not sure what you mean by container here. There are open source implementations of Lambda but I have not tried them yet.

[2017-12-15 17:00] jayair commented on #67
@littleredshack Did you do the CNAME record in place of the email validation?

[2017-12-15 17:03] jayair commented on #18
@johanseland Thanks for the comment and the context.

[2017-12-15 17:06] jayair commented on #175
@zwik That is interesting. I think the easiest way here might to edit `apig-test` to add the code block you have in there.

It should be pretty straightforward. For example, we update the config in it here - https://github.com/AnomalyInnovations/aws-api-gateway-cli-test/blob/master/index.js#L84

[2017-12-15 17:12] jayair commented on #112
@evangow Yeah that's a good idea. I'll take a look into it.

@d0ruk That looks interesting. What does this bit of code do?

[2017-12-15 17:17] jayair commented on #38
@ohenneken Hmm you shouldn't need to do this. If you've followed this chapter - https://serverless-stack.com/chapters/create-a-cognito-test-user.html

Then you user should be able to login without having to set a new password.

[2017-12-15 17:27] jayair commented on #68
@lepirlouit Yeah you don't have to. We just do it for completeness sake.

[2017-12-15 17:29] jayair commented on #19
@mictian Yeah it's pretty confusing.

The IAM portion in the `serverless.yml` is what the Lambdas have access to. This is different from what a user on the outside can access. The roles for authenticated users in the Identity Pool is telling AWS which services a user can invoke. So a user invokes API Gateway which in turn invokes Lambda. But the Lambda has it's own set of permissions that are defi

[2017-12-15 17:53] SpencerGreene commented on #49
I'm also seeing "AccessDenied: AccessDenied" alert.
The browser console message is:
`Failed to load resource https://sg-serverless-stack-tutorial-01.s3.us-west-2.amazonaws.com/us-west-2%3A403eb53b-5dc4-47c2-9a61-340175902fd1-1513360210560-testfile.txt: the server responded with a status of 403 (Forbidden)`

It's not in the client afaik - I tried your client from the github repo and the error is th

[2017-12-15 17:56] d0ruk commented on #112
@jayair [repo](https://github.com/d0ruk/serverless-notes-app)

It maps the stack outputs to the apig-test CLI.

[2017-12-15 21:54] ohenneken commented on #38
Hi Jay,

Thnx for responding!

I am impressed with the amount of information yet clarity you guys have
composed these tutorials, it helps a lot!

I followed the chapter, but i guess something went wrong in the part where
i had to do:

aws cognito-idp admin-confirm-sign-up \
  --region us-east-1 \
  --user-pool-id YOUR_USER_POOL_ID \
  --username admin@example.com

I started on a windows computer b

[2017-12-16 02:55] littleredshack commented on #67
Yes. There was an option to allow AWS to update the DNS and I just clicked on that

Sent from Outlook Mobile

On Fri, Dec 15, 2017 at 12:01 PM -0500, "Jay V" <notifications@github.com> wrote:

@littleredshack Did you do the CNAME record in place of the email validation?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-12-16 06:53] SpencerGreene commented on #71
I will second and third the comments here - a great tutorial, well written and thorough.

If you were going to add anything else, I'd suggest a "forgot password" chapter, since that would show how to send the user an email.  And a +1 on the SEO comment above!

[2017-12-17 08:28] JackEdwardLyons commented on #19
Hi, where do I find my API_GATEWAY_ID ? When I deployed my API in the last chapter, all I got back was this response:

[code]

[2017-12-17 09:43] JackEdwardLyons commented on #112
How do I copy this into my terminal... everytime I copy and paste my code in, it just add a `>` for each new line... I can never run the code :(

[2017-12-17 09:52] mictian commented on #19
Hi @jayair,
Sorry for the delay. Thank you for your answer, that makes all the sense.
So no impersonation at all, got it, perfect :smile:  !

[2017-12-17 22:46] jayair commented on #49
@SpencerGreene Check the IAM role for your Identity Pool in this chapter - https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html

We set the permissions for what a client can access.

[2017-12-17 22:50] jayair commented on #67
@littleredshack I see. Yeah we might cover that option in the future.

[2017-12-17 22:52] jayair commented on #112
@JackEdwardLyons Are you on OS X or Windows?

[2017-12-17 22:57] jayair commented on #19
@JackEdwardLyons The format looks like this:

[code]

So yours would be, `akse8rq9w0`.

I'll add a note to the chapter to make it more clear.

[2017-12-18 00:08] JackEdwardLyons commented on #112
i'm on Mac OS X -- sorry I should have mentioned that above

[2017-12-18 00:48] jayenashar commented on #90
Hi there, I'm pretty new to react and am not using redux.  I have implemented code splitting with an async component as described in this chapter and it works great.  However, I call child component instance methods from parent components (e.g., `componentRef.triggerABC()`).  I'm not sure the proper way to do this with the `AsyncComponent` as a proxy, but I would like to share what I have done.

F

[2017-12-18 03:28] jefaramvangorp commented on #112
Hi, I am also getting the 502 error, but none of the above solutions proved helpful.

I think it has something to do with how the code is transpiled, because I can see the following error in cloudwatch:
[code]
I got this error before when I was testing the api calls locally with serverless. It turned out I was using an older version of node and upgrading to 8.9.3 resolved that issue.

I am using t

[2017-12-18 08:43] JackEdwardLyons commented on #112
Ok I'm getting closer. I managed to add a command to iTerm2 to allow copy and pasting into the terminal and not running the command immediately > [you can read the post here](http://brettterpstra.com/2014/11/14/safer-command-line-paste-in-iterm-2/) <

Now, I get an error ```Incorrect username or password``` even though I have created the user as listed in the earlier chapter.... Not sure what to d

[2017-12-19 06:23] SpencerGreene commented on #49
@jayair Thanks - fixed!  It looked to my eye like it matched what was in that chapter, but I copy-pasted over what I had just to be sure, and sure enough it started working - so I must have fat-fingered something.  (Curious - does AWS remember the history of my IAM role, so I can forensically analyze what I did wrong?)

[2017-12-19 08:46] SpencerGreene commented on #49
OK here's a question -- I'm trying to implement the delete attachment "exercise for the reader."  I see that the 'attachment' value stored in the database table is the full Location including the bucket name, whereas the deleteObject api wants the key in its own parameter.  Is there a recommended way to strip the bucket name off of the 'attachment'?  I can string-manipulate it, but that makes an a

[2017-12-20 14:08] maxdarque commented on #64
When I tried this on S3, I got a 403 response. Is it worth setting up Error page for a 403 response with a redirect to /index.html?

Same as this person https://medium.com/@omgwtfmarc/deploying-create-react-app-to-s3-or-cloudfront-48dae4ce0af

[2017-12-20 23:13] ryanattick commented on #18
@svj13 I'm having the same problem you had and can't figure it out. How did you verify the test user through AWS rather than through the command line?

[2017-12-21 06:13] spiraltrip commented on #28
When I want to redeploy my functions using `serverless deploy`, I get this error:

I have tried to deploy a single function, but was given this error:

All functions are working fine through API gateway, except update (when saving changes to an existing note), which I am trying to troubleshoot by redeploying all functions again.

[2017-12-21 08:16] lepirlouit commented on #40
It seems not to be a best practice to call setState in the componentDidMount function.

https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-did-mount-set-state.md

[2017-12-21 19:18] jayair commented on #40
@lepirlouit According to the React docs it is okay to call `setState` in `componentDidMount` since it handles cases where render gets called twice - https://reactjs.org/docs/react-component.html#componentdidmount

But in this chapter (and other instances in the tutorial) we only call `setState` asynchronously in `componentDidMount`. So we shouldn't run into a performance issue.

[2017-12-21 19:22] jayair commented on #90
@jayenashar I have not had a chance to try out the pattern of calling instance methods for async components. Hopefully, somebody else that comes across this has some ideas.

[2017-12-21 19:26] jayair commented on #112
@JackEdwardLyons I'm not sure what is going on with iTerm2 in this case but for this chapter - https://serverless-stack.com/chapters/create-a-cognito-test-user.html; can you ensure that you are creating a user with the password correctly?

Instead of copying and pasting can you try typing in the command yourself to make sure that it is being created correctly?

[2017-12-21 19:27] jayair commented on #112
@jefaramvangorp It seems like your code is not being transpiled properly. Can you check if you've completed this chapter - https://serverless-stack.com/chapters/add-support-for-es6-es7-javascript.html?

[2017-12-21 19:30] jayair commented on #49
@SpencerGreene As an exercise, removing the key from the url is okay. But the proper practice would be to store the key and the url.

[2017-12-21 19:37] jayair commented on #64
@maxdarque We do handle 404s in the demo app and return them as 200s. So [demo.serverless-stack.com/asd](https://demo.serverless-stack.com/asd) would return a 200 and React would display a message for us. Is that what you referring to?

[2017-12-21 19:38] jayair commented on #28
@spiraltrip So it works fine when you deployed the first time? But not when you make a change and deploy again?

[2017-12-21 20:36] maxdarque commented on #64
@jayair Yes the demo app handles 404s. I set up the 404 Error redirect however for some reason S3 would return 403s when I would refresh a react-router page i.e. www.example.com/example-react-router-route. So to handle this I setup 403 redirects to /index.html.

[2017-12-21 21:18] akolybelnikov commented on #28
I have encountered the same issue twice! With various error messages. I have re-deployed the functions without any changes with a new service name, i.e. completely fresh Lambda functions, and deleted the previous ones. After third “new” deployment all sebsequent redeployments started to work seamlessly. But it is true, that you cannot just create a completely new function and deploy it separately.

[2017-12-22 03:10] spiraltrip commented on #28
Hi @jayair it worked fine deploying it for the first time. I intentionally left Update API out when I first deployed them. Then I tried to deploy Update API much later as a standalone function, which failed. So I tried to deploy them all together but got this ENOTEMPTY error instead.

@akolybelnikov , I have re-deployed everything from scratch again and it worked this time. I did it by starting al

[2017-12-22 20:02] jefaramvangorp commented on #112
@jayair Thanks for your response. I found my error while I was typing a reply to your question. I feel really dumb now, but it turned out that I had added the babel config file as `babelrc` instead of `.babelrc` (not the dot in the second name). Renaming the file fixed the issue.

[2017-12-23 15:09] mdhendri commented on #38
With cognito how would you setup up the ability to reset ones password if the user forgot the password or even within the app?

-Michael

[2017-12-24 10:18] ohenneken commented on #38
Hi Jay,

Merry X-mas!

I worked through the tutorial but i did not get a "create" call to work
decently on the server.

I only got the "create" for the notes-scratch application to work via the
serveless invoke local, but never via the apig test. That returns an

500, Internal Server Error

If the serverless invoke local is capable of creating an item in the
DynamoDb on the server, apparently all

[2017-12-25 07:17] dannjoku1 commented on #29
npm ERR! missing script: start <--- can anyone help me figure out why this is happening?

[2017-12-25 16:30] ondrejpar commented on #16
You should probably mention that using wildcard in CORS configuration is wrong security-wise and definitely should not be used in production environment.

[2017-12-26 09:58] jayenashar commented on #90
@jayair the proxy got too complicated when i realised i needed to `apply` `this` for functions.  i got it working, but threw it out.  instead i use `innerRef` a la `styled-components`.  Separate to that, I saw a warning when calling `this.setState` if the component unmounts while `import`ing.  I also opted not to use `async`/`await` as it added to the bundle size.  I provide my modified functions

[2017-12-27 07:57] franchb commented on #55
@toddmcneill

After I tried to implement s3Delete function got `NotAuthorized` Exception:

`NotAuthorizedException: Access to Identity 'us-east-1:0288c67e-707d-4189-87e5-10e93f179817' is forbidden.`

I'm new to JS and can't understand why call `getAwsCredentials()` and don't catch its result.

[2017-12-27 10:24] ivyliolia commented on #28
Hello @jayair I've encountered the ```"Cannot find module 'babel-runtime/regenerator'"``` and I saw the same error message that some people above met:
[code]
The deploy is ok but when trying to test using apig, I keep getting this error. I've tried to use serverless 1.17 and ```sls remove``` then ```sls deploy``` too. Would you please help on this?

npm: 5.6.0
sls: 1.17.0
repo: https://github.com/

[2017-12-27 18:04] jayair commented on #38
@mdhendri It is a few extra steps but it is fairly straightforward. Cognito will send a code to the user and they can reset their password with the code and their new password. I might write a chapter on this at some point, but here is the sample code from the Cogntio JS SDK docs - https://github.com/aws/amazon-cognito-identity-js

[code]

[2017-12-27 18:06] jayair commented on #38
@ohenneken I'm not entirely sure based on what is happening here but a good place to start would be by checking the logs for API Gateway and Lambda. We have a chapter on this here - https://serverless-stack.com/chapters/api-gateway-and-lambda-logs.html

[2017-12-27 22:07] ohenneken commented on #38
Hi Jay,

Thnx for responding.

I have these logs up and running, and i have been nspecting them, but there
is no clear indication why some rest-calls do not work correctly.

There is one 'get' call i cannot get to work, while other work fine and i
cannot not get any create (or POST) call to work via the deployed api.

I can however run code that creates entries programmatically, using the
DynamoDb

[2017-12-27 22:33] jayair commented on #28
@ivyliolia Ah there is a typo on this line - https://github.com/ivyliolia/notes-app-api/blob/master/serverless.yml#L20

Change `- webpackIncludeModules: true` to `webpackIncludeModules: true`.

[2017-12-27 22:35] jayair commented on #29
@dannjoku1 I think there might an issue with your `package.json`. Can you compare it to the one in the tutorial?

https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/create-a-new-reactjs-app/package.json

[2017-12-27 22:45] jayair commented on #16
@ondrejpar Good point. Just added a note.

[2017-12-27 22:46] jayair commented on #90
@jayenashar That makes sense. Thanks for adding the context.

[2017-12-27 22:48] jayair commented on #55
@franchb Make sure to change the CORS setting to allow access to delete as well (as per @toddmcneill's comment).

[2017-12-27 22:51] jayair commented on #38
@ohenneken You should be able to inspect the Lambda logs to see why they are failing. What do the logs for the failed ones say?

[2017-12-28 00:02] ohenneken commented on #38
Hi Jay,

Well one error, for a create_favorite call gives this errors back on the
client:

app.js:118495 Uncaught (in promise) TypeError: Failed to execute 'fetch' on
'Window': Request with GET/HEAD method cannot have body.
    at _callee3$ (
http://localhost:8080/app.js?40601732f7eafe02cf81:118495:20)
    at tryCatch (http://localhost:8080/app.js?40601732f7eafe02cf81:98834:40)
    at Generator.in

[2017-12-29 16:00] picwell-mgeiser commented on #49
I'm getting a CORS error similar but not the same as others

I readacted the S3 bucket name:
new:1 Failed to load https://s3.amazonaws.com/-----.-----.----/us-east-1%3A4d25e339-bdc1-4c09-9c83-5b99893414ec-1514561788846-ecsv_10_2017%20%282%29.csv: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'ht

[2017-12-29 16:43] picwell-mgeiser commented on #49
I this because we're running the App from localhost and submitting to AWS without the react app setting a 'Access-Control-Allow-Origin' header?

[2017-12-29 16:56] HoraceShmorace opened #177 "Missing "Create new Identity Pool" step"
On https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html:

In between the "Select **Manage Federated Identities**" step, and the "Enter an **Identity pool name**" step, there should be a step to "Select **Create new Identity Pool**."

[2017-12-30 00:52] d0ruk commented on #165
I started one [here](https://github.com/d0ruk/serverless-notes-app). Frontend is halfway complete.

I applied the broad-strokes of the logic given in the book. WIP in the *dev* branch.

[2017-12-30 20:55] jayair commented on #38
@ohenneken The permissions for DynamoDB are set in the `serverless.yml` here https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L21

I'm not sure what your set up is and how it relates to the tutorial though.

[2017-12-30 20:58] jayair commented on #49
@picwell-mgeiser In this chapter - https://serverless-stack.com/chapters/create-a-cognito-identity-pool.html we give permissions to our users to upload to S3. It is in the section where we add the policy for our Identity Pool. Just make sure you have completed this step properly.

[2017-12-30 21:03] jayair commented on #177
@HoraceShmorace I guess that happens when a user has existing identity pools in their account. Just added a note. Thanks.

[2017-12-30 21:03] #177 closed

[2017-12-30 21:05] jayair commented on #165
@d0ruk Great! This is really helpful. Keep me posted on the progress. I'll go over it once I get a chance.

[2017-12-30 22:06] ohenneken commented on #38
Hi Jay,

Yeah forget it, i learnt a lot and have acquired some basis to decide later on to start using Aws and serverless. Surely stuff will work in the end.

Thnx for your answers!

Regards,

Oscar

Verstuurd vanaf mijn iPhone

[2017-12-31 01:15] omairhamid commented on #24
In "get.js", these are the first two lines:
`import * as dynamoDbLib from "./libs/dynamodb-lib";`
`import { success, failure } from "./libs/response-lib";`

I thought I had installed my AWS CLI and other tools correctly, but when I run my /mocks/get-event.json, I get the following error:

Module not found: Error: Can't resolve './libs/dynamodb-lib' in '<path>/notes-app-api'
 @ ./get.js 68:19-49

M

[2017-12-31 04:06] jayair commented on #24
@omairhamid We create both of these in the previous chapter here - https://serverless-stack.com/chapters/add-a-create-note-api.html#refactor-our-code

[2017-12-31 05:33] picwell-mgeiser commented on #49
I checked and the permissions look correct.

If I go into the IAM - Roles Cognito_NotesAppPoolAuth_role and expand the Policy and click on S3, under Write, the PutObject Resource = **BucketName | string like | pickme-sandbox-reactapp-files, ObjectPath | string like | ${cognito-identity.amazonaws.com:sub}* **

Also, would the error specifically say CORS error if it were a role config error?

[2017-12-31 14:30] omairhamid commented on #24
@jayair Thank you. I have no idea how I missed that. Happy new year!

[2017-12-31 21:19] jayair commented on #49
@picwell-mgeiser AWS doesn't make it easy to debug these. The main thing I would check is for typos in these. Make sure the bucket name is correct in the roles and while you are uploading them. And the region as well.

[2018-01-01 01:16] jayair commented on #114
@markuspelnens I've updated the `sigV4Client.js` to fix this. So we aren't using the URL object.

https://github.com/AnomalyInnovations/serverless-stack-demo-client/blob/master/src/libs/sigV4Client.js

[2018-01-02 09:09] markuspelnens commented on #114
Great! Was it also the cause for the issue other people were having?

[2018-01-02 18:08] jayair commented on #43
@staskh You could but in this case, we end up redirecting after the login is successful. So we don't have to explicitly handle it.

[2018-01-03 19:18] jayair commented on #114
@markuspelnens I'm not entirely sure, it's been really hard to track down.

[2018-01-04 13:49] d0ruk commented on #46
@jayair

Can you elaborate on this? Did you use to derive a dummy username from the email?

I am using aws-amplify for Auth. Signature of the [signUp function](https://github.com/aws/aws-amplify/blob/master/packages/aws-amplify/src/Auth/Auth.ts#L100) is

I *have to* supply a username. So I derive a username from the email, and do ```signUp(dummyName, password, email)```. However, this way, the use

[2018-01-05 14:23] appernetic commented on #22
Why not use SimpleDB instead of DynamoDB? Then you have two services that only run when you have a request.

How complicated would it be to use SimpleDB for this tutorial instead?

[2018-01-05 20:58] jayair commented on #46
@d0ruk We were setting the username manually. As in passing in the email as the username. The error you are getting is because you have the email as alias option enabled. This means users can login with either their username or email. But it does not allow usernames that are of the email format since you could have an unverified email as the username. In the tutorial we don't use this option.

[2018-01-05 21:06] jayair commented on #22
@appernetic We had looked into SimpleDB but it has some big limitations when you grow. Support for SimpleDB has also fallen behind for the SDK. So it isn't a very good option to invest in, if you are just starting off.

[2018-01-05 21:20] d0ruk commented on #46
@jayair

Thus, if I don't use any aliases, would the user pool accept signup/login flows with an email? As I linked above, the signUp() method requires a username.

I'm asking this because there might not be such an option in the aws-amplify API, yet. Cognito might be supportting it, however. I'm trying to discern what is possible with aws-amplify.

[2018-01-06 14:38] forste commented on #114
I had the same issue.
It's also logged here: https://github.com/AnomalyInnovations/serverless-stack-demo-client/issues/17 and here https://github.com/AnomalyInnovations/serverless-stack-com/issues/113.
fcostarodrigo found a work-around here: https://github.com/AnomalyInnovations/serverless-stack-com/issues/113#issuecomment-346095708

[2018-01-08 02:33] jayair commented on #46
@d0ruk Yeah I'm not sure about amplify. Are you not able to change the User Pool settings from the AWS Console?

[2018-01-08 02:34] jayair commented on #114
@forste Are you able to replicate it reliably? Does it happen every time for you? If so can you share your repo, I'd like to test it and fix it.

[2018-01-08 18:28] appernetic commented on #22
@jayair  Ok, thanks for the heads up. What are the big limitations when you grow?

[2018-01-08 18:59] appernetic commented on #22
I intend to use it for user data and each user has only 347 B of data. It will be read each time user signs in and written one time each month when subscription date is updated. Sounds like a perfect use case for SimpleDB.

[2018-01-08 21:52] appernetic commented on #22
I have researched both SimpleDB, DynamoDB and Aurora Serverless and DynamoDB seems to be the best option.

[2018-01-09 15:32] d0ruk commented on #46
@jayair

I'm trying to figure out the .yaml representation of the userpool in the tutorial. That's outside the scope of the book.

I'll leave it as is (derive username for login/verify) since it works. I'll note it somewhere here in case this turns out to be a no-no with aws-amplify.

Cheers.

[2018-01-09 19:23] appernetic commented on #113
A similar error also happens in the original code. I have followed the guide to this step and just got:

TypeError: __WEBPACK_IMPORTED_MODULE_0_aws_sdk_global__.util.crypto.lib.randomBytes is not a function

[2018-01-13 02:33] jayair commented on #113
@appernetic Can you share your repo? I need to try this out. It really should not happen.

[2018-01-14 14:16] xpresslanej commented on #113
@appernetic - see this thread: https://github.com/aws/amazon-cognito-identity-js/issues/646

[2018-01-17 03:07] walshe commented on #26
wouldn't it be a good idea to use a 'version' field for an optimistic locking approach ?

[2018-01-17 03:38] walshe commented on #23
nice..
just wondering if you guys had any thoughts on automated unit tests ?

[2018-01-19 01:12] jayair commented on #23
@walshe We created a starter project with support for unit tests - https://serverless-stack.com/chapters/serverless-nodejs-starter.html. I'm not sure if that is what you are looking for.

[2018-01-19 01:13] jayair commented on #26
@walshe Do you mean a version to keep track of the edits made to a note? You can definitely do that! We are just keeping it fairly simple in the tutorial.

[2018-01-19 01:26] walshe commented on #23
ah.. super, hadnt got to the bottom of the page yet
@jayair so one would basically use that template for each new serverless microservice ?

[2018-01-19 01:29] walshe commented on #26
@jayair not exactly, I am talking about handling concurrent updates, so that if an entity has changed between the time it takes someone to read and update the entity then the update would fail similar to an 'update x set a=, b=,c= where version=<expectedversion>'

[2018-01-19 21:40] kwhitejr opened #180 "Unit Tests"
This is a great tutorial, but I'm having a damnable time figuring out how to properly unit test the lambdas. Are there recommended methodologies for unit testing async lambdas? Do we mock the DynamoDB?

[2018-01-19 22:16] jayair commented on #23
@walshe Yeah that's what we use for our projects as well.

[2018-01-19 22:29] jayair commented on #26
@walshe Oh yeah I see what you are saying. That is definitely a good idea. I think we could cover it in an advanced chapter maybe?

For anybody else reading this; if two users are editing the same note, one could overwrite the other since we simply update the note with the passed in content. By adding a `version` field we can ensure that the note we are editing is the current version of it (as opp

[2018-01-19 22:35] jayair commented on #180
@kwhitejr Mocking is one way to do it. You can also use [DynamoDB Local](https://github.com/99xt/serverless-dynamodb-local).

Personally, we use unit tests on the parts of our code that are side-effect free. So we separate the actual DB call out. And integration tests would hopefully help cover the side-effect portions for you.

[2018-01-19 22:56] kwhitejr commented on #180
So, from this tutorial, you would unit test the `/libs/*` functions rather than the completed handlers, e.g. `/get.js`?

[2018-01-20 01:12] jayair commented on #180
@kwhitejr This function is pretty simplistic so the unit tests won't be useful here. But I would probably refactor the code to do something like this:

[code]

Where `params` in the `getDBParam` is simply returning the params object in the code above. In the test I would ensure that it handles invalid inputs for the `event` object. Not a terribly useful test for this case.

For the `dbResultToResp

[2018-01-20 02:57] walshe commented on #26
yeah I think you just need a condition expression in the update

[2018-01-20 14:53] glicht commented on #15
Hi,

I really like this tutorial and I think you've done an excellent job putting everything together.

I have a comment regarding the permissions granted in serverless.yml. Using the "*" operator for the resource part of DynamoDB is really not good practice, security wise.

I would suggest using: `arn:aws:dynamodb:us-east-1:*:table/notes` instead.

Also, serverless supports defining Cloud Formati

[2018-01-20 16:38] kwhitejr commented on #180
@jayair Every little bit helps, thanks for the advice! I'm at the beginning of my test-writing career, so I value any input. I see why those abstractions are not terribly useful, but they are illustrative in a helpful way. Thanks!

[2018-01-20 16:47] walshe commented on #28
each time I use serverless to deploy my service it seems to give a new prefix to the api gateways.. thus screwing up oauth callback urls I have configured elsewhere

e.g  GET - https://c1d3sunyxx.execute-api.us-east-1.amazonaws.com/prod/bc/oauth

after a new deploy it might be something like

https://yyyyyyyyy.execute-api.us-east-1.amazonaws.com/prod/bc/oauth

is there a simple way to get around t

[2018-01-20 18:10] jonasbarsten commented on #63
Should maybe add --delete to

`aws s3 sync build/ s3://YOUR_S3_DEPLOY_BUCKET_NAME --delete`

So that the changes don't accumulate.

Before I did that, earlier versions were buffered and the correct version was not always rendered.

[2018-01-21 18:00] walshe commented on #38
hey guys, looking for some advice if you got any..

So this cognito stuff is really great, especially for managing users but also for using their authentication to get temporary user credentials in order to access secured api gateways.

I have a slightly different situation but wondering if I could somehow stay close to the same pattern/principles you guys are using.

So here is my situation..  (b

[2018-01-21 20:57] sgrinspoon commented on #63
I'm getting the following response, "npm ERR! missing script: build"

What can I do to address this?

[2018-01-21 22:12] valmonaco opened #182 "image for deselect Use default settings"
In chapters/create-a-dynamodb-table.html the instructions given are:
   If you see the following message, deselect **Use default settings**.

The image below this instruction ( serverless-stack-com/assets/dynamodb/auto-scaling-iam-role-warning.png)  shows a check in the checkbox next to Use default settings.  I believe that the image would be clearer showing the checkbox deselected (to match the i

[2018-01-22 02:50] walshe commented on #48
running into some issues calling apis from react app, any ideas ?

POST https://xxx.execute-api.us-east-1.amazonaws.com/prod/notes 403 ()
notes/new:1 Failed to load https://xxx.execute-api.us-east-1.amazonaws.com/prod/notes: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access. The response had HTTP status code

[2018-01-22 19:13] jayair commented on #180
Great. I'll close this issue for now.

[2018-01-22 19:13] #180 closed

[2018-01-22 22:55] sgrinspoon commented on #63
I figured it out -- I ran a few of the npm install scripts in my root directory as opposed to my working directory. never mind!

[2018-01-23 01:53] walshe commented on #48
strangely when the UI hits the list function, it actually reaches the function but get a 500 inside due to a pretty empty event.requestContext.identity:

cognitoidentity id is {"cognitoIdentityPoolId":null,"accountId":null,"cognitoIdentityId":null,"caller":null,"sourceIp":"xx.xxx.xxx","accessKey":null,"cognitoAuthenticationType":null,"cognitoAuthenticationProvider":null,"userArn":null,"userAgent":

[2018-01-23 02:55] walshe commented on #48
followed this to resolve my issue - https://serverless-stack.com/chapters/debugging-serverless-api-issues.html
turns out of course that the original api prefix that I had specified in the role policy was now wrong because a new 'serverless deploy' had deployed apis to new url prefix

[2018-01-23 14:56] jayair commented on #15
@glicht Thanks for this. For the early chapters in the tutorial we would prefer it is done through the UI. But we are looking into creating a CloudFormation stack for the entire tutorial setup. And there is an open issue for this since certain parts of the Cognito setup are not supported in CloudFormation yet.

For the permissions, it is good practice to be as specific as possible for the IAM role

[2018-01-23 14:58] jayair commented on #28
@walshe These remain constant as long as the `service` name remains the same in your `serverless.yml` - https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L1 and as long as you don't do a `serverless remove` in between.

[2018-01-23 15:09] glicht commented on #15
Sure.  Just to add, I am using your demo app in a recent walk through I've written on how to achieve least privilege permissions via X-Ray. You can read it here: https://medium.com/@glicht/using-aws-x-ray-to-achieve-least-privilege-permissions-93dfd6701318 . As part of this process, I've also created a branch which enables X-Ray if you are interested: https://github.com/glicht/serverless-stack-dem

[2018-01-23 15:10] jayair commented on #38
@walshe Yeah this isn't straightforward but here is how I would do it. I haven't tried it but theoretically it should work.

1. Create/Auth the user using the Admin Cognito APIs (https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_AdminCreateUser.html). This needs to be done in your serverless backend and not in the client since you don't want to expose the Admin APIs p

[2018-01-23 15:15] jayair commented on #182
@valmonaco Yeah that makes sense. Adding it in. Thanks for taking the screenshot and formatting it the right way.

[2018-01-23 15:15] #182 closed

[2018-01-23 15:20] walshe commented on #38
thanks @jayair , actually I was thinking more since and thing I could further simplify:

so when BigCommerce forwards to my /bc/oauth and when bigCommerce.authorize(JSON.stringify(event.queryStringParameters)) succeeds, I do the following:

1. I check if cognito user exists, if not , I create the new cognito user there with an attribute connecting user to the bigcommerce store (in the meantime an

[2018-01-23 15:21] jayair commented on #15
@glicht The blog post looks great. I'll make a note of it and add it in an advanced chapter. Thanks!

[2018-01-23 15:22] walshe commented on #28
@jayair  ah, thanks :)

[2018-01-23 15:23] jayair commented on #38
@walshe Yeah this would be a lot simpler than handling the sessions yourself.

[2018-01-23 16:22] teejK commented on #39
JS noob here: originally read `{component: C, props: cProps, ...rest}` as an object,
but `C` and `cProps` are aliases for `component` and `props`.

`export default ({ component: C, props: cProps, ...rest })`

Could you name this behaviour so I can look up documentation for it or link to documentation for this behaviour so I can better understand how/when to use it?

[2018-01-23 17:16] jayair commented on #39
@teejK Yeah it's called Destructuring https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment

[2018-01-23 21:14] walshe commented on #38
@jayair one other question.

There will be an admin (maybe more than one) user for the react app.

I have a requirement that this admin once logged in to be able to 'log in as' another user. I guess I could pass the id or something of the 'other' cognito user as an extra 'asUserId' param to each api call and then on the server side check that the caller is ADMIN and the existence of the extra user

[2018-01-24 22:39] walshe commented on #59
If I want one or more special admin users of the app. How is the best way to handle this a) on the Cognito side and b) on the client side

Unsure if its IAM roles I should be using or the Groups facility in Cognito.

i.e. when a regular user signs up I would like them to have a 'APP_USER' role or something that I can also get from the currentUser variable on the frontend side (so that I can render

[2018-01-25 01:04] starkos commented on #24
When running…

    serverless invoke local --function get --path mocks/get-event.json

I get the error…

     Unexpected token u in JSON at position 0

Which appears related to [this SO question](https://stackoverflow.com/questions/43959961/serverless-lambda-function-throwing-error-when-trying-to-insert-data-into-dynamo).  Adding…

    "body": "{\"text\":\"\"}"

…to `get-event.json` fixed it.

[2018-01-25 06:49] kevinlbatchelor commented on #39
Writing unreadable code like this is ridiculous, we write code for people to read not computers.

 `export default ({ component: C, props: cProps, ...rest }) => <Route {...rest} render={props => <C {...props} {...cProps} />} />;`

the spread operator is still tricky, but here is the same code written more verbosely, and perhaps easier to read, which IMO should be apart of an good tutorial

`import

[2018-01-25 06:53] takeuchie commented on #22
guys..if i want to add 'src' directory to store all my codes, what do i need to add or change in the webpack.config.js file ..? thank.

[2018-01-25 13:48] danielkaczmarczyk commented on #49
I have the very same issue as @picwell-mgeiser does. Have tried all methods in this (and other) threads. I have used an Allow-Control-Origin-* chrome extension to omit the requirement by enabling cross-origin response sharing and it helps with the preflight authorization but doesn't fix the fact that I get the 301 result. The current error is Response for preflight has invalid HTTP status code 301

[2018-01-25 20:28] jayair commented on #22
@takeuchie You just need to change the line in `serverless.yml` where the handler is referenced with the new path. So `handler: create.main` changes to `handler: src/create.main`.

https://github.com/AnomalyInnovations/serverless-stack-demo-api/blob/master/serverless.yml#L39

[2018-01-25 20:44] jayair commented on #39
@kevinlbatchelor While what you are saying is true; I get plenty of comments from other folks who look at a simplified version and tell us that we should use the "modern version" because it's more "efficient".

That said, I do think code like this (as it is in a lot of other languages) will become more common as it gets adopted. There are going to be some growing pains for the JS world. In fact, t

[2018-01-25 20:46] jayair commented on #38
@walshe I don't think there is a built-in way to do this with Cognito (I'm not entirely sure though). So you'd probably have to come up with a solution that works for you.

[2018-01-25 21:01] walshe commented on #38
@jayair thanks

[2018-01-26 00:24] omairhamid commented on #25
Hi, apologies if this doesn't belong here because of the modification I made, but I'm trying to write the "list all notes" API with a minor modification and running into an issue:

In **list.js**, I have this:
`const params = {
    TableName: "notes",
    IndexName: "teacher-index",
    KeyConditionExpression: "teacher = :teacher",
    ExpressionAttributeValues: {
      ":teacher": event.pathParam

[2018-01-26 01:06] jayair commented on #59
@walshe Yeah as I was saying in the other thread, I'm not sure if there is a built-in way to do this.

[2018-01-26 01:13] jayair commented on #49
@danielkaczmarczyk And does this happen just for file uploads? Or for other API calls as well?

[2018-01-26 09:18] takeuchie commented on #22
@jayair thanks mate..

[2018-01-26 19:01] walshe commented on #38
re my [comment](https://github.com/AnomalyInnovations/serverless-stack-com/issues/38#issuecomment-359823452) above..

It turns out that BigCommerce doesnt want a user to have to login to the app a second time once validated by the oauth callback.. (i.e. when they click my app link from inside bigcommerce)

So, in my oauth serverless callback, if I create the Cognito user, (and save some info in a

[2018-01-27 15:43] danielkaczmarczyk commented on #49
@jayair Only on file uploads. I try to send a file, first I get a 200 GET from s3 with all cors headers set correctly, and after that, the OPTIONS call gets 301'd, the very same way as @picwell-mgeiser has described.

[2018-01-27 20:11] michaelcuneo commented on #49
I have a feeling that something has gone and changed on AWS end... my app worked up until about a month back and now all of a sudden it doesn’t, with zero changes on my end at all. The push to database works fine, push to S3 does not. Just like what everyone else is experiencing. I’ve been trying to track this down for ages.

[2018-01-27 23:34] bharloe commented on #49
For what it's worth the push to S3 still works fine for my app which I haven't touched in months

[2018-01-27 23:47] jayair commented on #24
@starkos That shouldn't be the case for a GET request. Can you check your `serverless.yml` and ensure that `method: get` is set for this function?

[2018-01-27 23:56] jayair commented on #25
@omairhamid That looks okay and it should work. Can you just make sure that that it is stored and queried with a space in the middle and not a tab or something? Since `Bill` is working, it should be fine.

[2018-01-28 00:04] jayair commented on #49
@danielkaczmarczyk Can you go into the IAM section of your AWS Console and find the role that is being used? Here are some screenshots on how to do it.

[Image 1](https://d33wubrfki0l68.cloudfront.net/d3c8486a04f3baea259053ef45cdc09c3e4d9b0b/90cbc/assets/debugging/select-iam-service.png)
[Image 2](https://d33wubrfki0l68.cloudfront.net/fbc6e501d1350a7177a00cf593d0749d14c6e326/a5e6f/assets/debugging

[2018-01-28 10:52] danielkaczmarczyk commented on #49
Here's my IAM policy for cognito

`{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "mobileanalytics:PutEvents",
                "cognito-sync:*",
                "cognito-identity:*"
            ],
            "Resource": [
                "*"
            ]
        },
        {
            "Effect": "Allow",

[2018-01-29 00:50] jayair commented on #49
@danielkaczmarczyk That looks good. Can you also check the permissions for your S3 bucket?

[Image](https://d33wubrfki0l68.cloudfront.net/c322c5878440689d29ac5f6eb328a57cfd05589c/dc328/assets/s3/select-s3-bucket-cors-configuration.png)

[2018-01-29 06:37] danielkaczmarczyk commented on #49
here:

[code]

[2018-01-29 19:50] jayair commented on #49
@danielkaczmarczyk Yeah that looks okay too. I can try your repo out and see what I can find. Can you publish it?

[2018-01-29 19:52] jayair commented on #24
@starkos I see. This is weird. Which version of Serverless are you using?

[2018-01-29 20:05] danielkaczmarczyk commented on #49
many thanks for the effort, @jayair ! Here's the [backend](https://github.com/danielkaczmarczyk/serverlessNotes) and here's the [client](https://github.com/danielkaczmarczyk/serverlessNotesClient) should you need it

[2018-01-29 20:31] starkos commented on #24
1.25.0

[2018-01-29 20:33] jayair commented on #49
@danielkaczmarczyk So I tried it out. I noticed that your bucket is in `us-east-2`. This isn't a problem but it needs a slight tweak to the code before we do the upload.

[code]

I created a new S3 bucket in `us-east-2` using the tutorial instructions. And used your code base and my credentials and the upload worked. But it still didn't work on your bucket.

I cannot check what the settings are on

[2018-01-30 07:07] danielkaczmarczyk commented on #49
I have created a new bucket, in us-east-2 (Ohio), amended `config.js` with the new value for `BUCKET`, amended the IAM policy for Cognito to make sure that I give it access to write to this particular bucket, and I get a 403 `Bucket not found` as if the authentication didn't work. No more error details present

[2018-01-30 07:59] danielkaczmarczyk commented on #49
Ok, I have gone back & forth with different configurations and it has eventually worked. Not sure what exactly has made the difference, as upon inspecting the details it seems that all is as was during previous 'correct' versions. I blame that on human error - I may have mistyped something. The only takeaway that I'm sure of is that if the bucket was in `us-east-1`, which is N. Virginia, it always

[2018-01-31 10:06] qwtel commented on #113
For anybody who'd rather not depend on a JS crypto implementation, I've created a [modified version of `sigV4Client.js`][1] that uses the Web Cryptography API. It only uses crypto-js as a fallback.

Since web crypto uses promises, `signRequest` now needs to return a promise as well.
You'll have to add an extra `await` when using it:

[code]

Unrelated: This tutorial series is amazing.

[1]: https:

[2018-01-31 17:42] sanbeaman commented on #113
Great info on this topic!
I modified your project for what I thought would be a simpler task, but I'm having a fetch / CORs issue.

So I know the following issue is NOT an issue with your code, but I'm hoping someone can point me in the right direction.  Because I've made the following changes:
1. DynamoDb has a single primary key, no sort key
2. I'm still using Congnito & Federated Identities,  b

[2018-01-31 21:52] topguncharl commented on #21
in last ls response is 5 files not 4 -> handler.js		node_modules		package-lock.json	package.json		serverless.yml

[2018-01-31 21:55] harleyguru commented on #35
@jayair Thanks for your amazing guide at first!

While I walk through your tutorial so far, this was the hardest chapter for me too..
I have just basic react knowledge and so this is somewhat difficult for me to understand fully.

Especially, I always have troubles with how to find all available props or methods of any react component (ex: Route component used here).
Any good and unified way to fi

[2018-01-31 23:37] jayair commented on #24
@starkos Can you try it with the repo in the tutorial and see if you get the same thing? https://github.com/AnomalyInnovations/serverless-stack-demo-api/tree/add-a-get-note-api

[2018-01-31 23:38] jayair commented on #49
@danielkaczmarczyk Glad you figured it out. These can be tricky to debug!

[2018-01-31 23:41] jayair commented on #113
@sanbeaman If you are having some trouble debugging this and you think you've looked at all the usual suspects, I'd suggest trying to look through the logs and seeing what is going on - https://serverless-stack.com/chapters/api-gateway-and-lambda-logs.html.

[2018-01-31 23:43] jayair commented on #21
@topguncharl Thanks for the heads up. Tweaked the wording in the chapter.

[2018-01-31 23:45] jayair commented on #35
@harleyguru I'm not sure about the unified docs but I've found the React Router docs to be very helpful. Here is the one to the Route component, in case you haven't seen it before - https://reacttraining.com/react-router/web/api/Route

We also try to not use a lot of external libraries so you don't have to refer too much too these.

[2018-02-01 00:34] harleyguru commented on #35
@jayair Thanks so much for your quick and sincere help!

I got the fact there is no unified docs for React components. I've been working as a iOS developer and loved so much Apple's documentation.

But while I move onto the other platforms, I have so troubles in finding good documentations for components.

My one asking is that you didn't put so much detailed explanation regarding React basics and

[2018-02-01 00:36] harleyguru commented on #35
@jayair btw, could you also write some tutorials like this for using Firebase and Angular?

[2018-02-01 06:44] harleyguru commented on #35
@jayair , btw I've found out some small points in your code:
`<NavItem
        onClick={e => history.push(e.currentTarget.getAttribute("href"))}
        {...props}
        active={match ? true : false}

here, {...props} itself will place href prop in NavItem element, so wondering why you used onClick for that purpose again.

Any specific reason why you used onClick function there?

[2018-02-01 15:28] teejK commented on #55
Just a question about this bit
[code]

what's `...this.state.note` doing? isn't it redundant?

[2018-02-01 21:33] sanbeaman commented on #113
@jayair thanks for the response.  I've since removed the serverless API's and have started to research IAM , Cognito, etc... in more detail.  The guides helped me thru a number of things, and I hope to revist the cloudformation and s3 upload info at a later date! thank you

[2018-02-03 00:10] jdbohrman commented on #23
Anyone know what is going on here? I just got done working out a 500 error and now this is popping up,

![screenshot from 2018-02-02 19-08-43](https://user-images.githubusercontent.com/27848025/35760199-c59a5e9e-084c-11e8-897a-bda89ddb92b4.png)

[2018-02-03 08:45] shawnnolanjr commented on #28
Just a heads up, I was also getting "Internal Server Error", and after checking the logs saw "Unable to import module 'create'". Going back through the code and files noticed my package.json file got wiped out some how. Put that back and all on track now.

Moral of the story, CloudWatch logs is where its at!

[2018-02-03 22:29] farrantch commented on #35
Hey jayair, I ran into a small issue that I thought I would share here.

I believe that the **RouteNavItem** object should be wrapped with **LinkContainer** from react-router-bootstrap. I had some dynamic content on my pages and the absent **LinkContainer** caused each of my pages to reload twice when navigating between them.

See here: https://stackoverflow.com/a/36933127

Code ends up looking li

[2018-02-04 08:06] topguncharl opened #184 "swap "And we invoke our newly created function" to "And invoke our function from the root directory of the project.""
Proposal for change, swap "And we invoke our newly created function" to "And invoke our function from the root directory of the project."

[2018-02-04 08:16] shawnnolanjr commented on #55
@toddmcneill You could just use the "authUser" method inside "s3Delete" instead of passing the token to the function, since you're already logged in at this point. I think by not displaying how you saved the "this.props.userToken" you're passing to the s3 delete function, it could be confusing for some. But nonetheless, good snippet.